/* specific styles for sbu nav */

.nav-elements-container {
	position: relative;
}

.quick-nav {
	background-color: #292929;
}

.quick-nav ul {
	
}

.quick-nav ul li {
	text-align: center;
	float: left;
	width: 20%;
}

.quick-nav a,
.quick-nav .more-trigger,
.quick-nav .audience-trigger {
	text-decoration: none;
	border: 0 none;
	color: #ddd;
	display: block;
	padding: 10px 5px;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family:'Trade Gothic W01 Cn 18';
}

.quick-nav a .icon,
.quick-nav .more-trigger .icon,
.quick-nav .audience-trigger .icon {
	min-height: 32px;

}

.quick-nav .more-trigger,
.quick-nav .audience-trigger {
	cursor: pointer;
}

.quick-nav a:hover,
.quick-nav a.selected,
.quick-nav .more-trigger:hover,
.quick-nav .more-trigger.selected,
.quick-nav .audience-trigger:hover,
.quick-nav .audience-trigger.selected {
	background-color: #990000;
	color: #f7f7f7;
}

.quick-nav .icon {
	font-size: 30px;
}

.quick-nav .icon.fa-mobile {
	font-size: 40px;
	line-height: 30px;
}

.quick-nav .label {
	display: block;
	width: 100%;
	margin: 5px 0 0;
}







.audience-nav {
	background: #eee;
	font-family:'CenturyExpandedLTW01-It';
}

.dropdown-nav {
	margin: 0 auto;
	float: none;
}

.dropdown-nav a {
	border-bottom: 0 none;
}

.dropdown-nav a:before {
	font-family: FontAwesome;
	content: "\f005";
	margin-right: 8px;
	font-size: 10px;
	display: inline-block;
	float: left;
	color: #a00;
}

.dropdown-nav a:hover:before {
	color: #fff;
}





.main-nav-list a span:before {
	font-family: FontAwesome;
	content: "\f005";
	margin-right: 13px;
	font-size: 9px;
	display: inline-block;
	float: left;
	color: #fff;
	line-height: 1.65em;
}

.main-nav-list a:hover span:before {
	color: #fff;
}




.more-nav {
	background-color: #333;
	display: none;
	overflow: hidden;
	box-shadow: 0px 12px 20px -16px #000 inset, 0px -12px 20px -12px #000 inset;
}

.more-nav ul {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 0;
}

.more-nav ul li {
	display: block;
	width: 100%;
	float: left;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.more-nav a {
	text-decoration: none;
	border: 0 none;
	color: #ddd;
	display: block;
	padding: 10px 5px;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family:'Trade Gothic W01 Cn 18';
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 45px;
}

.more-nav a:hover {
	background-color: #990000;
	color: #f7f7f7;
}

.more-nav .icon-wrapper {
	float: left;
	display: block;
	width: 40px;
	text-align: center;
	margin: 0 4px 0 0;
}

.more-nav .icon {
	font-size: 22px;
}

.more-nav .icon.fa-mobile {
	font-size: 30px;
	line-height: 17px;
}

.more-nav .label {
	margin: 2px 0 0;
	float: left;
	font-size: 16px;
}

/* Primary styles for logo container on $page_cat='main' */

.logo-container {
	background-color: #fff;
	padding: 16px 10px 16px;
	box-shadow: 0px 8px 11px -12px #555 inset, 0px -8px 11px -11px #333 inset;
	width: 100%;
}

.logo-container .logo {
	max-width: 357px;
	height: auto;
	margin: 0 auto;
}

.logo-wrapper img {
	width: 80%;
	margin: 0 auto;
	display: block;
	padding-right: 10px;
}

.logo-wrapper .site-tagline {
	display: none;
}

.logo-wrapper .site-tagline span {
	font-family:'Trade Gothic W01 Bold';
}

	/* Override styles for other $page_cat's e.g. 'sub' */

	.page-cat-sub.logo-container {
		background-color: #fff;
		padding: 16px 0 0;
		box-shadow: 0px 8px 11px -12px #555 inset, 0px -8px 11px -11px #333 inset;
		width: 100%;
	}

	.page-cat-sub.logo-container .logo {
		max-width: 357px;
		height: auto;
		margin: 0 auto;
	}

	.page-cat-sub.logo-container h1.site-name {
		width: 100%;
		font-size: 2.2em;
		text-align: center;
		border-top: 1px solid #ddd;
		margin: 15px 0 0 0;
		padding: 15px 0 20px 0;
		box-shadow: 0px 8px 11px -12px #555 inset;
		background: #f9f9f9;
		text-shadow: 0 1px 0 #fff;
	}

	.page-cat-sub .logo-wrapper img {
		width: 80%;
		margin: 0 auto;
		display: block;
		padding-right: 10px;
	}

	.page-cat-sub .logo-wrapper .site-tagline {
		display: none;
	}

	.page-cat-sub .logo-wrapper .site-tagline span {
		font-family:'Trade Gothic W01 Bold';
	}








.site-nav,
.sub-nav {
	height: auto;
	padding: 0;
	background: #900;
	width: 100%;
	display: block;
	position: relative;
	color: #eee;
	text-shadow: 0 1px 0 #500;
	min-height: 48px;
	z-index: 100000;
	box-shadow: 0px 8px 11px -10px #333;
}

/* since mobile sticky == problems, force sticky site-nav to un-stick on mobile */

@media only screen and (min-width: 0px) and (max-width: 1022px) {

	.audience-nav {
		display: block !important;
	}
	.site-nav,
	.sub-nav {
		position: relative !important;
	}
	.main-nav-container .sticky-wrapper {
		height: auto !important;
	}
	.cd-dropdown ul li {
		width: 300px !important;
	}
}

.site-nav .search-container,
.sub-nav .search-container {
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	background: #900;
	width: 75%;
	height: 48px;
}

.search-container input[type="text"] {
	padding: 0 2px 0 10px;
	border: 1px solid #900;
	border-radius: 3px 0 0 3px;
	float: left;
	color: #fff;
	height: 34px;
	margin: 7px 0 7px 10px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border-radius: 3px;
	font-family: 'Trade Gothic W01 Light';
}

.search-container ::-webkit-input-placeholder {
	font-weight: normal;
	color: #eeeeee;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family: 'Trade Gothic W01 Light';
}

.search-container :-moz-placeholder { /* Firefox 18- */
	font-weight: normal;
	color: #eeeeee;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family: 'Trade Gothic W01 Light';
}

.search-container ::-moz-placeholder {  /* Firefox 19+ */
	font-weight: normal;
	color: #eeeeee;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family: 'Trade Gothic W01 Light';
}

.search-container :-ms-input-placeholder {
	font-weight: normal;
	color: #eeeeee;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family: 'Trade Gothic W01 Light';
}

.search-container button[type="submit"] {
	padding: 0 10px;
	font-family: 'Trade Gothic W01 Light';
	font-size: 16px;
	border-radius: 0;
	width: 40px;
	border: 1px solid #900;
	background: none;
	border-left: 0 none;
	color: #eee;
	outline: 0;
	float: left;
}

.site-nav .search-container button[type="submit"],
.sub-nav .search-container button[type="submit"] {
	height: 34px;
	margin: 5px 0 7px 0;
	width: 30px;
}

.site-nav .search-container button .icon,
.sub-nav .search-container button .icon {
	margin-top: -1px;
	display: block;
}


.site-nav .search-container input[type="text"],
.sub-nav .search-container input[type="text"] {
	width: 85px;
	border: 1px solid #800;
	box-shadow: 0 0 15px #800 inset;
}

.site-nav .search-container input[type="text"]:focus,
.site-nav .search-container input[type="text"].focus,
.sub-nav .search-container input[type="text"]:focus,
.sub-nav .search-container input[type="text"].focus {
	font-family: 'Trade Gothic W01 Light';
	width: 110px;
}

.search-container input[type="text"]:hover,
.search-container input[type="text"].hover {
	border: 1px solid #800;
	box-shadow: 0 0 15px #800 inset;
}

.search-container input[type="text"]:focus,
.search-container input[type="text"].focus {
	background: #e7e7e7;
	border: 1px solid #800;
	box-shadow: 2px 2px 8px #777 inset;
	color: #333;

}

.search-container input[type="text"]:focus::-webkit-input-placeholder,
.search-container input[type="text"].focus::-webkit-input-placeholder {
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.search-container input[type="text"]:focus:-moz-placeholder,
.search-container input[type="text"].focus:-moz-placeholder { /* Firefox 18- */
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.search-container input[type="text"]:focus::-moz-placeholder,
.search-container input[type="text"].focus::-moz-placeholder {  /* Firefox 19+ */
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.search-container input[type="text"]:focus:-ms-input-placeholder,
.search-container input[type="text"].focus:-ms-input-placeholder {
	color: #333;
	text-shadow: 0 1px 0 #fff;
}

.search-container button[type="submit"]:hover,
.search-container button[type="submit"].hover {
	
}

.search-container button[type="submit"]:active,
.search-container button[type="submit"].active {
	
}


.site-nav .menu-trigger,
.sub-nav .menu-trigger {
	float: right;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 25%;
	text-align: right;
	padding: 12px 10px 0 0;
	background: #900;
	height: 46px;
	border: 0 none;
	border-width: 0;
	outline: 0 none;
}

.site-nav .menu-trigger .icon,
.sub-nav .menu-trigger .icon {
	font-size: 24px;
}

.site-nav ul,
.sub-nav ul {
	margin: 48px 0 0 0;
	padding: 0;
	display: none;
	overflow: hidden;
}

.site-nav ul li,
.sub-nav ul li {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #800;
}

.site-nav a,
.sub-nav a {
	text-decoration: none;
	border: 0 none;
	color: #eeeeee;
	display: block;
	padding: 14px 5px 14px 15px;
	text-shadow: 0 1px 0 #000;
	font-size: 14px;
	font-family:'Trade Gothic W01 Cn 18';
	font-family:'Trade Gothic W01 Light';
}

.site-nav a:hover,
.site-nav .selected a,
.site-nav ul a.selected,
.sub-nav a:hover,
.sub-nav .selected a,
.sub-nav ul a.selected {
	background-color: #222;
	color: #f7f7f7;
}

.site-nav ul:hover .selected a,
.sub-nav ul:hover .selected a {
	background-color: #700 !important;
}

.site-nav ul:hover .selected a:hover,
.sub-nav ul:hover .selected a:hover {
	background-color: #222 !important;
}

.site-nav .label,
.sub-nav .label {
	display: block;
	width: 100%;
}



.footer-container {
	background-color: #292929;
	padding: 10px;
	text-align: center;
}

.footer-container {

}

.footer-bar span {
	font-size: 12px;
	color: #eee;
	font-family:'Trade Gothic W01 Light';
	display: block;
	margin: 0 0 4px 0;
}













@media only screen and (min-width: 310px) {
	.more-nav ul li {
		width: 50%;
	}

	.logo-wrapper .site-tagline {
		width: 100%;
		text-align: center;
		font-family:'Trade Gothic W01 Light';
		letter-spacing: -.025em;
		color: #777;
		font-size: 11px;
		margin: -6px 0 0;
		display: block;
	}
	.site-nav .search-container input[type="text"],
	.sub-nav .search-container input[type="text"] {
		width: 110px;
	}
	.site-nav .search-container input[type="text"]:focus,
	.site-nav .search-container input[type="text"].focus,
	.sub-nav .search-container input[type="text"]:focus,
	.sub-nav .search-container input[type="text"].focus {
		width: 160px;
	}
	.logo-wrapper .site-tagline {
		font-size: 12px;
	}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    .logo-wrapper img {
		width: 100%;
	}
	.logo-wrapper .site-tagline {
		font-size: 13px;
	}
	.site-nav .search-container input[type="text"],
	.sub-nav .search-container input[type="text"] {
		width: 140px;
	}
	.site-nav .search-container input[type="text"]:focus,
	.site-nav .search-container input[type="text"].focus,
	.sub-nav .search-container input[type="text"]:focus,
	.sub-nav .search-container input[type="text"].focus {
		width: 170px;
	}
}

@media only screen and (min-width: 490px) {
    .more-nav ul li {
	    width: 33.333%;
	}

	.site-nav ul li,
	.sub-nav ul li {
		display: block;
		width: 50%;
		float: left;
		text-align: left;
	}

	.site-nav a,
	.sub-nav a {
		padding-left: 25%;
	}

	.site-nav ul li:nth-child(2n+1),
	.sub-nav ul li:nth-child(2n+1) {
	    border-right: 1px solid #800;
	}

	.site-nav ul li:nth-last-child(2),
	.sub-nav ul li:nth-last-child(2) {
	    border-bottom: 1px solid #800;
	}

	.footer-bar span {
		display: inline-block;
		padding-right: 8px;
		padding-left: 11px;
		border-right: 1px solid #aaa;
	}

	.footer-bar span + span {
		border-left: 1px solid #111;
	}

	.footer-bar span:last-child {
		border-right: 0 none;
	}
	
}

@media only screen and (min-width: 768px) {
    .more-nav ul {
	    padding-left: 4%;
    }
    .more-nav ul li {
	    width: 24%;
	}

	.site-nav ul li,
	.sub-nav ul li {
		display: block;
		width: 33.333%;
		float: left;
	}

	.site-nav ul li:nth-child(n+1),
	.sub-nav ul li:nth-child(n+1) {
	    border-right: 1px solid #800;
	}

	.quick-nav ul li {
		float: left;
		width: 14.28%
	}

}
@media only screen and (min-width: 960px) {
	.cd-dropdown {
		width: 100% !important;
		margin: 0 !important;
	}

	.cd-dropdown .cd-dropdown-label {
		display: none;
	}

	.cd-dropdown ul {
		display: block;
		top: auto !important;
		position: relative !important;
		width: 960px !important;
		margin: 0 auto !important;
	}

	.cd-dropdown ul li {
		top: auto !important;
		left: auto !important;
		position: relative !important;
		z-index: 1005;
		display: block !important;
		float: left;
		margin-left: 0px;
		opacity: 1;
		-webkit-transform: none;
		transition: all 200ms ease;
		-webkit-transition: all 200ms ease;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}

	.cd-dropdown ul li[data-value="1"] {
		width: 17% !important;
	}

	.cd-dropdown ul li[data-value="2"] {
		width: 17% !important;
	}

	.cd-dropdown ul li[data-value="3"] {
		width: 19% !important;
	}

	.cd-dropdown ul li[data-value="4"] {
		width: 11.5% !important;
	}

	.cd-dropdown ul li[data-value="5"] {
		width: 13.5% !important;
	}

	.cd-dropdown ul li[data-value="6"] {
		width: 22% !important;
	}



	.dropdown-nav[data-selected-tab="1"] ul li[data-value="1"] a,
	.dropdown-nav[data-selected-tab="2"] ul li[data-value="2"] a,
	.dropdown-nav[data-selected-tab="3"] ul li[data-value="3"] a,
	.dropdown-nav[data-selected-tab="4"] ul li[data-value="4"] a,
	.dropdown-nav[data-selected-tab="5"] ul li[data-value="5"] a,
	.dropdown-nav[data-selected-tab="6"] ul li[data-value="6"] a {
		background-color: #eee !important;
		color: #a00;
	}
	.dropdown-nav[data-selected-tab="1"] ul li[data-value="1"] a:before,
	.dropdown-nav[data-selected-tab="2"] ul li[data-value="2"] a:before,
	.dropdown-nav[data-selected-tab="3"] ul li[data-value="3"] a:before,
	.dropdown-nav[data-selected-tab="4"] ul li[data-value="4"] a:before,
	.dropdown-nav[data-selected-tab="5"] ul li[data-value="5"] a:before,
	.dropdown-nav[data-selected-tab="6"] ul li[data-value="6"] a:before {
		color: #a00;
	}

	.dropdown-nav[data-selected-tab="1"] ul:hover li[data-value="1"] a,
	.dropdown-nav[data-selected-tab="2"] ul:hover li[data-value="2"] a,
	.dropdown-nav[data-selected-tab="3"] ul:hover li[data-value="3"] a,
	.dropdown-nav[data-selected-tab="4"] ul:hover li[data-value="4"] a,
	.dropdown-nav[data-selected-tab="5"] ul:hover li[data-value="5"] a,
	.dropdown-nav[data-selected-tab="6"] ul:hover li[data-value="6"] a {
		background-color: #eee !important;
		color: #999;
	}
	.dropdown-nav[data-selected-tab="1"] ul:hover li[data-value="1"] a:before,
	.dropdown-nav[data-selected-tab="2"] ul:hover li[data-value="2"] a:before,
	.dropdown-nav[data-selected-tab="3"] ul:hover li[data-value="3"] a:before,
	.dropdown-nav[data-selected-tab="4"] ul:hover li[data-value="4"] a:before,
	.dropdown-nav[data-selected-tab="5"] ul:hover li[data-value="5"] a:before,
	.dropdown-nav[data-selected-tab="6"] ul:hover li[data-value="6"] a:before {
		color: #a00;
	}

	.dropdown-nav[data-selected-tab="1"] ul:hover li[data-value="1"] a:hover,
	.dropdown-nav[data-selected-tab="2"] ul:hover li[data-value="2"] a:hover,
	.dropdown-nav[data-selected-tab="3"] ul:hover li[data-value="3"] a:hover,
	.dropdown-nav[data-selected-tab="4"] ul:hover li[data-value="4"] a:hover,
	.dropdown-nav[data-selected-tab="5"] ul:hover li[data-value="5"] a:hover,
	.dropdown-nav[data-selected-tab="6"] ul:hover li[data-value="6"] a:hover {
		background-color: #eee !important;
		color: #a00;
	}
	.dropdown-nav[data-selected-tab="1"] ul:hover li[data-value="1"] a:hover:before,
	.dropdown-nav[data-selected-tab="2"] ul:hover li[data-value="2"] a:hover:before,
	.dropdown-nav[data-selected-tab="3"] ul:hover li[data-value="3"] a:hover:before,
	.dropdown-nav[data-selected-tab="4"] ul:hover li[data-value="4"] a:hover:before,
	.dropdown-nav[data-selected-tab="5"] ul:hover li[data-value="5"] a:hover:before,
	.dropdown-nav[data-selected-tab="6"] ul:hover li[data-value="6"] a:hover:before {
		color: #a00;
	}



	.cd-dropdown ul li a {
		padding: 0 10px !important;
		font-size: .9em;
		background: #eee !important;
		box-shadow: none !important;
	}

	.cd-dropdown ul li a:hover {
		background: #a00 !important;
	}

	.logo-container .logo {
		width: 357px;
		display: inline-block;
		float: left;
	}

	.logo-wrapper img {
		width: 100%;
		padding-right: 10px;
	}
		.page-cat-sub.logo-container {
			padding: 16px 10px 16px;
		}

		.page-cat-sub.logo-container .logo {
			width: 318px;
			display: inline-block;
			float: left;
		}

		.page-cat-sub .logo-wrapper img {
			width: 100%;
			padding-right: 10px;
		}
		.page-cat-sub.logo-container h1.site-name {
			width: 607px;
			font-size: 1.9em;
			text-align: left;
			border-top: 0 none;
			margin: 13px 0 0 15px;
			padding: 0 0 0 15px;
			box-shadow: none;
			background: #fff;
			text-shadow: none;
			float: left;
			display: inline-block;
			border-left: 1px solid #555;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		}

	.logo-wrapper .site-tagline {
		width: auto;
		display: inline-block;
		text-align: left;
		margin: 28px 0 0 15px;
		padding: 0 0 0 15px;
		float: left;
		border-left: 1px solid #777;
	}

	.logo-wrapper .site-tagline span {
		font-family:'Trade Gothic W01 Bold';
	}

}

@media only screen and (min-width: 1022px) {

	.cd-dropdown ul {
		box-shadow: none !important;
		height: 40px !important;
		width: 100% !important;
		max-width: 1022px;
	}

	.audience-nav {
		display: none;
		box-shadow: 0px 12px 20px -16px #000 inset, 0px -12px 20px -12px #000 inset;
		background-color: #292929;
	}

	.cd-dropdown ul li a {
		background: transparent !important;
		color: #eee !important;
	}


	.nav-elements-container {
		padding: 0 0 38px 0;
	}

	.quick-nav-wrapper {
		width: 1022px;
		margin: 0 auto;
	}

	.quick-nav {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: #fff;
		box-shadow: none;
	}

	.quick-nav ul {
		width: auto;
		margin: 0;
		float: right;
		border-radius: 0 0 18px 18px;
		border: 1px solid #ccc;
		border-top: 0 none;
	}

	.quick-nav ul li {
		float: left;
		width: auto;
		background: #fff;
	}
	.quick-nav ul li .label {
		border-right: 1px solid #900;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 0 9px 0 0;
	    text-align: left;
	}

	.quick-nav ul:hover .label {
		border-right: 1px solid #fff;
	}

	.quick-nav ul li:hover .audience-trigger .label {
		border-right: 1px solid #900;
	}

	.quick-nav ul li.before-selected .label {
		border-right: 1px solid #fff;
	}

	.quick-nav ul li .audience-trigger.selected .label {
		border-right: 1px solid #900;
	}

	.quick-nav ul li .more-trigger.selected .label {
		border-right: 1px solid #292929;
	}

	.quick-nav ul li:hover .label {
		border-right: 1px solid #292929;
	}

	.quick-nav ul li:first-child {
		border-radius: 0 0 0 16px;
	}

	.quick-nav ul li:first-child a,
	.quick-nav ul li:first-child .more-trigger,
	.quick-nav ul li:first-child .audience-trigger {
		border-radius: 0 0 0 12px;
		padding-left: 14px;
	}

	.quick-nav ul li:first-child {
	}

	.quick-nav ul li:last-child {
		margin-right: 165px;
	}

	.quick-nav a,
	.quick-nav .more-trigger,
	.quick-nav .audience-trigger {
		text-decoration: none;
		color: #000;
		display: block;
		text-shadow: none;
		font-size: 11px;
		font-family:'Trade Gothic Next W01';
		font-weight: 400;
		text-transform: uppercase;
		padding: 11px 0 13px 10px;
		border: 0 none;
	}

	.quick-nav .audience-trigger {
		color: #900;
		padding: 11px 0 12px 10px;
		font-family: 'Trade Gothic W01 Bold 2';
	}

	.quick-nav ul .audience-trigger .label {
		padding-left: 10px;
		position: relative;
	}

	.quick-nav .audience-trigger .label,
	.quick-nav ul:hover .audience-trigger .label {
		border-right: 1px solid #fff;
	}

	.quick-nav a:hover,
	.quick-nav a.selected,
	.quick-nav .more-trigger:hover,
	.quick-nav .more-trigger.selected {
		text-shadow: 0 0 1px #000;
		background-color: #292929;
	}
	
/*
	.quick-nav ul li:last-child .label:after {
		content: "...";
		display: inline-block;
		color: #900;
	}
*/
	.quick-nav .audience-trigger.selected .label:after,
	.quick-nav .more-trigger.selected .label:after,
	.quick-nav ul li:last-child:hover .label:after {
		color: #fff;
	}

	.quick-nav .label {
		margin-top: 0;
	}

	.quick-nav .icon {
		display: none;
	}

	.quick-nav .label .icon {
		display: block;
		position: absolute;
		font-size: 1.3em;
		left: 0;
		top: 0;
	}

	.quick-nav .label .icon.rotate-left90 {
		left: 7px;
		top: -9px;
	}

	.more-nav ul {
	    padding-left: 5%;
    }
    .more-nav ul li {
	    width: 19%;
	}
	.more-nav ul a {
		height: 40px;
	}

	.more-nav .icon-wrapper .icon {
		font-size: 17px;
		color: #ddd;
	}

	.more-nav .icon.fa-mobile {
		font-size: 26px;
		line-height: 16px;
	}

	.more-nav .label {
		margin-top: 0;
	}

	.logo-container {
		padding: 0px 10px 18px;
		box-shadow: 0px -8px 11px -11px #333 inset;
	}

	.logo-wrapper {
	    width: auto;
	    float: left;
	}
		.page-cat-sub.logo-container h1.site-name {
			width: 640px;
		}

	.site-nav,
	.sub-nav {
		min-height: 44px;
	}

	.site-nav .no-pad-wrapper {
		position: relative;
	}

	.site-nav .menu-trigger,
	.sub-nav .menu-trigger {
		display: none;
	}

	.site-nav .search-container button[type="submit"],
	.sub-nav .search-container button[type="submit"] {
		height: 32px;
		width: 40px;
	}

	.site-nav ul {
		width: 100%;
		padding: 0;
		float: left;
		margin: 0;
		display: block !important;
	}

	.site-nav .search-container {
		top: -126px;
		margin: 0;
		position: absolute;
		width: 155px;
		float: none;
		display: block;
		left: 861px;
		background: transparent;
	}

	.site-nav .search-container ::-webkit-input-placeholder {
		color: #333;
		text-shadow: none;
		font-size: 11px;
	}

	.site-nav .search-container :-moz-placeholder { /* Firefox 18- */
		color: #333;
		text-shadow: none;
		font-size: 11px;
	}

	.site-nav .search-container ::-moz-placeholder {  /* Firefox 19+ */
		color: #333;
		text-shadow: none;
		font-size: 11px;
	}

	.site-nav .search-container :-ms-input-placeholder {
		color: #333;
		text-shadow: none;
		font-size: 11px;
	}

	.site-nav .search-container input[type="text"] {
		font-size: 11px;
		/*border-right: 1px solid #800;*/
		height: 21px;
		margin: 10px 1% 4px 9%;
		box-shadow: none;
		border: 1px solid #ddd;
		background: #ddd;
		border-radius: 20px;
		width: 137px;
	}

	.sub-nav .search-container input[type="text"] {
		font-size: 14px;
		/*border-right: 1px solid #800;*/
		width: 100px;
		padding: 0 4px 0 8px;
		height: 29px;
		margin: 7px 1% 6px 9%;
	}

	.site-nav .search-container input[type="text"]:focus {
		box-shadow: 0 0 5px #ccc inset;
	}

	.site-nav .search-container input[type="text"]:focus,
	.site-nav .search-container input[type="text"].focus {
		width: 137px;
		padding-right: 31px;
	}


	.sub-nav .search-container input[type="text"]:focus,
	.sub-nav .search-container input[type="text"].focus {
		width: 70%;
	}

	.site-nav .search-container button[type="submit"] {
		height: 29px;
		width: 20%;
		margin: 6px 0 4px 0;;
		border-right: 0 none;
		padding: 0;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
		border: 0 none;
		box-shadow: none;
		color: #292929;
		font-size: 12px;
		position: absolute;
		top: 0;
		right: 5px;
		z-index: 99;
	}

	.sub-nav .search-container button[type="submit"] {
		height: 29px;
		width: 20%;
		margin: 7px 0 6px 0;;
		border-right: 0 none;
		padding: 0;
		-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
		border: 0 none;
		box-shadow: none;
	}

	.site-nav .search-container button .icon,
	.sub-nav .search-container button .icon {
		margin-top: -2px;
		display: block;
	}

	.sub-nav ul {
		width: 84%;
		padding: 0;
		float: left;
		margin: 0;
		display: block !important;
	}

	.sub-nav .search-container {
		width: 16%;
		height: 100%;
		margin: 0;
		position: relative;;
	}

	.site-nav a {
		padding: 14px 5px;
	}

	.sub-nav a {
		padding: 14px 20px;
	}

	.main-nav-list a span:before {
		content: "";
		display: none;
	}

	.site-nav ul li:first-child,
	.sub-nav ul li:first-child {
		border-left: 1px solid #800;
	}

	.site-nav ul li,
	.sub-nav ul li {
		text-align: center;
		float: left;
		border-bottom: 0 none !important;
		border-top: 0 none !important;
	}

	.site-nav ul li {
		width: 11.111%;
	}

	.sub-nav ul li {
		width: auto;
	}

	.site-nav ul li.smaller {
		width: 9.111%;
	}

	.site-nav ul li.larger {
		width: 13.111%;
	}



}