RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(?:[^/]*/)*([^/.]+\.(?:jpe?g|gif|bmp|png|tiff|css|js|pdf))$ https://%{SERVER_NAME}/$1 [R=301,L]

#AuthType shibboleth
#Require shibboleth
#ShibRequireSession On
#require affiliation student@stonybrook.edu