/* ==========================================================================
   Styles for bulletin page type
   ========================================================================== */

.main-container {
	background: #fff;
	padding-bottom: 60px;
}

h3, section, ul.courses {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section {
	background: #fdfdfd;
	overflow: hidden;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #aaa;
	width: 95%;
}

h3 {
	padding: 0 2.5%;
	display: block !important;
}

section h3 {
	padding: 0;
}

ul, ol {
	margin-bottom: 2em;
	padding: 0 0 0 40px
}

ul li {
	list-style: disc;
}

ol li {
	list-style: decimal;
}

.courses article + article {
	margin-top: 15px;
	border-top: 1px solid #ddd;
}

.courses span,
.courses span:hover {
	cursor: default !important;
	background: #eee !important;
	padding: 4px 8px !important;
	color: #333 !important;
	border-color: #aaa !important;
}
.courses span:before {
	display: none !important;
}

.choose-category {
	width: 100%;
}

.choose-category-image {
	display: block;
	cursor: pointer;
	margin: 0 auto;
	min-height: 300px;
	background: url('../images/choose-a-category.jpg') 0 0 no-repeat;
	background-size: 100%;
	max-width: 520px;
	width: 100%;
}

/* Listing boxes */

ul.listing-boxes {
	padding: 0;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

ul.listing-boxes li {
	display: block;
	width: 100%;
	list-style: none;
	padding: 0;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 15px 0 0 0;
}

ul.listing-boxes a {
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	text-decoration: none;
	border-radius: 4px;
	background: #fcfcfc;
	padding: 15px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	box-shadow: 0 0 6px rgba(150,0,0,.2) inset;
	border: 1px solid #200;
}

ul.listing-boxes a:hover {
	background: #fff;
	box-shadow: 0 0 12px rgba(150,0,0,.2) inset;
	border: 1px solid #900;
}

ul.listing-boxes .fa {
	color: #000;
	font-size: 1.7em;
	margin-right: 16px;
	position: absolute;
	top: 30%;
	left: 12px;
	width: 30px;
	text-align: center;
}

ul.listing-boxes .text {
	display: block;
	color: #a00;
	font-family: 'CenturyExpandedLTW01-Ro';
	font-size: 1.3em;
	margin: 5px 0 0 29px;
}

ul.listing-boxes .text span {
	font-family:'CenturyExpandedLTW01-It';
}

@media only screen and (max-width: 560px) {
	.courses span + span {
		border-top: 0 none !important;
	}
}

@media only screen and (min-width: 720px) {

	ul.listing-boxes li {
		width: 49%;
		float: left;
	}
	ul.listing-boxes li:nth-child(even) {
		margin-left: 1%;
	}
	ul.listing-boxes li:nth-child(odd) {
		margin-right: 1%;
	}
}


@media only screen and (min-width: 1022px) {
	.main {
		margin: 0 2%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	h3, section, ul.listing-boxes {
		width: 100%;
		max-width: 1022px;
	}
	h3 {
		padding: 0;
	}
}