.owl-carousel:before,
.owl-carousel:after {
    content: " ";
    display: table;
}

.owl-carousel:after {
    clear: both;
}

.owl-carousel {
    *zoom: 1;
}

.owl-theme .owl-controls {
	margin-bottom: 8px;
}

.owl-item {
	background: #000;
}

.carousel-wrapper {
	position: relative;
}

.owl-buttons {
	position: relative;
}

.owl-next,
.owl-prev {
	position: absolute;
	top: 33%;
	color: #fff;
	display: block;
	font-size: 3em;
	background: rgba(30,30,30,.3);
	border-radius: 2px;
	border: 1px solid #000;
	cursor: pointer;
}

.owl-next {
	right: 5px;
	padding: 0 15px 6px 18px;
}

.owl-prev {
	left: 5px;
	padding: 0 18px 6px 15px;
}

.owl-next:hover,
.owl-prev:hover {
	box-shadow: 0 0 10px #000;
	background: rgba(0,0,0,.3);
}

.carousel-wrapper .item,
.carousel-image {
	display: block;
	width: 100%;
	height: 260px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 none;
	position: relative;
}

#the-carousel-1 .carousel-image {
	height: auto;
	max-height: 260px;
}

.carousel-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	box-shadow: 200px 0px 90px 0px rgba(0,0,0,.3) inset;
}

.owl-carousel .item a {
	display: block;
}

@media only screen and (min-width: 768px) {
	.carousel-wrapper .item,
	.carousel-image {
		height: 320px;
	}
	#the-carousel-1 .item,
	#the-carousel-1 .carousel-image {
		height: auto;
		max-height: 320px;
	}
}

@media only screen and (min-width: 940px) {
	
}

@media only screen and (min-width: 1040px) {
	
}

@media only screen and (min-width: 1140px) {
	.carousel-wrapper .item,
	.carousel-image {
		height: 358px;
	}
	#the-carousel-1 .item,
	#the-carousel-1 .carousel-image {
		height: auto;
		max-height: 358px;
	}
	.owl-next,
	.owl-prev {
		top: 38%;
	}
}