/* ==========================================================================
   Nav styles
   ========================================================================== */

header {
	position: relative;
	z-index: 100;
}

header .logo-link {
	display: block;
}

header .sb-logo,
header .ribbon-logo-desktop,
header .site-logo-desktop {
	display: none;
}

header .ribbon-logo-mobile {
	display: block;
    position: fixed;
    top: 6px;
    left: 14px;
    right: 0;
    z-index: 2;
    height: 53px;
    
}

nav.home {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav.home .mobile-nav-bar {
    background: #000;
    color: #fff;
    position: fixed;
    z-index: 100;
    width: 100%;
}

nav.home .mobile-nav-bar .mobile-nav-trigger {
    font-size: 2.4em;
    padding: 12px 15px;
    display: inline-block;
    float: right;
    color: #fff;
    text-decoration: none;
}

nav.home .mobile-nav-bar .mobile-nav-trigger:focus {
	background: #900;
	outline: 0 none;
}

nav.home .trigger-label {
	display: block;
	font-size: .325em;
	padding: 0 0 0 1px;
	line-height: 1;
	height: 10px;
	font-family:'Trade Gothic Next W01';
	text-transform: uppercase;
}

.main-nav,
.category-nav {
    font-family: 'Trade Gothic W01 Cn 18';
    font-weight: normal;
    display: block;
    background: #700;
    left: 100%;
    right: 0;
    width: 100%;
    font-size: 1.3em;
    border-top: 1px solid #800;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    opacity: .95;
    position: fixed;
    height: 100%;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 1000000;
    top: 53px;
}

.main-nav.show {
    left: 0;
}

.category-nav {
	z-index: 9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
    -webkit-transition: height .2s ease-in-out;
    -moz-transition: height .2s ease-in-out;
    -o-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    -webkit-transition: max-height .2s ease-in-out;
    -moz-transition: max-height .2s ease-in-out;
    -o-transition: max-height .2s ease-in-out;
    transition: max-height .2s ease-in-out;
}

.category-nav.stuck {
    margin-top: -44px;
}

.main-nav li {
    display: block;
    width: 100%;
    left: 0;
    right: 0;
}

.main-nav a,
.category-nav button {
	font-family: 'Trade Gothic W01 Cn 18';
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #800;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
}

.category-nav {
	border: 0 none;
}

.category-nav .close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.4em;
	padding: 10px 10px 10px 18px;
	text-align: center;
	display: none;
}

.category-nav .close.show {
	display: block;
}

.category-nav h3 {
	display: block;
	width: 100%;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Trade Gothic W01 Cn 18';
	background: #800;
	color: #fff;
	font-size: 1.1em;
	line-height: 1;
	margin: 0;
	text-align: center;
	padding: 14px 0;
	cursor: pointer;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: normal;
}

.category-nav h3:focus,
.category-nav h3:hover {
	outline: 0 none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: #900;
}

.show.category-nav h3 {
	background: #700;
    background: url('../img/rays/black-rays-square.jpg');
    background-position: 0 39%;
    background-size: cover;
}

.show.category-nav {
}

.show.category-nav ul {
	overflow: auto;
	height: 100%;
	padding-bottom: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.category-nav li {
    display: inline-block;
    width: 50%;
    float: left;
    height: 52px;
}

.category-nav button {
	background: transparent;
	border: 0;
    border-bottom: 1px solid #800;
    border-right: 1px solid #800;
    font-size: .9em;
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
	font-weight: normal;
	padding: 5px 20px;
}

.category-nav button:active,
.category-nav button:focus {
	background: #600;
	outline: 0 none;
}

.main-nav a:hover,
.main-nav a.selected,
.category-nav button:hover,
.category-nav button.selected {
	background: #840000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	opacity: .9;
}

.main-nav a:focus {
	outline: 0 none;
	background: #500;
}

.archive-nav .label {
	font-family: 'CenturySchlbkW15-Italic';
	font-weight: normal;
	color: #fff;
	display: block;
	width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 20px 13px;
    background: #5E0101;
    text-align: center;
    text-transform: none;
}

.archive-nav a {
	display: inline-block;
	float: left;
	width: 50%;
	border-right: 1px solid #800;
	text-align: center;
}

.archive-nav .social a {
	width: 33.333%;
	font-size: 1.4em;
	line-height: 0;
}

@media only screen and (min-width: 0px) and (max-width: 959px) {
    .main-nav {
    	top: 68px !important;
    }

    .category-nav {
    	top: 100%;
    	left: 0 !important;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
    }

	.category-nav.show {
		top: 100%;
	}

	.category-nav.show,
	.category-nav.show.stuck {
	    margin-top: 0;
		top: 62px;
	}

    .category-nav .close {
		font-size: 1.5em;
		padding: 13px 10px 10px 18px;
	}
}

@media only screen and (min-width: 400px) {
    .main-nav {
        font-size: 1.5em;
    }
    .main-nav a {
        padding: 14px 20px;
    }
    .category-nav h3 {
		font-size: 1.3em;
		padding: 16px 0 18px;
	}

	.category-nav.stuck {
		margin-top: -54px;
	}
}

@media only screen and (min-width: 540px) {
	.archive-nav a {
		width: 33.333%;
	}

	.category-nav li {
		height: 60px;
	}

	.category-nav button {
		padding: 10px 20px;
		font-size: 1em;
	}
}

@media only screen and (min-width: 680px) {
	.category-nav li {
		height: 68px;
	}

	.category-nav button {
		padding: 14px 20px;
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 960px) {
    .main-nav a:hover,
    .main-nav a.selected,
    .main-nav a:focus {
        border-bottom: 2px solid #900;
        background: transparent;
    }

    .main-nav a:focus {
        background: #800;
        color: #fff;
    }

    nav.home .mobile-nav-bar {
        display: none;
    }

    header {
    	padding: 60px 45px;
    	background: #fff;
    	display: block;
    	width: 100%;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    position: fixed;
	    z-index: 10;
    }

    header .logo-link {
    	display: inline-block;
    	float: left;
    }

    header .sb-logo {
    	display: block;
    	height: 42px;
    }

    header .site-logo-desktop {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
	}

	header .site-logo-wrapper {
		display: block;
    	width: 	160px;
    	position: relative;
    	margin: -10px auto 0;
    	float: none;
    	z-index: 100;
		background: #fff;
		padding: 20px 70px 0px 70px;
		border-radius: 50%;
	    -webkit-transition: all .2s ease-in-out;
	    -moz-transition: all .2s ease-in-out;
	    -o-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
	}

	.site-logo-desktop:hover .site-logo-wrapper,
	header.showing-all .site-logo-wrapper {
		width: 210px;
		padding: 20px 70px 15px 70px;
	}

    header .site-logo-desktop a {
    	display: block;
		width: 100%;
    	float: none;
    	padding-bottom: 20px;
    }

    header .site-logo-desktop a img {
    	display: block;
    	width: 100%;
    }

	header .ribbon-logo-desktop {
		display: block;
		position: absolute;
		top: 50px;
		right: 50px;
		z-index: 20;
		width: 174px;
	}

	header .ribbon-logo-mobile {
		display: none;
	}

    nav.home {
        position: static;
        top: auto;
        left: auto;
        right: auto;
        background: #fff;
    	display: inline-block;
    	width: 65%;
    }
    .main-nav {
        max-width: 100%;
        margin: 9px 0 0 0;
        background: transparent;
        display: block;
        top: auto;
        left: auto;
        right: auto;
        font-size: 1.45em;
        border-top: 0 none;
    	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1;
        position: static;
        height: auto;
        z-index: 100;
        width: 100%;
        text-align: center;
    }
    .main-nav li {
        display: inline-block;
        width: auto;
        left: auto;
        right: auto;
        margin: 0 10px;
    }
    .main-nav a {
        border-bottom: 0 none;
        width: 100%;
        left: auto;
        right: auto;
        display: block;
        padding: 0 0 2px;
        color: #000;
    }

    .main-nav li.archive-nav {
    	display: block;
    	position: absolute;
    	left: 0;
    	top: 162px;
    	right: 0;
    	margin: 0;
    	padding: 0;
		font-size: .85em;
		line-height: 1;
		text-transform: uppercase;
		background: #800;
		line-height: 1.4em;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 20px 45px;
	    text-align: left;
	    z-index: 10;
	    -webkit-font-smoothing: subpixel-antialiased;
    }

    .archive-nav .years {
    	display: inline-block;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    max-width: 72%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
    	height: 22px;
    }

    .showing-all .archive-nav .years,
    .site-logo-desktop:hover ~ nav.home .archive-nav .years {
	    max-width: 38%;
	}

    .archive-nav .years .label {
		font-family: 'Trade Gothic W01 Cn 18';
		font-weight: normal;
	    color: #eee;
		display: inline-block;
		width: auto;
	    padding: 0;
	    background: transparent;
	    text-align: center;
	    text-transform: uppercase;
		float: left;
		margin: 0 6px 0 0;
		cursor: default;
	}

	.archive-nav .years a {
		display: inline-block;
		float: left;
		width: auto;
		border-right: 0 none;
		text-align: center;
	    color: #eee;
		padding: 0 6px;
		margin: 0 0 0 10px;
	}

	.archive-nav .years a:hover,
	.archive-nav .years a.selected {
		background: #000;
		border-bottom: 0 none;
	}

    .hide-on-desktop {
    	display: none;
    }

    .archive-nav .social {
    	display: block;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    float: right;
	    margin: 0;
    }

    .archive-nav .social .label {
		font-family: 'Trade Gothic W01 Cn 18';
		font-weight: normal;
	    color: #eee;
		display: inline-block;
		width: auto;
	    padding: 0;
	    background: transparent;
	    text-align: center;
	    text-transform: uppercase;
		float: left;
		margin: 0 6px 0 0;
		cursor: default;
	}

	.archive-nav .social a {
		display: inline-block;
		float: left;
		width: auto;
		border-right: 0 none;
		text-align: center;
	    color: #d7d7d7;
		padding: 6px 4px;
		margin: -2px 6px 0 10px;
		font-size: 1em;
		background: #d7d7d7;
		color: #000;
		text-align: center;
		width: 29px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    border-radius: 50%;
	}

	.archive-nav .more-nav {
		display: none;
	}

	.social a:focus,
	.social a:focus span {
		background: #000;
        color: #fff;
	}

	.archive-nav .social .sbuicon-linkedin {
		margin-right: -4px;
	}

	.archive-nav .social a:hover,
	.archive-nav .social a.selected {
		background: #000;
		color: #fff;
		border-bottom: 0 none;
	}

	/* Category Nav */

	.category-nav {
		right: auto;
		top: 0;
		left: auto;
		bottom: 0;
		background: #000;
		font-size: 2.2em;
		border-top: 10px solid #900;
		display: inline-block;
		position: relative;
    	margin-top: -72px;
	}

	.category-nav ul {
		width: 100%;
		max-width: 960px;
		margin: 0 auto;
		background: transparent;
		text-align: center;
		padding: 10px 0;
		font-size: 0.7em;
		height: auto;
	}

	.category-nav li {
		display: inline-block;
		background: transparent;
		border: 0 none;
		margin: 0 10px;
		width: auto;
		float: none;
		height: auto;
	}

	.category-nav button {
		border: 0 none;
		color: #fff;
		text-transform: none;
		margin: 0 4px;
		position: relative;
		padding: 8px 0;
		border-bottom: 2px solid transparent;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
    	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	    opacity: .6;
	    font-size: 0.9em;
	}

	.category-nav button:focus {
		outline: 0 none;
    	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		opacity: .8;
		background: #400;
		border-radius: 4px;
	}

	.category-nav button:before {
		display: inline-block;
	    content: "✭";
	    font-style: normal;
	    font-weight: normal;
	    line-height: 1;
	    z-index: 1;
	    font-size: 1em;
	    width: 20px;
	    text-align: center;
	    color: #a00;
	    text-shadow: 0 1px 1px #333;
	    position: absolute;
	    left: -22px;
    	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    opacity: 1;
	    -webkit-transition: opacity .2s ease-in-out;
	    -moz-transition: opacity .2s ease-in-out;
	    -o-transition: opacity .2s ease-in-out;
	    transition: opacity .2s ease-in-out;
	    padding-right: 10px;
	    -webkit-font-smoothing: subpixel-antialiased;
	}

	.category-nav:hover button:before {
    	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		opacity: 0;
	}

	.category-nav:hover button {
    	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		opacity: .6;
	}

	.category-nav button:hover {
		background: #000;
		border-bottom: 1px solid #900;
    	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}

	.category-nav:hover button.selected,
	.category-nav:hover button.selected:hover {
    	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
		background: #900;
		border-bottom: 1px solid #900;
		border-radius: 1px;
	}

	.category-nav .close {
		display: none;
	}

    .category-nav.stuck {
        position: fixed;
        left: 0;
        right: 0;
        border-bottom: none;
        height: 62px;
        bottom: 0;
        top: 100%;
        margin-top: -66px;
        max-height: 62px;
        opacity: .9;
    }

    .category-nav.stuck:hover,
    .category-nav.stuck.hover  {
        height: auto;
        top: auto;
        max-height: 600px;
    }
/*
	.category-nav li:nth-child(4n+2) button:before,
	.category-nav li:nth-child(4n+3) button:before,
	.category-nav li:nth-child(4n) button:before {
		display: inline-block;
	    content: "✭";
	    font-style: normal;
	    font-weight: normal;
	    line-height: 1;
	    z-index: 1;
	    font-size: 1em;
	    width: 20px;
	    text-align: center;
	    color: #a00;
	    text-shadow: 0 1px 1px #333;
	    position: absolute;
	    left: -10px;
	}
*/

}

@media only screen and (min-width: 1024px) {
	nav.home {
    	width: 70%;
    }
}

@media only screen and (min-width: 1100px) {
    .main-nav li {
        margin: 0 19px;
    }
}

@media only screen and (min-width: 1180px) {
	nav.home {
    	width: 75%;
    }
	.main-nav {
        font-size: 1.55em;
    }
}

@media only screen and (min-width: 2400px) {
	nav.home {
    	width: 85%;
    }
}

@media only screen and (min-width: 3600px) {
	nav.home {
    	width: 90%;
    }
}