.side-title-links-wrapper .side-title span {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0) !important;
    filter: none !important;
}

@media only screen and (min-width: 1022px) {
    .no-pad-wrapper {
        margin: 0 auto;
        width: 1008px;
    }

	.site-nav .search-container,
	.sub-nav .search-container {
		left: 848px;
		top: -126px;
	}

	.site-nav .search-container input[type="text"]:focus,
	.site-nav .search-container input[type="text"].focus,
	.sub-nav .search-container input[type="text"]:focus,
	.sub-nav .search-container input[type="text"].focus {
		width: 137px !important;
	}

	/* admissions home */
	.site-carousel .carousel-image .item {
		height: 550px !important;
	}
	.student-quotes .person-wrapper .table-cell {
		height: 300px;
	}
}

