.site-nav .search-container input {
	line-height: 30px;
}

#accordion-nav li.tab span.active:after {
  width: 0;
  height: 0;
  background: transparent;
  display: none;
  position: absolute;
  bottom: -9999px;
  left: 9999px;
  border-bottom: 0 none;
  border-right: 0 none;
}

.search-container {
  top: 0px !important;
}

@media only screen and (max-width: 1021px) {
  .student-quotes .person-wrapper,
  .student-quotes .person-wrapper .table-cell,
  .student-quotes .person-wrapper .table-cell img {
    height: 171px;
  }
}

@media only screen and (min-width: 1022px) {

  /* admissions home */
  .site-carousel .carousel-image .item {
    height: 550px !important;
  }
  .student-quotes .person-wrapper .table-cell {
    height: 300px;
  }

}