@media only screen and (max-width: 959px) {

    .section-title {
        margin-top: 16px;
    }

    .main-inside-content {
        position: relative;
        z-index: 50;
        visibility: visible;
    }

    .chapters-nav-list {
        display: none;
    }

    .chapters-nav-dropdown {
        margin-bottom: 40px;
        margin-top: 0;
    }

    .hsc .chapters-nav-dropdown {
        margin-bottom: 0;
        margin-top: 40px;
    }

    .alumni-chapter .event-gallery .sbu-outline-button {
        display: inline-block;
        margin: 0 0 15px;
    }

    .social-sidebar .sidebar-wrapper {
        padding-top: 15px;
    }
}

.board-members .three-quarter {
    width: 55%;
    float: left;
    margin: 0;
    padding: 0;
}

.board-members .one-quarter img {
    width: 30%;
    margin-right: 5%;
    float: left;
}

.alumni-chapter .owl-next,
.alumni-chapter .owl-prev {
    top: 40%;
    font-size: 3em;
    background: transparent;
    border: 0 none;
    color: rgba(255,255,255,.7);
}

.alumni-chapter .owl-next:hover,
.alumni-chapter .owl-prev:hover {
    box-shadow: none;
}

.alumni-chapter .owl-next {
    right: 0;
}

.alumni-chapter .owl-prev {
    left: 0;
}

.alumni-chapter .event-gallery .carousel-wrapper a img {
    outline: 5px solid transparent;
    margin: 5px 5%;
}

.alumni-chapter .event-gallery .carousel-wrapper a:hover img {
    outline: 5px solid #900;
    margin: 5px 5%;
}

.hsc .inside-header {
    margin-bottom: 20px;
}

section.inside-content a.sbu-outline-button--on-red {
    color: #fff;
}

section.full-width-banner-image {
    padding: 0;
}

.inside-header {
    padding-top: 25%;
}

.inside-header h2 {
    font-size: 1.75em;
}

.whole, .one-half, .one-third, .two-third, .one-quarter, .three-quarter {
    padding: 10px 0;
}


    .get-connected .inside-header {
        background-image: url("../../img/student-life/red-people-alumni-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .get-informed .inside-header {
        background-image: url("../../img/student-life/marquee-campus-autumn-768.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 50%;
    }

    .students .inside-header {
        background-image: url("../../img/student-life/students-walking-talking-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .recent-grads .inside-header {
        background-image: url("../../img/student-life/grads-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .contact-page .inside-header {
        background-image: url("../../img/student-life/students-and-alumni-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .golf-page .inside-header {
        background-image: url("../../img/student-life/golf-classic-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .give-back-page .inside-header {
        background-image: url("../../img/student-life/alumni-student-mentoring-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .get-perks .inside-header {
        background-image: url("../../img/student-life/seawolves-bus-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .cob .inside-header {
        background-image: url("../../img/alumni/chapters/business-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .wdc .inside-header {
        background-image: url("../../img/alumni/chapters/dc-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .founders .inside-header {
        background-image: url("../../img/alumni/chapters/founders-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .som .inside-header {
        background-image: url("../../img/alumni/chapters/medicine-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .ca .inside-header {
        background-image: url("../../img/alumni/chapters/northern-ca-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .nj .inside-header {
        background-image: url("../../img/alumni/chapters/new-jersey-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .nyc .inside-header {
        background-image: url("../../img/alumni/chapters/nyc-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .ne .inside-header {
        background-image: url("../../img/alumni/chapters/new-england-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 40%;
    }

/* Inside content - custom serif headers */

.inside-content h3.serif {
    text-align: center;
    border-bottom: 0 none;
    font-size: 1.5em;
    padding: 0;
    margin-bottom: 0;
    margin-top: 1.6em;
}

.inside-page h3 {
    display: block;
    clear: both;
}

.contact-page .content h3 {
    clear: both;
    display: block;
    margin: 1em 0 .8em;
    float: left;
}

.hsc-alums .inside-content h3.serif,
.get-perks .inside-content h3.serif,
.give-back-page .inside-content h3.serif,
.contact-page .inside-content h3.serif,
.get-perks .inside-content h3.serif.line-header {
    margin-top: 0;
    margin-bottom: .8em;
    padding: .3em 0;
    border-top: 1px solid #900;
    border-bottom: 1px solid #900;
    display: block;
    clear: both;
}

.hsc-alums .inside-content h3.serif span,
.get-perks .inside-content h3.serif span,
.give-back-page .inside-content h3.serif span,
.contact-page .inside-content h3.serif span,
.get-perks .inside-content h3.serif.line-header span {
    color: #900;
}

.hsc-alums .inside-content h3.serif em,
.get-perks .inside-content h3.serif em,
.give-back-page .inside-content h3.serif em,
.contact-page .inside-content h3.serif em,
.get-perks .inside-content h3.serif.line-header em {
    font-family:'CenturyExpandedLTW01-It';
    font-style: normal;
}

.hsc-alums .inline-with-copy {
    display: inline;
    float: left;
    width: 28%;
    margin: 1em 1em .5em .25em;
}

.hsc-alums .intro-letter {
    border-bottom: 1px solid #900;
}

.hsc-alums .intro-letter ul {
    display: block;
}

.hsc-alums .intro-letter ul li {
    text-indent: 0;
}

.hsc-alums .intro-letter ul li:before {
    margin: 0 10px 0 0;
}

.inside-page .news-and-events .news-items a:last-child {
    border-bottom: 0 none;
    margin-bottom: 1em;
}

.inside-page .news-and-events .serif-news-titles {
    border-bottom: 1px solid #900;
    padding-bottom: 2.5em;
    margin-bottom: 3em;
}




.hsc-alums .som-links {
    margin: 0;
    padding: 2.4em 0 .6em;
}

.hsc-alums .som-links .btn-wrapper {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.hsc-alums .som-links .btn-wrapper img {
    display: block;
    margin: 0 auto;
}

.hsc-alums .som-links .message {
    color: #fff;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Trade Gothic W01 Light';
    font-weight: normal;
}

.hsc-alums .som-links .message span {
    display: block;
}

.hsc-alums .som-links .message span.first {
    font-size: 1.2em;
    margin: 1em 0 .4em 0;
    text-transform: uppercase;
}

.hsc-alums .som-links .simple-button {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 1.5em;
}

.hsc-alums .som-links .give-button {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fff;
    padding: 2em 0;
    margin: 0 0 1.5em;
}

.hsc-alums .som-links .simple-button:hover,
.hsc-alums .som-links .give-button:hover {
    background: #a70101;
}



.give-back {
    padding-bottom: 2.5em;
}


.host {
    padding-bottom: 4em;
}

.alumni-chapter .give-back .one-third {
    border: 0 none;
}



/* Section Buttons */

.rounded-image-buttons {
    margin-top: 5%;
    margin-bottom: 3%;
}

.rounded-image-buttons .reunions {
    background-image: url("../../img/alumni/buttons/reunions-nav-box.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .forty {
    background-image: url("../../img/alumni/buttons/40-under-forty-nav-box.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .golf {
    background-image: url("../../img/alumni/buttons/golf-classic-nav-box.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .wolfstock-homecoming {
    background-image: url("../../img/alumni/buttons/wolfstock-nav-box.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .medicine {
    background-image: url("../../img/alumni/buttons/medicine.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .dental {
    background-image: url("../../img/alumni/buttons/dental-medicine.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .social-welfare {
    background-image: url("../../img/alumni/buttons/social-welfare.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .nursing {
    background-image: url("../../img/alumni/buttons/nursing.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .spd {
    background-image: url("../../img/alumni/buttons/business.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .business {
    background-image: url("../../img/alumni/buttons/professional.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .black {
    background-image: url("../../img/alumni/buttons/black.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .founders {
    background-image: url("../../img/alumni/buttons/founders.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .lg {
    background-image: url("../../img/alumni/buttons/confetti.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .ambas {
    background-image: url("../../img/alumni/buttons/ambassador-2.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .public {
    background-image: url("../../img/alumni/buttons/policy.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .ca {
    background-image: url("../../img/alumni/buttons/northern-ca.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .nyc {
    background-image: url("../../img/alumni/buttons/nyc.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .nj {
    background-image: url("../../img/alumni/buttons/nj-2.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .dc {
    background-image: url("../../img/alumni/buttons/washington-dc.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .ne {
    background-image: url("../../img/alumni/buttons/boston.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .sf {
    background-image: url("../../img/alumni/buttons/confetti.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .ct {
    background-image: url("../../img/alumni/buttons/confetti.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .sd {
    background-image: url("../../img/alumni/buttons/confetti.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .denver {
    background-image: url("../../img/alumni/buttons/confetti.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .la {
    background-image: url("../../img/alumni/buttons/confetti.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .phx {
    background-image: url("../../img/alumni/buttons/confetti.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .phila {
    background-image: url("../../img/alumni/buttons/confetti.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .tucson {
    background-image: url("../../img/alumni/buttons/confetti.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .phx {
    background-image: url("../../img/alumni/buttons/confetti.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .on-campus-benefits {
    background-image: url("../../img/alumni/buttons/on-campus-benefits.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .travel-and-leisure {
    background-image: url("../../img/alumni/buttons/travel-and-leisure.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .fitness-and-wellness {
    background-image: url("../../img/alumni/buttons/fitness-and-wellness.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .dining {
    background-image: url("../../img/alumni/buttons/dining.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .shopping {
    background-image: url("../../img/alumni/buttons/shopping.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .home-and-life {
    background-image: url("../../img/alumni/buttons/home-and-life.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons a {
    width: 48.5%;
    height: 150px;
    margin: .75%;
    font-size: 1.3em;
    box-shadow: none;
    font-family: 'TradeGothicW01-BoldCn20 675334';
    position: relative;
    padding: 0;
    border: 5px solid #fff;
    position: relative;
}

.rounded-image-buttons a:hover,
.rounded-image-buttons a.selected {
    border: 5px solid #900;
    padding: 0;
}

.rounded-image-buttons a .label {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 15%;
    background: rgba(153,0,0,.75);
    padding: 10px 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
}

.rounded-image-buttons a:hover .label {
    background: rgba(153,0,0,.9);
}

.rounded-image-buttons a .label span {
    display: block;
    font-size: .7em;
    font-family:'CenturyExpandedLTW01-It';
    font-style: normal;
    text-transform: none;
}

.rounded-image-buttons .coming-soon:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(172,0,0,.7);
    content: "Coming soon!";
    border-radius: 9px;
    opacity: 1;
    text-align: center;
    padding-top: 14%;
    z-index: 4;
    font-size: 1.1em;
}

.rounded-image-buttons .coming-soon:after {
    opacity: 0;
    position: absolute;
    left: 2%;
    right: 0;
    bottom: 3%;
    text-align: center;
    content: "Get more information →";
    padding-top: 50%;
    z-index: 4;
    font-size: .7em;
    font-family:'CenturyExpandedLTW01-It';
}

.rounded-image-buttons .coming-soon .label {
    z-index: 5;
}

p + a.sbu-outline-button {
    margin-top: 15px;
}

a.sbu-outline-button + p {
    margin-top: 15px;
}

a.sbu-outline-button {
    margin-top: 15px;
    margin-right: 15px;
}

a.sbu-outline-button + a.sbu-outline-button {
    margin-left: 0;
}

.no-float-button a.sbu-outline-button + a.sbu-outline-button {
    margin-left: 0;
    display: inline-block;
    float: none;
}


.sidebar-star-nav li {
    border-radius: 2px;
    margin: 0 0 4px;
    text-indent: 0;
}

.chapters-nav-list li:before {
    display: inline-block;
    width: 6%;
    margin: 0 2% 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar-star-nav li:hover:before {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.sidebar-star-nav li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 90%;
    background: transparent;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid transparent;
    margin: 0;
    position: relative;
    font-size: .95em;
}

.sidebar-star-nav li a:hover {
    background: #f7f7f7;
    border: 1px solid #DEDEDE;
}

.sidebar-star-nav li.selected a {
    background: #f7f7f7;
    border: 1px solid #DADADA;
    color: #000;
    font-family: 'Trade Gothic W01 Bold 2';
}

/*.sidebar-star-nav li.selected a {
    background: #DADADA;
    border: 1px solid transparent;
    color: #000;
    padding: 6px;
    width: 92%;
    height: 39px;
}

.sidebar-star-nav li.selected a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: -19px;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 19px solid #eee;
    top: 0;
}*/

.sidebar-star-nav a.coming-soon:after {
    content: "Coming Soon!";
    font-family:'CenturyExpandedLTW01-It';
    font-style: normal;
    white-space: nowrap;
    display: block;

    position: absolute;
    top: 4%;
    left: 64%;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg);
    background: #eaeaea;
    background: rgba(240,240,240,.95);
    padding: 4px 4px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    font-size: .1em;
    opacity: 0;
    -webkit-transition: font-size .15s ease;
    -moz-transition: font-size .15s ease;
    transition: font-size .15s ease;
    color: #333;
}

.sidebar-star-nav a.coming-soon:hover:after {
    opacity: 1;
    font-size: 1em;
}



.alumni-chapter .activities-and-calendar {
    padding: 0 0 10px;
    margin: 20px 0;
}

.alumni-chapter .activities-and-calendar li {
    margin-bottom: 15px;
}

.alumni-chapter .activities-and-calendar .activities-links {
    width: 100%;
    padding: 0;
}

.alumni-chapter .activities-and-calendar .activities-links a {
    font-size: .9em;
    padding: 8px 12px 8px 2px;
}

.alumni-chapter .activities-and-calendar .activities-links,
.alumni-chapter .activities-and-calendar .news-feed {
    margin-bottom: 20px;
}

.alumni-chapter .activities-and-calendar .sbu-outline-button,
.hsc-alums .serif-news-titles .sbu-outline-button {
    font-size: 1.1em;
}

.inside-content .sbu-outline-button {
    font-size: 1.3em;
}




.daa img.inline-with-copy {
    margin-top: 0;
    max-width: 200px;
}

.daa {
    margin-bottom: 2em;
}


/* Sections */

section.events {
    padding: 40px 0;
}

section h4,
section.events h4 {
    font-size: 1.8em;
    font-family: 'Trade Gothic W01 Light';
    letter-spacing: .02em;
}

section.events h5 {
    color: #fff;
}

.events .black-opac-cover {
    background: url("../../img/bkg/transparent-black-65.png") 0 0 repeat transparent;
    background: rgba(0,0,0,.8);
    padding: 0;
    display: block;
}

.reunions {
    background: url("../../img/alumni/bkg/reunite.png") 85% 15% no-repeat #600;
    padding: 0;
    position: relative;
}

.reunions img,
.wolfstock img {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0%;
}

section.forty {
    background: url("../../img/alumni/bkg/3-people-40-under-40.png") 90% 10% no-repeat #000;
    padding: 0;
}

section.forty .black-opac-cover {
    padding: 40px 0;
}

section.golf {
    background-image: url("../../img/alumni/bkg/golf.jpg");
    background-position: 100% 50%;
    background-size: cover;
    padding: 40px 0;
}

section.golf h5 {
    color: #333;
}

.golf .wrapper h4 {
    color: #000;
    text-shadow: 0 0 8px rgba(157, 225, 236,.8);
}

.golf .content {
    padding: 20px 5% 10px;
    margin-top: 20px;
}

.golf .content p {
    color: #111;
}

.golf .sbu-outline-button {
    display: block;
    margin: 0 auto;
    width: 160px;
    text-align: center;
}

section.wolfstock {
    position: relative;
}

.get-connected section.calendar {
    background: url("../../img/alumni/bkg/calendar-uke-girl.jpg") 0% 0% no-repeat #616e78;
    background-position: 0% 50%;
    background-size: 700px;
    background-size: cover;
    padding: 0;
    position: relative;
}

section.calendar .black-opac-cover {
    padding: 40px 0;
}

section.calendar ul.calendar-items {
    width: 100%;
    float: none;
    margin: 0;
}

.center-wrapper .sbu-outline-button {
    margin: 0 auto;
    width: 180px;
    display: block;
    text-align: center;
}

.events h4,
.events h5 {
    color: #0fffff;
}

.events h5 {
    font-size: 1.3em;
    text-transform: none;
}

.events li {
    margin: 10px 0;
}

.events .content {
    color: #dbdbdb;
}

.events .content a {
    color: #0fffff;
}

.events .content a:hover {
    color: #fff;
    text-decoration: underline;
}

/* News and Spotlight */

.articles-promo {
    padding: 4% 0;
}

.articles-promo img {
    margin: 0;
    display: block;
}

.articles-promo .sbu-outline-button {
    display: block;
    width: 134px;
    text-align: center;
    margin: 15px auto;
    float: none;
}

.authors {
    background: #000;
    background: url("../../img/bkg/black-book-1.jpg");
    background-position: 50% 50%;
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 0 4%;
}

.authors h4 {
    text-align: center;
    margin: .8em 0 .6em;
}

.authors p {
    display: block;
    color: #eee;
    text-align: center;
    margin: 0 0 3em;
    font-family: 'CenturySchoolbookW01-It 927458';
    font-family: 'CenturySchlbkW15-Italic';
}

.authors__books {
    overflow: visible;
    margin-bottom: 2%;
}

.authors__book {
    display: block;
    width: 80%;
    margin: 0 10% 15%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
}


.authors__book h5 {
    color: #eee;
    font-weight: normal;
    font-family: 'Trade Gothic W01 Light';
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 1em;
    text-align: center;
    font-size: 1.2em;
    line-height: 1;
    padding: .45em .2em .5em;
    border-top: 1px solid #47c2c8;
    border-bottom: 1px solid #47c2c8;
}

.authors__book__flip {
    position: relative;
    perspective: 800px;
    padding-bottom: 150.15015%;
}

.authors__book__flip__card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    transition: transform 1s;
}

.authors__book__flip__card__item {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.authors__book__flip__card__item--front {
    cursor: pointer;
    z-index: 1;
    /* weird issue in safari, calculating intersection and causing half clickable region */
    /* see http://stackoverflow.com/questions/18146511/bug-in-css3-rotatey-transition-on-safari */
    -webkit-transform: translateZ(.1px);
}

.authors__book__flip__card__item--front img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.authors__book__flip__card__item--front .page-curl {
    background: linear-gradient( 315deg, #161616, #0C0C0C 45%, #000 50.9%, #aaa 51%, #bbb 56%, #ccc 62%, #f3f3f3 78%, #fff 100% );
}

.authors__book__flip__card__item--front:hover .page-curl {
    width: 60px;
    height: 60px;
}

.authors__book__flip__card__item--front .page-curl span {
    opacity: 0;
    color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    right: -1px;
}

.authors__book__flip__card__item--front:hover .page-curl span {
    bottom: 16px;
    font-size: 13px;
    opacity: 1;
}

.authors__book__flip__card__item--back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    z-index: 2;
}

.ie9 .authors__book__flip__card__item--back,
.lt-ie9 .authors__book__flip__card__item--back,
html[data-useragent*='MSIE 10.0'] .authors__book__flip__card__item--back {
    -webkit-transform: rotateY( 0 );
    -moz-transform: rotateY( 0 );
    transform: rotateY( 0 );
    z-index: 0;
}

.ie9 .flip .authors__book__flip__card__item--front,
.lt-ie9 .flip .authors__book__flip__card__item--front,
html[data-useragent*='MSIE 10.0'] .flip .authors__book__flip__card__item--front {
    display: none;
    z-index: 0;
}

.ie9 .flip .authors__book__flip__card__item--back,
.lt-ie9 .flip .authors__book__flip__card__item--back,
html[data-useragent*='MSIE 10.0'] .flip .authors__book__flip__card__item--back {
    display: block;
    z-index: 100000;
}

.authors__book__flip__card__item--back img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    opacity: .05;
}

.authors__book__flip__card.flip {
    -webkit-transform: rotateY( -180deg );
    -moz-transform: rotateY( -180deg );
    transform: rotateY( -180deg );
}

.ie9 .authors__book__flip__card.flip,
.lt-ie9 .authors__book__flip__card.flip,
html[data-useragent*='MSIE 10.0'] .authors__book__flip__card.flip {
    -webkit-transform: rotateY( 0 );
    -moz-transform: rotateY( 0 );
    transform: rotateY( 0 );
}

.authors__book__info {
    padding: 8% 10%;
    width: 100%;
    height: 100%;
    border-top: 10px solid #900;
    border-bottom: 10px solid #900;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #bbb;
}

.authors__book__info__title {
    font-family: 'TradeGothicW01-BoldCn20 675334';
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    display: block;
    margin: 0 0 .7em;
    font-size: 1.1em;
    position: relative;
    z-index: 2;
}

.authors__book__info__title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.authors__book__info__author {
    font-family: 'CenturySchoolbookW01-It 927458';
    font-weight: normal;
    display: block;
    margin: 0 0 .7em;
    position: relative;
    z-index: 2;
}

.authors__book__info__desc {
    font-family: 'Trade Gothic W01 Cn 18';
    font-weight: normal;
    display: block;
    margin: 0 0 .6em;
    line-height: 1.3em;
    position: relative;
    z-index: 2;
    max-height: 140px;
    overflow: hidden;
}

.authors__book__info__desc:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 110px;
    background: url("../../img/bkg/fade-to-bbb-30.png") repeat-x 0 0 transparent;
    content: "";
}

.authors__book__info__close {
    position: absolute;
    top: 0;
    right: 0;
    background: #aaa;
    font-size: 1.4em;
    padding: 2px 6px 3px 7px;
    color: #fff;
    background: #900;
    z-index: 1;
}

a.authors__book__cta {
    font-size: .9em;
    border-width: 1px;
    border-color: #800;
    margin: .6em 0;
    width: 140px;
    display: block;
    text-align: center;
    cursor: pointer;
    z-index: 3;
    position: relative;
}





.past-reunions,
.section-border-top {
    border-top: 1px solid #900;
    margin-top: 2em;
    padding-top: 3em;
}

.section-border-bottom {
    border-bottom: 1px solid #900;
    padding-bottom: 2em;
    margin-bottom: 1.6em;
}


/* overrides for padding and margin classes */

.inside-content .content.pad-top,
.past-reunions.pad-top,
.section-border-top.pad-top {
    padding-top: 2.4em;
}

.inside-content .content.pad-bottom,
.past-reunions.pad-bottom,
.section-border-top.pad-bottom {
    padding-bottom: 2.4em;
}

.inside-content .content.margin-top,
.past-reunions.margin-top,
.section-border-top.margin-top {
    margin-top: 2.4em;
}

.inside-content .content.margin-bottom,
.past-reunions.margin-bottom,
.section-border-top.margin-bottom {
    margin-top: 2.4em;
}


.past-reunion {
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.past-reunion .title {
    display: block;
    font-size: 1.2em;
}

.past-reunion .date {
    display: block;
    margin: 0.2em 0 0;
    font-size: 1em;
}

.past-reunion .img-wrapper {
    display: block;
    position: relative;
    margin: 0.6em 0 0;
}

.past-reunion .img-wrapper img {
    width: 100%;
    height: auto;
}

.past-reunion .img-wrapper .btn-wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.past-reunion .img-wrapper .btn-wrapper a {
    display: block;
    margin: 0 auto;
    width: 7em;
    text-align: center;
    opacity: .85;
}


.past-reunions .center-wrapper {
    text-align: center;
    padding-bottom: 2em;
}

.past-reunions .center-wrapper .sbu-outline-button {
    width: 13.2em;
}



.contact-page img.alumni-assoc-logo {
    margin: 0 auto 20px;
    display: block;
}



.give-back-page .event-gallery {
    float: left;
}



.get-perks .rounded-image-buttons {
    margin-top: 0;
}

.get-perks .two-box {
    padding: 5% 0;
}

.get-perks .two-box .col-2 {
    background: #fff;
    border: 1px solid #000;
    padding: 6% 5%;
    margin-bottom: 20px;
}

.get-perks img {
    display: block;
    width: auto;
    clear: both;
    margin: 0 auto 30px;
    max-width: 100%;
}

.get-perks .alumni-card {
    padding-top: 5px;
    margin-bottom: 40px;
}

.get-perks .two-box .sbu-outline-button {
    display: block;
    margin: 0 auto;
    width: 160px;
    text-align: center;
}




section.explore-benefits {
    padding-top: 3em;
}

section.explore-benefits h3 {
    color: #fff;
    border: 0 none;
    text-align: center;
}

.benefits-category h3.serif {
    
}










.slick-slide:focus {
    outline: none;
    box-shadow: 0 0 10px #900;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 42%;
    display: block;
    width: 24px;
    height: 38px;
    margin-top: -13px;
}

.slick-prev {
    left: -36px;
}

.slick-next {
    right: -36px;
}

.slick-prev:before,
.slick-next:before {
    font-family: "FontAwesome";
    font-size: 46px;
}

.slick-prev:before {
    content: "\f104";
}

.slick-next:before {
    content: "\f105";
}

@media only screen and (min-width: 360px) {
    

}

@media only screen and (min-width: 400px) {

    .inside-content h3.serif {
        font-size: 1.65em;
    }

    .authors {
        font-size: 1.2em;
    }

    .authors__book__info__desc {
        max-height: 185px;
    }

    .authors__book__info__desc:after {
        top: 155px;
    }
}

@media only screen and (min-width: 480px) {
    .authors__book {
        font-size: 1.1em;
        max-width: 360px;
        margin: 0 auto 4em;
    }

    .authors__book__info__desc {
        max-height: 290px;
    }

    .authors__book__info__desc:after {
        top: 260px;
    }
}

@media only screen and (min-width: 541px) {

    .rounded-image-buttons a {
        font-size: 1.4em;
    }

    .rounded-image-buttons a .label span {
        font-size: .8em;
    }

    .rounded-image-buttons .coming-soon:before {
        padding-top: 3%;
    }

    .golf .white-opac-cover {
        background: url("../../img/bkg/transparent-white-70.png") 0 0 repeat transparent;
        background: rgba(255,255,255,.70);
        padding: 20px 0;
    }

}

@media only screen and (min-width: 560px) {

    

    section.events {

    }

    section h4,
    section.events h4 {
        font-size: 2.4em;
    }

    .inside-content h3.serif {
        font-size: 1.75em;
    }

}


@media only screen and (min-width: 680px) {
    .brochures-grid li {
        width: 25%;
    }

    .hsc-alums .som-links .simple-button {
        display: inline-block;
        width: 48%;
        float: left;
        margin: 0 2% 2% 0;
    }

    .hsc-alums .som-links .simple-button + .simple-button {
        margin: 0 0 3% 2%;
    }
}

@media only screen and (min-width: 768px) {

    .get-informed .inside-header {
        background-image: url("../../img/student-life/marquee-campus-autumn-taller-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 50%;
    }

    .brochures-grid li .img-wrapper {
        width: 70%;
        margin: 30px 15% 0;
    }

}

@media only screen and (min-width: 960px) {

    .chapters-nav-dropdown {
        display: none;
    }

    .inside-header h2 {
        font-size: 2.1em;
    }

    .inside-content h3.serif {
        font-size: 2.5em;
        margin: 1.2em 0 .6em;
    }

    .center-rule-header h2 span:before,
    .center-rule-header h2 span:after,
    .center-rule-header h2 a:before,
    .center-rule-header h2 a:after {
        height: 26px;
    }

    .rounded-image-buttons a {
        width: 23.5%;
        height: 220px;
        margin: .75%;
    }

    .rounded-image-buttons a .label {
        padding: 12px 5px;
        min-height: 52px;
        z-index: 5;
    }

    .rounded-image-buttons .coming-soon:before,
    .rounded-image-buttons .coming-soon:after {
        opacity: 0;
    }

    .rounded-image-buttons .coming-soon:before {
        background: #600;
        padding-top: 19%;
    }

    .rounded-image-buttons .coming-soon .label {
        z-index: 5;
    }

    .rounded-image-buttons .coming-soon:hover:before,
    .rounded-image-buttons .coming-soon:hover:after {
        opacity: .85;
    }

    section.events {

    }

    section h4,
    section.events h4 {
        font-size: 3.4em;
    }

    section.calendar .black-opac-cover {
        background: rgba(0,0,0,.75);
        box-shadow: none;
        padding: 60px 0;
    }

    .get-connected section.calendar {
        background: url("../../img/alumni/bkg/calendar-uke-girl.jpg") 0% 0% no-repeat #616e78;
        background-position: 0 20%;
        background-size: 1000px;
    }

    section.reunions {
        padding-top: 140px;
        padding-bottom: 200px;
    }

    section.reunions .col-2 {
        padding-top: 10px;
    }

    .reunions .col-2 {
        padding-right: 120px;
    }

    .reunions img {
        display: block;
        width: 53%;
        max-width: 780px;
        right: 7%;
    }

    section.forty {
        background-position: 80% 100%;
    }

    section.forty .black-opac-cover {
        background: transparent;
        padding-bottom: 330px;
    }

    section.forty .col-2 {
        padding-top: 100px;
        padding-right: 120px;
    }

    .golf .white-opac-cover {
        margin-top: 360px;
    }

    section.golf {
        background-image: url("../../img/alumni/bkg/golf.jpg");
        background-position: 57% 50%;
    }

    .wolfstock {
        min-height: 640px;
    }

    .wolfstock h4 {
        margin-top: 40px;
    }

    .wolfstock .col-2 {
        padding-right: 120px;
    }

    .wolfstock .img-wrapper {
        position: relative;
    }

    .wolfstock img {
        display: block;
        width: 58%;
        max-width: 780px;
        right: 0;
        bottom: auto;
        top: -105px;
    }

    .activities-and-calendar .flex-list-2 li {
        width: 40%;
        margin: 10px 10% 0 0;
        min-height: 130px;
    }

    .activities-and-calendar .event-details {
        padding-bottom: 15px;
    }

    .articles-promo .serif-news-titles {
        padding: 0 30px 0 0;
    }

    .articles-promo .sans-titles-with-thumb {
        padding: 0 0 0 30px;
        border-left: 1px solid #ccc;
    }

    .authors {
        padding: 5% 0 4%;
    }

    .authors__books {
        width: 840px;
        margin: 0 auto;
    }

    .authors__book {
        width: 42%;
        max-width: 1000px;
        margin: 0 0 2.5em;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
    }

    .authors__book:nth-child(odd) {
        margin-right: 7%;
        margin-left: 1%;
    }

    .authors__book:nth-child(even) {
        margin-left: 7%;
        margin-right: 1%;
    }

    .authors__book__cta {
        opacity: .1;
    }

    .alumni-book:hover .authors__book__cta {
        opacity: 1;
    }

    .alumni-chapter .one-third {
        border-right: 1px solid #900;
    }

    .alumni-chapter .two-third,
    .inside-page .two-third,
    .inside-page .three-quarter,
    .inside-page .one-half + .one-half,
    .inside-page .three-quarter + .one-quarter {
        padding-left: 35px;
    }

    .inside-page .right-border-section {
        border-right: 1px solid #900;
        padding-right: 35px
    }
    
    .inside-page .two-third {
        padding-right: 35px;
    }

    .inside-page .one-third + .two-third {
        padding-right: 0;
    }

    .inside-page .left-col-content {
        padding-left: 0;
    }

    .alumni-chapter .activities-and-calendar .one-half {
        padding: 0 15px 0 0;
    }

    .alumni-chapter .activities-and-calendar .one-half + .one-half {
        padding: 0 0 0 15px;
    }

    .alumni-chapter .inside-header {
        margin-bottom: 40px;
    }

    .hsc-alums .inline-with-copy {
        margin: .5em 1.6em 1.25em .25em;
    }

    .hsc-alums .intro-letter {
        padding-bottom: 2em;
        margin-bottom: 1em;
    }

    .inside-page .news-and-events .one-half {
        padding: 20px 30px 20px 0;
    }

    .inside-page .news-and-events .one-half + .one-half {
        padding: 20px 0 20px 30px;
        border-left: 1px solid #900;
    }

    .inside-page .one-half .activities-and-calendar .date-marker {
        width: 14%;
        margin: 6px 2.6% 0 0;
        max-width: 90px;
    }

    .inside-page .news-and-events .serif-news-titles {
        border-bottom: 0 none;
    }



    .past-reunions .past-reunion {
        border: 0 none;
    }

    .past-reunions .past-reunion:nth-child(3n-2) {
        padding-left: 0;
        padding-right: 3%;
    }

    .past-reunions .past-reunion:nth-child(3n-1) {
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    .past-reunions .past-reunion:nth-child(3n) {
        padding-left: 3%;
        padding-right: 0;
    }

    .past-reunion .title:hover {
        text-decoration: underline;
    }

    .past-reunion .img-wrapper .btn-wrapper a {
        opacity: 0;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        transition: all .1s ease;
    }

    .past-reunion:hover .btn-wrapper a {
        opacity: .8;
    }

    .past-reunion:hover .btn-wrapper a:hover {
        opacity: 1;
    }

    .hsc-alums .som-links .btn-wrapper {
        display: inline-block;
        float: left;
        width: 31%;
        margin: 0;
        padding: 0 .6%;
    }

    .hsc-alums .som-links .btn-wrapper-middle {
        width: 30%;
        margin: 0 4%;
    }

    .hsc-alums .som-links .btn-wrapper-middle a {
        border-color: transparent;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .hsc-alums .som-links .btn-wrapper-middle a:hover {
        border: 2px solid #fff;
    }

    .hsc-alums .som-links .simple-button {
        display: block;
        width: 100%;
        float: none;
        margin: 0 0 9% 0;
        font-size: 1.3em;
    }

    .hsc-alums .som-links .simple-button + .simple-button {
        margin: 0;
    }

    .alumni-chapter .event-gallery {
        padding-bottom: 3.5em;
    }


    .students .intro-letter img,
    .recent-grads .intro-letter img {
        max-width: 240px;
        margin-right: 30px;
        margin-top: 0;
    }


    .get-perks .rounded-image-buttons a {
        width: 29.333%;
        height: 220px;
        margin: 2%;
        font-size: 1.8em;
    }

    .get-perks .two-box .col-2 {
        width: 48%;
        margin: 0 2% 0 0;
    }

    .get-perks .two-box .col-2 + .col-2 {
        margin: 0 0 0 2%;
    }

    .board-members .one-quarter img {
        width: 100%;
        margin-right: 0;
    }

    .board-members .three-quarter {
        width: 75%;
        padding: 0 25px;
    }

}

@media only screen and (min-width: 1022px) {

    .inside-header {
        padding-top: 256px;
    }

    .alumni-chapter .owl-next,
    .alumni-chapter .owl-prev {
        top: 32%;
    }
}

@media only screen and (min-width: 1220px) {
    .reunions {
        background-position: 80% 15%;
    }

    .reunions img {
        right: 9%;
    }
}

@media only screen and (min-width: 1400px) {

    section.calendar .black-opac-cover {
        background: none;
        box-shadow: none;
        padding: 60px 0;
    }

    section.calendar .wrapper {
        display: block;
        margin: 0 5% 0 0;
        float: right;
    }

    .authors__books {
        width: 1240px;
    }

    .authors__book {
        width: 26.667%;
        max-width: 1000px;
        margin: 0 0 3em;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
    }

    .authors__book:nth-child(3n-2) {
        margin-left: 0;
        margin-right: 5%;
    }

    .authors__book:nth-child(3n-1) {
        margin-left: 5%;
        margin-right: 5%;
    }

    .authors__book:nth-child(3n) {
        margin-left: 5%;
        margin-right: 0;
    }

    .authors__book__info__desc {
        max-height: 240px;
    }

    .authors__book__info__desc:after {
        top: 210px;
    }
}

@media only screen and (min-width: 1980px) {
    .get-connected section.calendar {
        background-size: 900px;
    }
}

@media only screen and (min-width: 2400px) {
    .get-connected section.calendar {
        background-size: 1200px;
    }
}