.ghosted-fountain {
    background-image: url("../../img/university/ghosted-fountain-full.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}
.ghosted-fountain-bottom {
    background-image: url("../../img/university/ghosted-fountain-full.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 100%;
    padding: 20px 0 60px;
    margin: 0 !important;
}

.white-opac-bkg {
    background: #fff;
    background: rgba(255,255,255,.75);
    padding: 20px;
}

.carousel-wrapper {
    padding-bottom: 10px;
}

.carousel-image {
    box-shadow: none;
}

.owl-theme .owl-controls {
    margin-top: 20px;
}

#tabbed-nav li a {
    color: #333;
    padding: 10px 5px;
}

#tabbed-nav li a img {
    width: 54px;
    margin: 0 10px 0 10px;
}

#tabbed-nav li a:before {
    content: "";
    display: none;
}

#tabbed-nav li a p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.tabs-wrapper h2,
.resources-wrapper h2 {
    font-family: 'Trade Gothic W01 Bold';
    width: 100%;
    text-align: center;
    font-size: 2.3em;
    padding: 20px 0 20px;
}

section.resources-wrapper {
    display: block;
    background-image: url("../../undergraduate-admissions/images/sb-landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 20%;
    padding-top: 70px;
    padding: 0 2%;
}

.tabs-wrapper h2 span {
    display: block;
    margin: 4px 0 0 0;
    font-size: .75em;
    font-family: 'Trade Gothic W01 Light';
    font-style: normal;
    color: #000;
    text-transform: none;
    width: 100%;
    text-align: center;
}

.promo-box-wrapper {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 40px auto;
    border-radius: 25px;
    border: 3px solid #900;
    padding: 20px;
    background: #fff;
    background: rgba(255,255,255,.85);
    font-size: 1em;
}

.promo-box-wrapper h2 {
    display: block;
    margin: 10px 0 20px;
    font-size: 1.7em;
    font-family: 'Trade Gothic W01 Light';
    font-style: normal;
    color: #595959;
    text-transform: none;
    width: 100%;
    text-align: center;
    line-height: 1.2em;
    padding: 0 0 20px;
    border-bottom: 1px solid #900;
}

.promo-box-wrapper h2 span {
    display: block;
    color: #595959;
    font-family: 'Trade Gothic W01 Bold 2';
    font-size: 1em;
}

.promo-box-wrapper a {
    font-family:'Trade Gothic W01 Roman';
    display: block;
    padding: 5px 0;
    margin: 3px 0;
    font-size: 1em;
}

.promo-box-wrapper a:hover {
    text-decoration: underline;
}

.promo-box-wrapper a.police {
    background-image: url('../../img/student-life/marquee-info-for-parents-768.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 30%;
}

.promo-box-wrapper a.reactions {
    background-image: url('../../img/student-life/students-walking.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 80%;
}

.promo-box-wrapper a.environment {
    background-image: url('../../img/student-life/students-at-fountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.campus {
    background-image: url('../../img/students/red-bag-small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.residential {
    background-image: url('../../img/student-life/marquee-info-for-veterans-768.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.employee {
    background-image: url('../../img/buildings/hsc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.cleary {
    background-image: url('../../img/student-life/marquee-campus-autumn-768.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.center {
    background-image: url('../../img/student-life/marquee-info-for-counselors-768.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.counseling {
    background-image: url('../../img/student-life/brook-leaves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.diversity {
    background-image: url('../../img/student-life/autumn-tree.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.title {
    background-image: url('../../img/student-life/campus-life-eating-2000.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.stuhealth {
    background-image: url('../../img/student-life/students-at-table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.dean {
    background-image: url('../../img/students/staller-lawn-768.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a.stuaff {
    background-image: url('../../img/student-life/marquee-graduation-768.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 60%;
}

.promo-box-wrapper a .external-link {
    padding-left: 16px;
}

.promo-box-wrapper a .external-link:after {
    content: " ";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    z-index: 1;
    width: 12px;
    margin-left: 4px;
}

.promo-box-wrapper a:hover .external-link:after {
    content: "\f08e";
}

.link-section-heading {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: none;
    color: #222;
    margin: 0;
}

.resources-wrapper .disclaimer {
    margin: 80px auto 60px;
}


@media only screen and (min-width: 480px) {
    .promo-box-wrapper {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 560px) {
    .tabs-wrapper h2 {
        font-size: 2.8em;
    }
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 960px) {
    .link-section-heading {
        font-size: 2.4em;
        margin: 5px 0 10px;
    }

    .promo-box-wrapper {
        padding: 30px 50px;
        margin: 80px auto 0;
    }

    .promo-box-wrapper h2 {
        font-size: 2.3em;
    }

    .promo-box-wrapper a {
        font-size: 1.025em;
    }

    .resources-wrapper .col {
        display: inline-block;
        float: left;
        width: 33.333%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .resources-wrapper .col a {
        text-align: left;
    }

    .resources-wrapper .disclaimer {
        display: block;
        margin: 140px auto 80px;
        padding: 0 50px;
    }
}

@media only screen and (min-width: 1022px) {
    .tabs-wrapper {
        padding-top: 40px;
    }

    .tabs-wrapper h2 {
        font-size: 3.3em;
    }

    .tabs-wrapper h2 span {
        font-size: .7em;
    }

    #tabbed-nav-content > li {
        position: absolute !important;
        top: -99999px !important;
        left: -99999px !important;
        width: 2000px;
        height: 2000px;
    }

    #tabbed-nav-content li.open {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        width: 100%;
        height: auto;
    }

    .link-section-heading {
        font-size: 2.6em;
        padding: 15px 0 10px;
    }

    #tabbed-nav {
        text-align: center;
        border: 0 none;
    }

    #tabbed-nav li {
        border: 0 none !important;
        width: 23%;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 1%;
    }

    #tabbed-nav li a {
        border: 2px solid #999;
        border-radius: 25px;
        font-family: 'TradeGothicW01-BoldCn20 675334';
        color: #900;
        font-size: 1.45em;
        width: 100%;
        padding: 6px 0;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #tabbed-nav li a:hover,
    #tabbed-nav li.selected a {
        border: 2px solid #800;
    }

    #tabbed-nav li a img {
        width: 68px;
        display: inline-block;
        float: left;
        margin: 0 8px;
    }

    #tabbed-nav li a span {
        height: 68px;
        display: inline-block;
        float: left;
        max-width: 135px;
        display: table; 
    }

    #tabbed-nav li a:hover {
        border: 2px solid #800;
    }

    #tabbed-nav li a p {
        display: table-cell; 
        vertical-align: middle; 
        text-align: left; 
    }

    .content-section-cs .wrapper {
        width: 100%;
        margin: 0;
    }

    .content-section-cs .wrapper .inside-wrapper-cs {
        width: 1022px;
        margin: 0 auto;
        display: block;
        padding: 0 2.5%;
    }

    .content-section-cs .wrapper h3 {
        padding: 15px 0;
        color: #fff;
        border-bottom: 0 none;
        background: #900;
        margin: 30px 0;
    }

}
@media only screen and (min-width: 1220px) {

}