@import 'for-students.css';

.tweets-and-news .stream, .tweets-and-news .news {
    padding: 0 5%;
}

.tweets-and-news .cta {
    font-size: .9em;
}

.tweets-and-news .cta:hover {
    background: #fff;
    color: #a00;
}

.tweets-and-news .stream li {
    width: 100%;
    padding: 0;
}

.tweets-and-news .stream .twitter-user {
    padding: 0 0 15px;
}

.tweets-and-news .stream .twitter-user strong {
    font-family: 'Trade Gothic Next W01', Arial, sans-serif;
    color: #47c2c8;
    font-size: 1.2em;
    line-height: 1.4;
}

.tweets-and-news .stream .twitter-user a:hover {
    color: #fff !important;
    text-decoration: none !important;
}

.tweets-and-news .stream .section-text {
    color: #fff;

    font-family: 'Trade Gothic Next W01', Arial, sans-serif;
}

.tweets-and-news .stream .section-text a {
    color: #47c2c8;
    font-family:'Trade Gothic W01 Bold 2';
}

.tweets-and-news .stream .section-text a:hover {
    text-decoration: none;
    color: #fff !important;
}

.tweets-and-news .stream .twitter-user a {
    color: #fff;
}

.tweets-and-news i.font-icon.fa.fa-twitter {
    color: #4ec2dc;
    margin-left: 67%;
    font-size: 1.3em;
    padding-top: 5px
}

.tweets-and-news .stream .section-intro a {
    color: #ccc;
}

.tweets-and-news .stream .section-intro a:hover {
    color: #fff !important;
}

@media only screen and (min-width: 700px) {
    .tweets-and-news .twitter-feed, .tweets-and-news .news-feed {
        display: inline-block;
        float: left;
        width: 45%;
        margin: 0;
        padding: 0;
        border-right: 0 none;
    }
}