.courses-books {
    background-image: url("../../img/student-life/marquee-courses-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.calendar {
    background-image: url("../../img/student-life/marquee-students-hands-up-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.tuition-aid {
    background-image: url("../../img/student-life/marquee-girls-on-lawn-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 100% 30%;
}

.student-life {
    background-image: url("../../img/student-life/marquee-girl-and-guitar-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.registration {
    background-image: url("../../img/university/marquee-autumn-steps-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.contact-page {
    background-image: url("../../img/student-life/marquee-students-talking-outside-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.visiting-students {
    background-image: url("../../img/student-life/marquee-people-walking-by-library-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.international-page {
    background-image: url("../../img/student-life/marquee-international-students-walking-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.incoming-page {
    background-image: url("../../img/student-life/marquee-girl-looking-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.high-school {
    background-image: url("../../img/student-life/marquee-high-school-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.current-students {
    background-image: url("../../img/student-life/marquee-girl-walking-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.adults-professionals {
    background-image: url("../../img/student-life/marquee-adults-professionals-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.academic-resources {
    background-image: url("../../img/student-life/marquee-student-studying-flowers-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 30%;
}

.study-abroad {
    background-image: url("../../img/student-life/marquee-study-abroad-marquee-768.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 50% 100%;
}

.inside-header .no-pad-wrapper {
    min-height: 80px;
}

.inside-header h3 {
    color: #fff;
    font-size: 2.4em;
    line-height: 1.2em;
    font-family: 'Trade Gothic W01 Light', Arial, sans-serif;
    display: block;
    margin: 20px 0 20px 10px;
    text-transform: none;
    letter-spacing: .015em;
}

section.main-inside-content {
    padding: 10px 0 20px;
}

.suny-callout {
    height: 320px
}

.grey-box-1 > h4 {
    margin-top: 5px !important;
}

.filter-buttons h4 {
    margin-bottom: 30px !important;
}

h4 span {
    color: #484848;
    text-transform: none;
}

.high-school-content .courses-content h4 {
    text-transform: none;
    margin-top: 0
}

.high-school-content ul li {
    margin-bottom: 8px;
}

.high-school-content .programs-box-wrapper {
    background-image: url("../../img/students/students-waling-ghosted-box.jpg");
    background-size: 100%;
    background-size: cover;
    background-position: 100% 50%;
}

.programs-box-wrapper img {
    display: none;
}

.programs-box-wrapper {
    padding: 30px 0 10px;
}

.programs-box-wrapper ul {
    padding: 0 0 0 15px;
}

.inside-content.alt-headers .programs-box-wrapper h4 {
    display: block;
    font-family: 'ITCFranklinGothicW01-Md 812695', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #900;
    cursor: default;
    width: 100%;
    display: block;
    padding: 0;
    border-bottom: 0 none;
    text-align: center;
}

.carousel-wrapper {
    margin-top: 20px;
}

.carousel-wrapper .item,
.carousel-image {
    height: auto;
}

.carousel-style-01 .carousel-image:after {
    display: none;
}

.fixed-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5% 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../../img/bkg/transparent-red-900-85.png") 0 0 repeat transparent;
    background: rgba(153, 0, 0, .85);
    text-align: center;
    color: #fff;
    font-family: 'Trade Gothic W01 Light', Arial, sans-serif;
    font-size: 1em;
}

.grey-box-1 h5 {
    text-align: center;
    margin-bottom: 30px;
    color: #484848;
}

.img-button {
    display: block;
    width: 100%;
    position: relative;
    color: #fff;
}

.img-button > span {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 1.2em;
}

.img-button > span > span {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 4px;
    background: url("../../img/bkg/transparent-black-40.png") repeat scroll 0 0;
    background: rgba(0,0,0,.4);
    text-align: center;

}

table.light-grey-table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sbu-cta {
    text-transform: none;
    
}

/* Courses */

.no-flexbox #department_list {
    height: auto !important;
}

ul.departments {
    display: block;
    width: 100%;
}

ul.departments li {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

ul.departments li a {
    padding: 3px 0;
    display: inline-block;
}

.inside-content div.filter-wrapper {
    width: 100%;
    background: #fff;
    margin: 0 0 10px;
    padding: 11px 0 6px;
    border-bottom: 1px solid #ddd;
}

.inside-content .is-sticky div.filter-wrapper {
    width: 90%;
    margin: 0;
}

.query-result-text {
    display: block;
    margin: 0 0 10px;
    font-size: .85em;
    line-height: 1.8em;
}

.query-result-text > span {
    display: block;
}

.query-result-text .filter-item {
    display: inline-block;
    background: #eee;
    border-radius: 4px;
    padding: 3px 4px 4px;
    line-height: 1;
}

/* course list */

ul.course-list {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}

ul.course-list li {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px;
}

ul.course-list li h5 {
    font-family: 'Trade Gothic W01 Bold 2';
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul.course-list li p {
    display: block;
    margin: 0;
    padding: 0;
}

ul.course-list li p.credits {
    font-style: italic;
}

ul.course-list li p.description {
    margin: 12px 0;
}

ul.course-list li p span {
    display: inline-block;
}

ul.course-list li p span + span {
    border-left: 1px solid #777;
    padding: 0 0 0 6px;
    margin: 0 0 0 4px;
}

.course-search-form label {
    display: block;
    margin: 0;
    height: 80px;
    padding-bottom: 0;
    padding-top: 0;
}

.course-search-form select {
    height: 40px;
}

.course-search-form .search-button {
    display: block;
    margin: 10px auto 20px;
    width: 160px;
}

.search-results-wrapper h4 {
    margin-bottom: 0 !important;
}

span.search-directions {
    display: inline-block;
    float: left;
    font-size: .9em;
    padding: 0 0 0 6px;
}

span.search-directions a,
a.modify-search-after {
    color: #900;
    background: #fff;
    width: auto;
    text-align: center;
    padding: 1px 3px 3px;
    font-size: .9em;
    margin: 4px 0 0 4px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    text-decoration: underline;
}

span.search-directions a:hover {
    color: #fff;
    background: #900;
    border: 1px solid #700;
    text-decoration: none;
}

a.modify-search-after,
a.modify-search-after:hover {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    float: none;
    color: #fff !important;
    background: #900;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-controls {
    display: block;
    width: auto;
    margin: 0;
}

.filter-status {
    margin: 5px 7px 2px 5px;
    display: block;
    float: left;
    width: auto;
    font-size: .8em;
    color: #333;
    border: 0 none;
}

.clear-filter {
    display: inline-block;
    float: left;
    color: #900;
    background: #fff;
    width: auto;
    margin: 3px 0 0 0;
    padding: 6px 4px 8px;
    border: 0 none;
    text-decoration: underline;
    line-height: 1;
    font-size: .9em;
    border: 1px solid transparent;
}

.clear-filter:hover {
    color: #fff;
    background: #900;
    border: 1px solid #700;
    text-decoration: none;
}

/* Lightbox */

.nivo-lightbox-wrap {
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: 7%;
    right: 7%;
}

.nivo-lightbox-inline, .nivo-lightbox-ajax {
    max-height: 10000px;
    padding: 16px 0 !important;
}

.nivo-lightbox-content {
    position: relative;
    padding: 0;
    height: 0;
    margin: 0;
}

.nivo-lightbox-content .course-search-form {
    font-size: .8em;
}

.nivo-lightbox-content .course-search-form label {
    height: auto;
    margin: 0 0 10px;
    font-family:'Trade Gothic Next W01', Arial, sans-serif;
}

.nivo-lightbox-content .course-search-form input[type="text"] {
    padding: 8px 10px;
    margin-top: 2px;
}

.nivo-lightbox-content .course-search-form select {
    height: 34px;
    margin-top: 2px;
}

.nivo-lightbox-content .course-search-form input[type="submit"] {
    margin: 16px auto 0;
    padding: 7px 0;
}

.inside-content #modify-search {
    position: absolute !important;
    top: -99999px !important;
    left: -99999px !important;
    width: 2000px;
    height: 2000px;
}

.course-search-form .search-button

@media only screen and (min-width: 360px) {
    .fixed-caption {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 400px) {
    ul.course-list li p.description {
        margin: 16px 0;
    }
    .query-result-text {
        font-size: .9em;
    }

    .nivo-lightbox-content .course-search-form {
        font-size: 1em;
    }

    .nivo-lightbox-content .course-search-form label {
        height: auto;
        margin: 0 0 10px;
    }

    .nivo-lightbox-content .course-search-form input[type="text"] {
        padding: 10px 10px;
        margin-top: 2px;
    }

    .nivo-lightbox-content .course-search-form select {
        height: 40px;
        margin-top: 3px;
    }

    .nivo-lightbox-content .course-search-form input[type="submit"] {
        margin: 22px auto 8px;
        padding: 8px 0;
    }
}

@media only screen and (min-width: 440px) {

    #browse-departments .clear-filter {
        width: 150px;
    }

    .clear-filter {
        padding: 5px 4px 8px;
    }

    .filter-status {
        margin: 7px 7px 5px 5px;
        display: block;
        float: left;
        width: 100%;
        font-size: .8em;
    }

    .filter-controls {
        margin-bottom: 10px;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 480px) {
    .inside-header h3 {
        font-size: 2.8em;
    }
    .programs-box-content ul li {
        margin: 0 0 12px 50px;
    }
    .fixed-caption {
        font-size: 1.3em;
    }

    .carousel-wrapper {
        margin-top: 30px;
    }

    .course-search-form .search-button,
    a.modify-search-after,
    a.modify-search-after:hover {
        width: 160px;
        margin: 20px auto;
        padding: 6px 2px 8px;
    }

    a.modify-search-after,
    a.modify-search-after:hover {
        width: 160px;
        margin: 0;
    }
}

@media only screen and (min-width: 560px) {
    .fixed-caption {
        font-size: 1.4em;
    }

    ul.course-list {
        font-size: .9em;
    }

    .filter-controls {
        font-size: 1em;
    }

    .clear-filter {
        padding: 7px 4px 8px;
    }
}

@media only screen and (max-width: 768px) {
    #department_list {
        height: auto !important;
    }
}

@media only screen and (min-width: 768px) {
    .courses-books {
        background-image: url("../../img/student-life/marquee-courses-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .calendar {
        background-image: url("../../img/student-life/marquee-students-hands-up-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .tuition-aid {
        background-image: url("../../img/student-life/marquee-girls-on-lawn-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .student-life {
        background-image: url("../../img/student-life/marquee-girl-and-guitar-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .registration {
        background-image: url("../../img/university/marquee-autumn-steps-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .contact-page {
        background-image: url("../../img/student-life/marquee-students-talking-outside-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .visiting-students {
        background-image: url("../../img/student-life/marquee-people-walking-by-library-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .international-page {
        background-image: url("../../img/student-life/marquee-international-students-walking-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .incoming-page {
        background-image: url("../../img/student-life/marquee-girl-looking-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .high-school {
        background-image: url("../../img/student-life/marquee-high-school-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .current-students {
        background-image: url("../../img/student-life/marquee-girl-walking-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .adults-professionals {
        background-image: url("../../img/student-life/marquee-adults-professionals-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .academic-resources {
        background-image: url("../../img/student-life/marquee-student-studying-flowers-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 30%;
    }

    .study-abroad {
        background-image: url("../../img/student-life/marquee-study-abroad-marquee-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 50% 100%;
    }

    .inside-header h3 {
        font-size: 3em;
        margin: 30px 0 20px 15px;
    }

    section.main-inside-content {
        padding: 20px 0;
    }

    .high-school-content.inside-content.alt-headers h3 {
        font-size: 3.1em !important;
    }

    .fixed-caption {
        font-size: 1.9em;
    }

    ul.departments {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-flex-flow: column wrap;
        -moz-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        width: 100%;
        height: 1600px
    }

    ul.departments li {
        width: 50%;
        padding: 0;
        font-size: .9em;
        text-align: left;
    }

    .no-flexbox #department_list {
        height: auto !important;
    }

}

@media only screen and (min-width: 960px) {
    .programs-box-wrapper img,
    .programs-box-content {
        margin: 0;
        display: inline-block;
        float: left;
    }

    .programs-box-content {
        padding: 22px 5px 0 30px;
        width: 335px;
    }

    .programs-box-content ul {
        margin: 0;
        padding: 0;
        font-family: 'Trade Gothic W01 Bold 2';
    }

    .programs-box-content ul li {
        margin: 0 0 8px 20px;
        font-size: .9em;
    }

    .programs-box-wrapper {
        padding: 0;
    }

    .inside-content.alt-headers .programs-box-wrapper h4 {
        text-align: left;
        padding: 0;
        margin: 0 0 15px;
    }

    .fixed-caption {
        font-size: 2.2em;
    }

    ul.departments {
        height: 1000px;
    }

    ul.departments li {
        width: 33.333%;
        padding: 0;
        font-size: .9em;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1139px) {

    .inside-content nav.courses-nav {
    }

}

@media only screen and (min-width: 1022px) {
    .inside-header h3 {
        font-size: 3.5em;
        margin: 120px 0 20px 15px;
    }
    .fixed-caption {
        font-size: 3.3em;
    }
    .img-button > span {
        top: 42%;
        font-size: 1.4em;
    }
    .img-button > span > span {
        padding: 8px;
    }

    .inside-content .is-sticky div.filter-wrapper {
        width: 90%;
    }

    .query-result-text {
        float: right;
        width: 55%;
        font-size: .85em;
        line-height: 1.6em;
        text-align: right;
        margin: 0;
    }

    input.text-filter {
        width: 35%;
        float: left;
        display: inline-block;
    }

    span.search-directions {
        display: inline-block;
        float: left;
        font-size: .9em;
    }

    .filter-status {
        margin: 6px 7px 2px 5px;
    }

    .search-results-wrapper h4 {
        margin-bottom: 15px !important;
    }
}

@media only screen and (min-width: 1090px) {
    .inside-header h3 {
        margin: 120px 0 20px 0;
    }
}

@media only screen and (min-width: 1140px) {
    .owl-prev {
        top: 40%;
        left: -60px;
    }

    .owl-next {
        top: 40%;
        right: -60px;
    }

    .inside-content .is-sticky div.filter-wrapper {
        width: 1024px;
    }

    .nivo-lightbox-wrap {
        position: absolute;
        top: 16%;
        bottom: 16%;
        left: 16%;
        right: 16%;
    }
}

@media only screen and (min-width: 1220px) {
    .inside-header h3 {
        margin: 170px 0 20px 0;
    }
}

@media only screen and (min-width: 1600px) {
    .nivo-lightbox-wrap {
        position: absolute;
        top: 25%;
        bottom: 25%;
        left: 25%;
        right: 25%;
    }
}

@media only screen and (min-width: 2000px) {
    .nivo-lightbox-wrap {
        position: absolute;
        top: 30%;
        bottom: 30%;
        left: 30%;
        right: 30%;
    }
}