.sub-nav.big-n-bold a:focus {
    outline: none;
}

h2.video-hero_title {
    font-family: 'Effra W01';
    font-weight: 900;
    margin-top: 30%;
    font-size: 1.8em;
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}

h2.video-hero_title-thank-you {
    font-family: 'Effra W01';
    font-weight: 700;
    margin-top: 15%;
    font-size: 1.4em;
    color: #fff;
    text-align: center;
}

h3.video-hero_title-thank-you {
    font-family: 'Effra W01';
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.hero-text-wrapper a.sbu-outline-button {
    background: #81C0F6 !important;
    border-color: #81C0F6 !important;
    color: #000 !important;
    transition: all .2s ease-in-out;
}

.hero-text-wrapper a.sbu-outline-button:hover {
    border-color: #afd8fb !important;
    background-color: #afd8fb !important;
}

.video-hero_button {
    width: 160px;
}

.big-n-bold .search-container.stay-in-nav input[type="text"] {
    width: 150px;
}

.owl-theme .owl-controls {
    display: none !important;
}

.site-carousel {
    background: url("https://www.stonybrook.edu/commcms/_images/section-backgrounds/white-rays/SBU_RayBKG_white4_HORZ_RGB.jpg");
    background: url("https://www.stonybrook.edu/commcms/_images/section-backgrounds/black-rays/SBU_RayBKG_black4_HORZ_RGB.jpg");
    background: url("https://www.stonybrook.edu/commcms/_images/section-backgrounds/red-rays/red-rays-full-1.png");    
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 1023px) {
	.site-carousel {
		background: url("https://www.stonybrook.edu/commcms/_images/section-backgrounds/students/190710_Students-on-Mall_624.JPG");
		background-position: left;
		background-size: cover;
	}
}

.site-carousel .carousel-wrapper .item,
.site-carousel .carousel-image {
    height: 250px;
}

.carousel-image[data-image='01'] {
    background-image: url("../../img/student-life/marquee-graduation-768.jpg");
    background-position: 50% 20%;
}

.carousel-image[data-image='02'] {
    background-image: url("../../img/student-life/marquee-stadium-768.jpg");
}

.carousel-image[data-image='03'] {
    background-image: url("../../img/student-life/marquee-chemistry-768.jpg");
    background-position: 20% 20%;
}

.carousel-image[data-image='04'] {
    background-image: url("../../img/student-life/marquee-wolfie-768.jpg");
}

.carousel-image[data-image='05'] {
    background-image: url("../../img/student-life/marquee-africa-768.jpg");
}

.carousel-image[data-image='06'] {
    background-image: url("../../img/student-life/marquee-audience-768.jpg");
}

.carousel-image[data-image='07'] {
    background-image: url("../../img/student-life/marquee-regatta-768.jpg");
}

.carousel-image[data-image='08'] {
    background-image: url("../../img/student-life/marquee-bnl2-768.jpg");
}

.carousel-image[data-image='09'] {
    background-image: url("../../img/student-life/marquee-journalism-768.jpg");
}

.site-carousel h1.special {
    font-family: 'ITCFranklinGothicW01-Md 812695';
    font-weight: 200;
    text-transform: uppercase;
    -webkit-text-shadow: -2px 2px 0 #000, -4px 4px 0 #900, -6px 6px 0 #000, 0px 0px 25px #000;
    -moz-text-shadow: -2px 2px 0 #000, -4px 4px 0 #900, -6px 6px 0 #000, 0px 0px 25px #000;
    text-shadow: -1px 1px 0 #000, -2px 2px 0 #900, -3px 3px 0 #000, 0px 0px 15px #000;
    color: #fff;
    cursor: default;
    width: 100%;
    display: block;
    opacity: .85;
    position: absolute;
    text-align: center;
    white-space: nowrap;
}

.site-carousel h1.bottom {
    bottom: 0;
}

.site-carousel h1.top {
    top: 0;
}

.site-carousel h1 {
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Trade Gothic W01 Light';
    -webkit-text-shadow: 0 0 10px rgba(0,0,0,.7);
    -moz-text-shadow: 0 0 10px rgba(0,0,0,.7);
    text-shadow: 0 0 10px rgba(0,0,0,.7), 0 0 15px rgba(0,0,0,.7), 0 0 15px rgba(100,0,0,.7), 0 0 15px rgba(0,0,0,.7);
    opacity: .9;
    color: #fff;
    cursor: default;
    width: 100%;
    display: block;
    position: absolute;
    font-size: 2em;
}

.site-carousel h1 em {
    font-style: normal;
}

.site-carousel h1 em:before {
    content: "#";
}

.item-within-carousel {
    width: 80%;
    max-width: 329px;
    margin: 30px auto 0;
    display: block;
    position: relative;
}

section.main-cta {
    background: #000;
}

.side-title-links-wrapper {
    color: #fff;
    height: 230px;
    font-family: "Effra W01", Helvetica, sans-serif;
    padding: 20px 0;
}

.side-title-links-wrapper .side-title {
    float: left;
    display: inline-block;
    height: 100%;
    width: 60px;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 1.7em;
    white-space: nowrap;
    letter-spacing: .05em;
    color: #00ffff;
    padding: 93px 0 0 0;
}

.side-title-links-wrapper .side-title span {
    display: block;
    text-align: center;
    width: 100px;
    text-align: center;
    padding: 0px 0px 62px 32px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    height: 50px;
}

.side-title-links-wrapper .links-wrapper {
    float: left;
    display: inline-block;
    width: 75%;
    height: 100%;
    z-index: 50;
    position: relative;
    padding: 0 0 0 14px;
    border-left: 2px solid #00ffff;
}

.side-title-links-wrapper .links-wrapper a {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 23%;
    width: 100%;
    /*padding: 12px 0 0 5px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.3em;
    color: #d7d7d7;
}

.side-title-links-wrapper .links-wrapper a:hover {
    color: #fff;
}

.side-title-links-wrapper .links-wrapper a .label {
    text-transform: uppercase;
}

.side-title-links-wrapper .links-wrapper a .after-text {
    font-family: "Effra W01", Helvetica, sans-serif;
    font-size: .9em;
    display: inline-block;
    margin: 0 0 0 12px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
    display: none;
}

.side-title-links-wrapper .links-wrapper em {
    display: inline-block;
    margin: 0 0 0 12px;
}

.virtual-tour {
    margin: 0 0 60px;
    padding: 40px 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.virtual-tour .button-wrapper {
    display: block;
    border: 3px solid #fff;
    width: auto;
    border-radius: 25px;
    width: 210px;
    position: relative;
    margin: 0 auto;
    color: #00ffff;
    font-family: 'Trade Gothic W01 Light';
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: .1em;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

.virtual-tour .top-half {
    height: 70px;
    width: 100%;
    padding: 10px 40% 8px 14px;
    border-radius: 21px 21px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

.virtual-tour .bottom-half {
    height: 60px;
    background: #900;
    border-radius: 0 0 21px 21px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0 0 35px;
    font-size: 1.8em;
    color: #fff;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

.virtual-tour .button-wrapper:hover .top-half {
    color: #fff;
    background: #900;
}

.virtual-tour .button-wrapper:hover .bottom-half {
    background: #000;
    color: #00ffff;
}

.virtual-tour .converse,
.virtual-tour .hand-phone {
    background-image: url("../../img/misc/converse.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50px -25px;
    height: 181px;
    width: 180px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 21px 0 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.virtual-tour .hand-phone{
    background-image: url("../../img/misc/hand-phone.png");
}

.virtual-tour .button-wrapper:hover .converse,
.virtual-tour .button-wrapper:hover .hand-phone {
    background-size: 92%;
    background-position: 47px -25px;
}

.cost-calculator {
    display: block;
    margin: 0 auto;
    color: #00ffff;
    font-family: 'Trade Gothic W01 Light';
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1.3em;
    letter-spacing: .1em;
    width: 300px;
    margin: 0 auto 55px;
}

.cost-calculator a {
    color: #00ffff;
    text-decoration: none;
}

.cost-calculator:hover a {
    text-decoration: none;
}

.cost-calculator .left {
    float: left;
    display: inline-block;
    text-align: right;
    width: 135px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px 0 0;
}

.cost-calculator .right {
    float: left;
    display: inline-block;
    margin: 0 0 0 16px;
    padding: 0 0 0 20px;
    border-left: 2px #00ffff solid;
}

.cost-calculator img {
    width: 90px;
}

section.discover-students {
    padding: 80px 0 70px !important;
}

.discover-students h2 {
    font-family: 'Trade Gothic W01 Bold';
    width: 100%;
    text-align: center;
    font-size: 2.3em;
}

.discover-students h3 {
    font-family: 'Trade Gothic W01 Light';
    color: #000;
    text-transform: none;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin: 0 0 24px;
}

.discover-students h3 em {
    color: #900;
    font-style: normal;
    font-family: 'Trade Gothic W01 Bold';
}

.discover-students .student-wrapper {
    display: block;
    width: 70%;
    margin: 0 15%;
    border-radius: 50%;
    border: 4px solid #900;
    box-shadow: 6px 6px 10px rgba(0,0,0,.20);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.discover-students .ruchi {
    background-image: url("../../img/students/profile/Circle-Ruchi-Color.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.discover-students .neha {
    background-image: url("../../img/students/profile/Circle-Neha-Color.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.discover-students .jamie {
    background-image: url("../../img/students/profile/Circle-Jamie-Color.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.discover-students .mai {
    background-image: url("../../img/students/profile/Circle-Mai-Color.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.discover-students .alejandro {
    background-image: url("../../img/students/profile/Circle-Alejandro-Color.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.discover-students .cooper {
    background-image: url("../../img/students/profile/Circle-Cooper-Color.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.discover-students .bianca {
    background-image: url("../../img/students/profile/Circle-Bianca-Color.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.discover-students .roger {
    background-image: url("../../img/students/profile/Circle-Roger-Color.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.discover-students img.student {
    display: block;
    width: 100%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.discover-students a:hover img.student {
    opacity: 0;
}

.discover-students a:hover .student-wrapper {

}

.discover-students .blurb {
    font-family: 'Trade Gothic W01 Light';
    width: 70%;
    margin: 15px 15% 20px;
    display: block;
    text-align: center;
    font-size: 1.3em;
    color: #000;
}
.discover-students .blurb em {
    color: #900;
    font-style: normal;
    text-transform: uppercase;
    font-family: 'Trade Gothic W01 Bold';
}

#the-carousel-3 {
    width: 90%;
    margin: 0 5%;
}

.discover-students .carousel-wrapper .item,
.discover-students .carousel-image {
    height: auto;
}

.discover-students .owl-prev {
    left: 0;
    padding: 0 10px 0 10px;
}

.discover-students .owl-next {
    right: 0;
    padding: 0 10px 0 10px;
}

.discover-students .owl-next,
.discover-students .owl-prev {
    position: absolute;
    top: 33%;
    color: #333;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.discover-students .owl-next:hover,
.discover-students .owl-prev:hover {
    box-shadow: none;
}

section.cta-items {
    background-image: url("https://www.stonybrook.edu/undergraduate-admissions/images/sb-landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 20%;
    padding-top: 70px;
    height: 545px;
}

.cta-items a {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: #687983;
    background: rgba(104, 121, 131, .8);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.6em;
    font-family: "Effra W01", Helvetica, sans-serif;
    color: #fff;
    letter-spacing: .02em;
    border: 3px solid #fff;
    margin: 20px 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 6px 6px 10px rgba(0,0,0,.20), 5px 5px 10px rgba(0,0,0,.15) inset;
}

.cta-items a:first-child {
    margin-top: 0;
}

.cta-items a:hover {
    background: #1b87ff;
    box-shadow: 2px 2px 10px rgba(0,0,0,.20), 5px 5px 10px rgba(0,0,0,.3) inset;
}

.cta-items a:focus{
    background: #1b87ff;
    border-color: #fff;
}

section.student-quotes {
    
}

.student-quotes .item {
    display: table;
}

.student-quotes .person-wrapper,
.student-quotes .text-wrapper {
    width: 100%;
}

.student-quotes .person-wrapper {
    /*position: absolute;
    bottom: 0;*/
    display: table-row;
}

.student-quotes .person-wrapper .table {
    display: table;
    height: 100%;
    width: 100%;
}

.student-quotes .person-wrapper .table-cell {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.student-quotes .person-wrapper img {
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    position: relative;
}

.student-quotes .person-wrapper img.michael {
    max-width: 550px;
    width: 550px;
    margin-left: -250px;
}

.student-quotes .person-wrapper img.taylor {
    max-width: 260px;
}

.student-quotes .person-wrapper img.renae {
    max-width: 160px;
    margin-right: 30px;
}

.student-quotes .person-wrapper img.vinnie {
    max-width: 200px;
    margin-right: 30px;
}

.student-quotes .person-wrapper img.ariana {
    max-width: 260px;
}

.student-quotes .text-wrapper {
    display: table-row;
    font-size: 1.6em;
    color: #fff;
    font-family: 'Trade Gothic W01 Cn 18';
    line-height: 1.6em;
    padding: 0 0 20px;
    z-index: 2;
    position: relative;
}

.student-quotes .text-wrapper:before {
    content: "\f10d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    z-index: 1;
    font-size: 2.6em;
    display: block;
    text-align: center;
    margin: 0 0 20px;
}

.student-quotes .text-wrapper em {
    font-style: normal;
    text-transform: uppercase;
    color: #00ffff;
    font-family:'TradeGothicNextW02-Bold 694368';
}

.student-quotes p {
    margin: 0;
}

.student-quotes .carousel-wrapper .item, 
.student-quotes .carousel-image {
    height: auto;
}

.student-quotes .owl-prev {
    left: 0px;
    padding: 0 10px 0 10px;
}

.student-quotes .owl-next {
    right: 0;
    padding: 0 10px 0 10px;
}

.student-quotes .owl-next,
.student-quotes .owl-prev {
    top: auto;
    bottom: 80px;
    color: #111;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.student-quotes .owl-next:hover,
.student-quotes .owl-prev:hover {
    color: #fff;
    box-shadow: none;
}

section.student-body {
    padding: 50px 0 0;
}

.student-body h2 {
    /*font-family:'Trade Gothic Next W01';*/
    font-family: "Effra W01", Helvetica, sans-serif;
    text-transform: uppercase; 
    color: #900;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 2em;
    margin: 5px 0 20px;
    font-weight:bold;
}

.student-body img {
    max-width: 100%;
    margin: 0 0 30px;
}

.student-body ul {
    display: block;
    width: 100%;
    margin: 0 0 50px;
}

.student-body ul li {
    display: block;
    width: 100%;
    font-family: "Effra W01", Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.7em;
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f7f7f7;

}

.student-body ul li span,
.student-body ul li em,
.student-body ul li {
    background-color: #f7f7f7;
}

.student-body ul li:nth-child(odd) span,
.student-body ul li:nth-child(odd) em,
.student-body ul li:nth-child(odd) {
    background-color: #e7e7e7;
}

.student-body ul li span {
    display: inline-block;
    font-family: "Effra W01", Helvetica, sans-serif;
    font-weight: bold;
    color: #990000;
    margin-right: 0px;
    float: left;
    max-width: 30%;
    padding: 5px 2px 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.student-body ul li span:after {
    display: inline-block;
    content: "";
    margin-left: 0px;
}

.student-body ul li em {
    display: inline;
    float: right;
    font-style: normal;
    font-weight: bold;
    max-width: 70%;
    text-align: right;
    padding: 5px 10px 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer.site-footer {
    background-color: #252525;
}

/* Major minor badges */

.major-minor-badges .major {
    display: inline-block;
    color: #fff;
    background: #900;
}

.major-minor-badges .minor {
    display: inline-block;
    color: #fff;
    background: #00acc6;
    border-radius: 50%;
}


/*Styles for Changes for undergrad admissions page STARTS HERE*/

.virtual-tour-new {
    background-color: #990000;
    padding: 15px 20px 15px 20px; 
    border: 1px solid #FFF;
    margin-top: 46px;
    margin-left: -40px;
    width: 120px;
    min-height: 40px;
    z-index: 1;
    position: absolute;

}

.virtual-tour-new:hover {
    background-color: #660000;
}

.custom-viewbook-new {
    background-color: #990000;
    padding: 15px 20px 15px 20px; 
    border: 1px solid #FFF;
    margin-top: 46px;
    margin-left: -40px;
    width: 120px;
    min-height: 40px;
    z-index: 1;
    position: absolute;
}

.custom-viewbook-new:hover {
    background-color: #660000;
}

.virtual-tour-new a {
    color: #FFF;
    font-family: "Effra W01", Helvetica, sans-serif;
    text-transform: uppercase;
}

.custom-viewbook-new a {
    color: #FFF;
    font-family: "Effra W01", Helvetica, sans-serif;
    text-transform: uppercase;
}

.outer-box-1 {
    float:left;
    margin-top: 24px;
    margin-left: 140px;
}

.outer-box-2 {
    float:left;
    margin-top: 24px;
    margin-left: 140px;
} 

.vt-bckgrnd-img-walking   {
    background-image: url("../../img/misc/photo-link-box-1.jpg");
    border: 1px solid #FFF;
    width: 261px;
    height: 176px;
    z-index: -1;
}

.vt-bckgrnd-img-hand-phone {
    background-image: url("../../img/misc/photo-link-box-2.jpg");
    border: 1px solid #FFF;
    width: 261px;
    height: 176px;
    z-index: -1;

}

.red-rays-bkg-new {
    background-image: url("../../img/misc/rays-background.png");
    background-size: 100%;
    background-size: cover;
   /* background-position: 0 0;
    background-attachment: fixed;*/
}

/*Styles for Changes for undergrad admissions page ENDS HERE*/


@media only screen and (max-width:480px){

    .outer-box-1 {
        margin-left: 50px;
    }

    .outer-box-2 {
        margin-left: 50px;
    } 
}

@media only screen and (min-width: 360px) {

    .side-title-links-wrapper {
        padding-left: 5%;
    }
}

@media only screen and (min-width: 480px) {

    h2.video-hero_title {
        margin-top: 10%;
        font-size: 2.8em;
        position: relative;
        top: 150px;
    }

    .hero-text-wrapper a.sbu-outline-button {
        position: relative;
        top: 150px;
    }

    h2.video-hero_title-thank-you {
        margin-top: 10%;
        font-size: 2.8em;
    }

    h3.video-hero_title-thank-you {
        font-size: 1.4em;
    }

    .site-carousel .carousel-wrapper .item,
    .site-carousel .carousel-image {
        height: 358px;
    }

    .side-title-links-wrapper {
        padding-left: 20%;
    }

    .discover-students .student-wrapper {
        width: 80%;
        margin: 0 10%;
    }

    .student-body h2 {
        font-size: 2.4em;
        margin: 5px 0 20px;
    }

    .student-body ul li {
        font-size: 1.4em;
        background: url('../../img/bkg/single-ellipsis-black.png') 1px 27px repeat-x;
        background-size: 14px 2px;
        background-color: #f7f7f7;
    }

    

}

@media only screen and (min-width: 560px) {

    .site-carousel h1 {
        font-size: 2.4em;
    }

    .side-title-links-wrapper {
        padding-left: 5%;
    }

    .side-title-links-wrapper .links-wrapper {
        float: left;
        display: inline-block;
        width: 80%;
    }

    .side-title-links-wrapper .links-wrapper a .after-text {
        display: inline-block;
        color: #eee;
        opacity: .4;
    }

    .side-title-links-wrapper .links-wrapper a:hover .after-text {
        color: #fff;
        opacity: 1;
    }

    .discover-students h2 {
        font-size: 2.5em;
        margin: 0;
    }

    .discover-students h3 {
        font-size: 1.7em;
        margin: 14px 0 24px;
    }

    .discover-students .blurb {
        font-size: 1.1em;
        width: 80%;
        margin: 15px 10% 20px;
    }

    .student-quotes .text-wrapper {
        font-size: 1.9em;
        padding: 0;
    }

    footer.site-footer {
        background-position: -50% 50%;
    }

}

@media only screen and (min-width: 768px) {

    h2.video-hero_title {
        margin-top: 10%;
        font-size: 3.8em;
    }

   h2.video-hero_title-thank-you {
        margin-top: 5%;
        font-size: 3.4em;
    }

    h3.video-hero_title-thank-you {        
        font-size: 1.8em;
    }

    .site-carousel h1 {
        font-size: 3.3em;
    }

    .carousel-image[data-image='01'] {
        background-image: url("../../img/student-life/marquee-graduation-2000.jpg");
        background-position: 50% 20%;
    }

    .carousel-image[data-image='02'] {
        background-image: url("../../img/student-life/marquee-stadium-2000.jpg");
    }

    .carousel-image[data-image='03'] {
        background-image: url("../../img/student-life/marquee-chemistry-2000.jpg");
        background-position: 50% 20%;
    }

    .carousel-image[data-image='04'] {
        background-image: url("../../img/student-life/marquee-wolfie-2000.jpg");
    }

    .carousel-image[data-image='05'] {
        background-image: url("../../img/student-life/marquee-africa-2000.jpg");
    }

    .carousel-image[data-image='06'] {
        background-image: url("../../img/student-life/marquee-audience-2000.jpg");
    }

    .carousel-image[data-image='07'] {
        background-image: url("../../img/student-life/marquee-regatta-2000.jpg");
    }

    .carousel-image[data-image='08'] {
        background-image: url("../../img/student-life/marquee-bnl2-2000.jpg");
    }

    .carousel-image[data-image='09'] {
        background-image: url("../../img/student-life/marquee-journalism-2000.jpg");
    }

    .site-carousel .carousel-wrapper .item,
    .site-carousel .carousel-image {
        height: 420px;
    }
    .item-within-carousel {
        margin: 14px 16px;
        float: right;
        width: 329px;
    }

    .side-title-links-wrapper {
        padding-left: 20%;
    }

    .virtual-tour {
        width: 50%;
        float: left;
        min-height: 144px;
        border-bottom: 0 none;
        margin-bottom: 0;
    }

    .cost-calculator {
        width: 50%;
        float: left;
        margin: 0 0 0;
        padding: 40px 0;
        border-top: 1px solid #222;
        border-bottom: 0 none;
        min-height: 144px;
    }

    .cta-items a:first-child,
    .cta-items a {
        float: left;
        width: 48%;
        margin: 1%;
    }

    footer.site-footer {
        background-position: -15% 50%;
        background-size: 60%;
    }

    footer.site-footer .col-1,
    footer.site-footer .col-2,
    footer.site-footer .col-3 {
        display: inline-block;
        float: left;
        width: 33.333%;
        margin: 0 0 30px !important;
        text-align: left;
        padding: 0 0 0 7%;
    }

    footer.site-footer .col-2 {
        padding: 4px 0 0 5%;
    }

    footer.site-footer .col-3 {
        padding: 4px 0 0 7%;
    }

    footer.site-footer .col-3 .phone {
        margin: 18px 0 0;
    }
}

@media only screen and (min-width: 960px) {
    .site-carousel .carousel-wrapper .item,
    .site-carousel .carousel-image {
        height: 550px;
    }

    .site-carousel h1.special {
        -webkit-text-shadow: -2px 2px 0 #000, -4px 4px 0 #900, -6px 6px 0 #000, 0px 0px 25px #000;
        -moz-text-shadow: -2px 2px 0 #000, -4px 4px 0 #900, -6px 6px 0 #000, 0px 0px 25px #000;
        text-shadow: -2px 2px 0 #000, -4px 4px 0 #900, -6px 6px 0 #000, 0px 0px 25px #000;
        text-align: right;
        padding-right: 80px;
    }

    .site-carousel h1 {
        font-size: 4.9em;
        margin: 40px auto;
    }

    section.main-cta {
        padding-bottom: 20px;
        background: #000;
    }

    .side-title-links-wrapper,
    .virtual-tour,
    .cost-calculator {
        float: left;
        /*width: 24.933%;*/
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 0 none;
        margin: 0;
    }

    .side-title-links-wrapper {
        padding-left: 20px;
        height: 200px;
    }

    .side-title-links-wrapper .links-wrapper {
        width: auto;
        margin-top: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .side-title-links-wrapper .links-wrapper a {
        font-size: 1em;
    }

    .side-title-links-wrapper .links-wrapper a .after-text {
        display: block;
        font-size: 1em;
        position: absolute;
        left: -10000px;
        top: -10000px;
    }

    .side-title-links-wrapper .side-title span {
        width: 110px;
        padding: 0px 0px 32px 39px;
        height: 80px;
        letter-spacing: .2em;
    }


    .discover-students h2 {
        font-size: 3.7em;
    }

    .discover-students h3 {
        font-size: 2.2em;
        margin: 14px 0 28px;
    }

}

@media only screen and (min-width: 960px) and (max-width:1159px) {
    .outer-box-1 {
        margin-left:80px!important;
    }

    .outer-box-2 {
        margin-left:80px!important;
    }

    .side-title-links-wrapper .links-wrapper {
        padding-left:10px!important;
    }
}

@media only screen and (min-width: 1024px) {

    h2.video-hero_title {
        margin-top: 12%;
        margin-bottom: 25px;
        font-size: 4.8em;
        text-shadow: 0 0 22px rgba(0,10,0,.4), 2px 2px 3px rgba(0,10,0,.2);
        position: relative;
        top: 35%;
    }

    .hero-text-wrapper a.sbu-outline-button {
        position: relative;
        top: 33%;
    }

    .site-carousel div.hero-text-wrapper {
       background-image: linear-gradient(to top, #000000cc 0%, #ffffff00 40%);
    }

    h2.video-hero_title-thank-you {
        margin-top: 12%;
        font-size: 4.8em;
        text-shadow: 0 0 22px rgba(0,10,0,.4), 2px 2px 0px rgba(0,10,0,.2);
    }

    .hero-text-wrapper {
        margin: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        opacity: 1;
    }

    .quick-nav ul li:last-child {
        padding-right: 0;
    }

    .site-carousel .carousel-wrapper .item,
    .site-carousel .carousel-image {
        height: 600px;
    }

    .discover-students .owl-next,
    .discover-students .owl-prev {
        display: none;
    }

    #the-carousel-3 {
        width: 100%;
        margin: 0;
    }

    .cta-items a:first-child,
    .cta-items a {
        float: left;
        width: 23%;
        margin: 1%;
        font-size: 1.8em;
        padding-top: 32px;
        padding-bottom: 33px;
    }
/*
    .cta-items a:last-child {
        padding-top: 16px;
        padding-bottom: 16px;
    }
*/

    section.student-quotes {
        padding-bottom: 0;
        padding-top: 50px;
    }

    section.student-quotes .wrapper {
        overflow: visible;
    }

    .student-quotes .text-wrapper:before {
        display: none;
    }

    .student-quotes .text-wrapper {
        width: 66%;
        float: left;
        display: inline-block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 30px;
        line-height: 2em;
        min-height: 300px;
    }

    .student-quotes .text-wrapper p {
        position: absolute;
        bottom: 0;
        padding-bottom: 6%;
    }
    
    .student-quotes .person-wrapper {
        width: 34%;
        display: inline-block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 300px;
    }


    .student-quotes .person-wrapper .table-cell {
        display: block;
        width: 100%;
        position: relative;
        height: 100%;
        overflow: visible;
    }
    
    .student-quotes .person-wrapper img {
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .student-quotes .person-wrapper img.michael {
        width: 500px;
        max-width: 500px;
        margin-left: 0;
    }

    .student-quotes .person-wrapper img.taylor {
        width: 340px;
        max-width: 340px;
    }

    .student-quotes .person-wrapper img.renae {
        width: 260px;
        max-width: 260px;
    }

    .student-quotes .person-wrapper img.ariana {
        width: 260px;
        max-width: 260px;
    }

    .student-quotes .person-wrapper img.vinnie {
        width: 260px;
        max-width: 260px;
        margin-right: 70px;
    }

    .student-quotes .owl-prev {
        left: -30px
    }

    .student-quotes .owl-next {
        right: -30px;
    }

    .student-body h2 {
        font-size: 2.8em;
        text-align: center;
    }

    .student-body ul {
        text-align: center;
    }

    .student-body ul li span,
    .student-body ul li em,
    .student-body ul li,
    .student-body ul li:nth-child(odd) span,
    .student-body ul li:nth-child(odd) em,
    .student-body ul li:nth-child(odd) {
        background: transparent;
    }

    .student-body ul li {
        display: inline-block;
        width: auto;
        font-size: 1.5em;
        line-height: 1.7em;
        clear: none;
        background-color: transparent;
        float: none;
        margin-right: 10px
    }

    .student-body ul li:before {
        width: 12px;
        height: 12px;
        background: #00e8e8;
        display: inline-block;
        margin: 0 12px 2px 0
    }

    .student-body ul li.none-before:before {
        display: none;
    }

    .student-body ul li span {
        display: inline-block;
        float: none;
        max-width: auto;
        padding: 0;
        max-width: 1000px;
    }

    .student-body ul li span:after {
        display: inline-block;
        content: "";
        margin-left: 0px;
    }

    .student-body ul li em {
        display: inline-block;
        float: none;
        max-width: 1000px;
        text-align: left;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    footer.site-footer {
        background-position: -5% 50%;
        background-size: 50%;
    }

    footer.site-footer .col-1 {
        padding: 0 0 0 7%;
    }

    footer.site-footer .col-2 {
        padding: 4px 0 0 5%;
    }

    footer.site-footer .col-3 {
        padding: 4px 0 0 7%;
    }
}

@media only screen and (min-width: 1220px) {
    .site-carousel .carousel-wrapper .item,
    .site-carousel .carousel-image {
        height: 650px;
    }
}

p.academic-title{
    font-family: "Museo Slab W01", "Museo Slab", Gerogia, serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: none;
    color: #900;
    float: left;
    font-size: 2.8em;
    padding-top: 100px;
}

@media only screen and (max-width: 1061px) {
    p.academic-title {
        padding-top: 20px;
        font-size: 1.8em;
    }
    .ready-to-focus{
        display: none;
    }
}

@media only screen and (max-width: 1061px) {
    p.academic-title {
        padding-top: 20px;
        font-size: 1.8em;
    }
    .ready-to-focus{
        display: none;
    }
}

@media only screen and (min-width: 960px) {
    p.academic-title {
        font-size: 2.8em;
    }
}

.site-footer .footer-viewbook{
    line-height: 1.3;
    width: 70%;
}

@media only screen and (max-width: 768px) {
    .site-footer .footer-viewbook {
        margin: 0 auto;
    }
}



/*Undergrad admissions apply page STYLES START HERE*/

.container {
 margin: 0 auto;
}

.row {
   
}

.box {
  float: left;
  /*width: 66.66666%;  */
  margin-left: 10px;
  position: relative;
}

.box:hover {
    box-shadow: 0px 0px 5px 4px #c0c0c0;
}



.textheader {
  font-size: 20px; 
  color: #FFF!important;   
  font-family:"Effra W01", Helvetica, sans-serif;;    
}

.header i {
  /*border: 1px solid green;*/
  color: #FFF; 
  font-size: 24px;

}

.header {
  position: absolute;
  top:18px;
  left:16px;
}

.backgrnd-pic1 {
    background: url("https://www.stonybrook.edu/undergraduate-admissions/images/apply-photos-1.jpg");
    /*background-size: cover;*/
    width: 218px;
    height:306px;
    

}

.backgrnd-pic2 {
    background: url("https://www.stonybrook.edu/undergraduate-admissions/images/apply-photos-2.jpg");
    /*background-size: cover;*/
    width: 218px;
    height:306px;
    
}

.backgrnd-pic3 {
    background: url("https://www.stonybrook.edu/undergraduate-admissions/images/apply-photos-3.jpg");
    /*background-size: cover;*/
    width: 218px;
    height:306px;
    
}

.backgrnd-pic4 {
    background: url("https://www.stonybrook.edu/undergraduate-admissions/images/apply-photos-4.jpg");
    /*background-size: cover;*/
    width: 218px;
    height:306px;
    
}

.backgrnd-pic5 {
    background: url("https://www.stonybrook.edu/undergraduate-admissions/images/apply-photos-5.jpg");
    /*background-size: cover;*/
    width: 218px;
    height:306px;
    
}


@media screen and (min-width: 507px){


.textheader {
        display: block;
        width: 90%;
        float: right;
    }

}


@media screen and (max-width: 1159px) {
    .backgrnd-pic1, .backgrnd-pic2, .backgrnd-pic3, .backgrnd-pic4, .backgrnd-pic5{
    margin-top:20px;
    }

    .header {
        top: 38px;
    }
     
}



@media screen and (max-width: 506px) {
  .box {
  
    /*height: 100%;
    width: 100%;*/
    float: none;
      
  }

  .row {
  
      /*height: 100%;
      width: 100%;*/
      
  }

  .backgrnd-pic1 {
    background: url("https://www.stonybrook.edu/undergraduate-admissions/images/apply-photos-mobile-1.jpg");
    width: 416px;
    height:306px;
    

}

.backgrnd-pic2 {
    background: url("https://www.stonybrook.edu/undergraduate-admissions/images/apply-photos-mobile-2.jpg");
    width: 416px;
    height:306px;
    
}

.backgrnd-pic3 {
    background: url("https://www.stonybrook.edu/undergraduate-admissions/images/apply-photos-mobile-3.jpg");
    width: 416px;
    height:306px;
    
}

.backgrnd-pic4 {
    background: url("https://www.stonybrook.edu/undergraduate-admissions/images/apply-photos-mobile-4.jpg");
    width: 416px;
    height:306px;
    
}

.backgrnd-pic5 {
    background: url("https://www.stonybrook.edu/undergraduate-admissions/images/apply-photos-mobile-5.jpg");
    width: 416px;
    height:306px;
    
}

  
    
}

/*Undergrad admissions apply page STYLES ENDS HERE*/