.site-carousel.inside-header .carousel-wrapper .item,
.site-carousel.inside-header .carousel-image,
.full-width-banner-image .wrapper {
    height: 150px;
}

@media only screen and (max-width: 959px) {
    .site-carousel {
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        opacity: .4;
    }

    .section-title {
        margin-top: 16px;
    }

    .main-inside-content {
        position: relative;
        z-index: 50;
        visibility: visible;
    }
}

.site-carousel.freshman-criteria .carousel-image[data-image='01'] {
    background-image: url("../../img/students/pair-on-bench.jpg");
    background-position: 30% 20%;
}

.site-carousel.students-walking .carousel-image[data-image='01'] {
    background-image: url("../../img/student-life/students-walking.jpg");
    background-position: 30% 40%;
}

.site-carousel.pano-sbu .carousel-image[data-image='01'] {
    background-image: url("../../img/university/panorama-sbu.jpg");
    background-position: 30% 40%;
}

.site-carousel.academics-img .carousel-image[data-image='01'] {
    background-image: url("../../img/university/marine.jpg");
    background-position: 30% 40%;
}

.site-carousel.students-studying .carousel-image[data-image='01'] {
    background-image: url("../../img/students/students-studying-banner-1600.jpg");
    background-position: 30% 40%;
}

.site-carousel.visit-img .carousel-image[data-image='01'] {
    background-image: url("../../img/students/outdoor-lecture-banner-1600.jpg");
    background-position: 30% 40%;
}

.site-carousel.campus-life .carousel-image[data-image='01'] {
    background-image: url("../../img/student-life/campus-life-1600.jpg");
    background-position: 20% 50%;
}

.site-carousel.info-for .carousel-image[data-image='01'] {
    background-image: url("../../img/student-life/marquee-campus-autumn-2000.jpg");
    background-position: 67% 50%;
}

.site-carousel.info-for-counselors .carousel-image[data-image='01'] {
    background-image: url("../../img/student-life/marquee-info-for-counselors-2000.jpg");
    background-position: 50% 50%;
}

.site-carousel.info-for-veterans .carousel-image[data-image='01'] {
    background-image: url("../../img/student-life/marquee-info-for-veterans-2000.jpg");
    background-position: 50% 50%;
}

.site-carousel.info-for-parents .carousel-image[data-image='01'] {
    background-image: url("../../img/student-life/marquee-info-for-parents-2000.jpg");
    background-position: 50% 50%;
}

.site-carousel.info-for-hs .carousel-image[data-image='01'] {
    background-image: url("../../img/student-life/marquee-info-for-high-school-2000.jpg");
    background-position: 50% 50%;
}

section.full-width-banner-image {
    padding: 0;
}

    .baseball-field-1 {
        background-image: url("../../img/student-life/baseball-field-01.jpg");
        background-size: 100%;
        background-position: 50% 40%;
    }

    .campus-living {
        background-image: url("../../img/student-life/students-in-dorm.jpg");
        background-size: 100%;
        background-position: 50% 40%;
    }

    .campus-eating {
        background-image: url("../../img/student-life/students-at-table.jpg");
        background-size: 100%;
        background-position: 50% 50%;
    }

    .commuting-to-campus {
        background-image: url("../../img/student-life/students-at-fountain.jpg");
        background-size: 100%;
        background-position: 50% 40%;
    }

    .student-club {
        background-image: url("../../img/student-life/student-club.jpg");
        background-size: 100%;
        background-position: 50% 40%;
    }

    .arts-at-sb {
        background-image: url("../../img/student-life/autumn-tree.jpg");
        background-size: 100%;
        background-position: 50% 40%;
    }

    .campus-safety {
        background-image: url("../../img/student-life/students-walking.jpg");
        background-size: 100%;
        background-position: 50% 40%;
    }

    .beyond-sb {
        background-image: url("../../img/student-life/brook-leaves.jpg");
        background-size: 100%;
        background-position: 50% 40%;
    }

    .usa-map {
        background-image: url("../../img/maps/usa-map-1.jpg");
        background-size: cover;
        background-position: 100% 50%;
        height: 200px;
        border-top: 15px solid #900;
        padding: 30px 0 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Campus Life Images */

    .cl-activities {
        background: url("../../img/student-life/campus-life-activities-2000.jpg");
        background-size: 150%;
        background-size: cover;
        background-position: 60% 40%;
    }

    .cl-athletics {
        background-image: url("../../img/student-life/campus-life-athletics-2000.jpg");
        background-size: 150%;
        background-size: cover;
        background-position: 40% 40%;
    }

    .cl-eating {
        background-image: url("../../img/student-life/campus-life-eating-2000.jpg");
        background-size: 150%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .cl-commute {
        background-image: url("../../img/student-life/campus-life-commute-2000.jpg");
        background-size: 150%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .cl-arts {
        background-image: url("../../img/student-life/campus-life-arts-2000.jpg");
        background-size: 150%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .cl-university-scholars {
        background: url("../../img/student-life/campus-life-university-scholars-2000.jpg");
        background-size: 150%;
        background-size: cover;
        background-position: 60% 40%;
    }

    .cl-honors-college {
        background-image: url("../../img/student-life/campus-life-honors-college-2000.jpg");
        background-size: 100%;
        background-size: cover;
        background-position: 40% 40%;
    }

    .cl-medicine-scholars {
        background-image: url("../../img/student-life/campus-life-medicine-scholars-2000.jpg");
        background-size: 150%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .cl-dental-scholars {
        background-image: url("../../img/student-life/campus-life-dental-scholars-2000.jpg");
        background-size: 150%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .cl-computer-science-scholars {
        background-image: url("../../img/student-life/computer-science-bkgnd-2000.jpg");
        background-size: 150%;
        background-size: cover;
        background-position: 50% 40%;
    }

    .cl-majors-honors {
        background-image: url("../../img/student-life/students-walking-faded.jpg");
        background-size: 150%;
        background-size: cover;
        background-position: 50% 40%;
    }

.full-width-banner-image .wrapper {
    position: relative;
}

.full-width-banner-image h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 2.2em;
    text-shadow: 1px 1px 1px rgba(0,0,0,.7), 1px -1px 1px rgba(0,0,0,.7), -1px 1px 1px rgba(0,0,0,.7), -1px -1px 1px rgba(0,0,0,.7);
    font-family: 'TradeGothicW01-BoldCn20 675334';
}

.social-sidebar {
    margin: 20px 0;
}

.social-sidebar a:hover {
    box-shadow: 0 0 12px #ddd inset;
}

.freshman-stats {
    background-image: url("../../img/students/staller-lawn-768.jpg");
    background-size: cover;
    background-position: 35% top;
    height: 520px;
}

.freshman-stats h2 {
    width: 90%;
    text-align: center;
    margin: 40px 5% 20px;
    font-family: 'Trade Gothic W01 Bold';
}

.freshman-stats h2 em {
    font-style: normal;
    opacity: .5;
}

.freshman-stats .item {
    width: 200px;
    margin: 0 auto;
    height: 120px;
}

.freshman-stats .item .stat,
.freshman-stats .item .label {
    width: 100%;
    text-align: center;
    display: block;
}

.freshman-stats .item .stat {
    font-family:'Trade Gothic W01 Cn 18';
    color: #288a9e;
    font-size: 3em;
}

.freshman-stats .item .label {
    font-family: 'CenturyExpandedLTW01-Ro';
    font-size: 1.1em;
    text-shadow: 0 1px 2px #fff, 0 1px 5px #fff, 0 1px 10px #fff, 0 1px 15px #fff;
}

.freshman-stats .item .stat:after {
    display: block;
    width: 46px;
    margin: 4px auto 12px;
    content: " ";
    height: 1px;
    background: #000;
}

.freshman-stats .owl-prev,
.freshman-stats .owl-next {
    color: #000;
    opacity: .75;
    text-shadow: 0 1px 2px #fff;
    top: 15px;
    z-index: 100;
}

.freshman-stats .owl-prev:hover,
.freshman-stats .owl-next:hover {
    background: rgba(10,20,60,.15);
    box-shadow: none;
}

.freshman-stats .subline {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0 0;
    font-family:'Trade Gothic Next W01';
    font-size: 1.1em;
    color: #fff;
    text-shadow: 0 1px 5px #000;
}

/* Application Details / Procedure */

.application-items strong {
    font-family: 'Trade Gothic W01 Bold 2';
    font-weight: normal;
}

.application-items .instruction {
    margin: 0 0 10px;
    display: block;
}

.freshman-apply .content.application-details {
    margin: 30px 0;
}


.application-items .instruction .phone,
.application-items .instruction .address {
    display: block;
    margin: 10px 0;
}

/* international */

.international .check-button {
    box-shadow: 3px 3px 7px #999;
}

.international.student-body {
    padding: 40px 0 0;
}

.international.student-body ul {
    margin: 0 0 20px;
}

.international.student-body .note {
    display: block;
    width: 100%;
    font-family:'Trade Gothic Next W01';
    text-align: center;
    margin: 0 0 40px;
    font-size: 1.05em;
    color: #777;
}

/* Counselors */

.counselor-container {
    position: relative;
}

.counselor-container #map {
    position: absolute;
    top: -999999px !important;
    left: -999999px !important;
    height: 1px !important;
}

.counselor-container .button-wrapper {
    position: static;
    margin: 0 0 15px;
}

.counselor-container .all-btn,
.counselor-container .intl-btn,
.counselor-container .ny-btn {
    display: block;
}

.counselor-container .button-wrapper a {
    margin: 0 auto;
    width: 190px;
    float: none;
}

.counselor-container .profile-info-wrapper {
    background: #900;
    border-top: 2px solid #fff;
    color: #fff;
    display: block;
    padding: 14px 12px;
}

.counselor-container .profile-info-wrapper span {
    font-family:'TradeGothicNextW01-Ligh_693250';
    display: block;
    line-height: 1.5em;
}

.counselor-container .profile-info-wrapper span em {
    font-style: normal;
}

.counselor-container .profile-info-wrapper .name,
.counselor-container .profile-info-wrapper .territory,
.counselor-container .profile-info-wrapper .email  {
    font-family: 'Trade Gothic W01 Bold 2';
    font-weight: normal;
    letter-spacing: .01em;
}

.counselor-container .profile-info-wrapper .title,
.counselor-container .profile-info-wrapper .location  {
    margin: 0 0 8px;
}

.counselor-container .profile-info-wrapper .title {
    font-family:'TradeGothicNextW02-Ligh 694374';
}

.counselor-container .profile-info-wrapper .territory  {
    text-transform: uppercase;
    font-size: .9em;
}

.counselor-list .person-info {
    height: 100px;

}

.counselor-list img {
    display: block;
    margin: 0 0 10px;
    border-bottom: 10px solid #900;
}

.counselor-list li {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 30px;
}

.counselor-list a {
    color: #000 !important;
    text-align: center;
}

.counselor-list a span {
    display: block;
    font-size: 1.1em;
    margin: 0 0 4px;
}

.counselor-list .person-info .name {
    font-family: 'Trade Gothic W01 Bold 2';
}

.counselor-list .person-info .title {
    font-family:'TradeGothicNextW02-Ligh 694374';
}

.counselor-list .person-info .title:after {
    display: block;
    width: 60px;
    height: 1px;
    background: #000;
    content: " ";
    margin: 9px auto 6px;
}

.counselor-list .person-info .location {
    font-family:'TradeGothicNextW01-Ligh_693250';
}

.counselors-back-link .icon {
    margin: 0 6px 0 0;
}

/*cost and aid*/

section.cost-and-aid {
    padding: 0;
}

.costs-stat-bar {
    padding: 40px 0;
}


.net-price-wrapper {
    display: block;
    border: 2px solid #fff;
    border-radius: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../../img/misc/calculator-tilt-right.png') 50% 50% no-repeat transparent;
}

.net-price-container {
    display: block;
    background: url("../../img/bkg/transparent-red-900-80.png") 0 0 repeat transparent;
    background: rgba(153, 0, 0, .8);
    width: 100%;
    border-radius: 15px;
}

.net-price-container .label {
    color: #fff;
    font-family: 'Trade Gothic W01 Bold 2';
    font-size: 1.6em;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
    background: url("../../img/bkg/transparent-black-50.png") 0 0 repeat transparent;
    background: rgba(0, 0, 0, .45);
}

.net-stat-wrapper {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 30px 0 0 0;
}

.net-stat-wrapper img {
    display: block;
    width: 110px;
    height: 95px;
    margin: 0 auto 10px;
}

.net-stat-wrapper .label {
    display: inline-block;
    float: left;
    line-height: 1.6em;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
}

.net-stat-wrapper .stat-text {
    color: #fff;
    font-family:'TradeGothicNextW01-Ligh_693250';
}

.net-stat-wrapper .stat {
    color: #47c2c8;
    font-family:'TradeGothicNextW01-Ligh_693250';
    font-family: 'Trade Gothic W01 Bold 2';
    display: block;
    font-size: 1.2em;
}

section.cost-of-attendance {
    background: url("../../img/students/graduation-768.jpg") 0 bottom no-repeat #dadde6;
    background-size: 100%;
    height: 1030px;
    padding: 30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section.cost-of-attendance .amount,
section.cost-comparison .amount {
    display: inline-block;
}

section.cost-of-attendance .amount:before,
section.cost-comparison .amount:before {
    display: inline-block;
    content: "$";
    margin-right: 2px;

}

.cost-of-attendance h3 {
    border-bottom: 0 none;
    margin-bottom: 10px;
}

.cost-of-attendance h4 {
    font-family: 'Trade Gothic W01 Bold 2';
    color: #000;
    font-size: 1em;
    margin: 4px 0 0 4px;
}

.cost-stats {
    border: 2px solid #bbb;
    padding: 8px 8px 18px;
    background: #dadde6;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cost-stats .responsive-table {
    margin: 10px 0 0;
}

.cost-stats .responsive-table,
.cost-stats .responsive-table td,
.cost-stats .responsive-table th {
    border: 0 none;
    background: transparent;
    color: #000;
    font-size: .95em;
}

.cost-stats .responsive-table th.label {
    font-family: 'TradeGothicNextW01-Bold 693235';
    font-size: 1em;
    text-transform: uppercase;
    font-weight: normal;
    color: #900;
}

.cost-stats .responsive-table th.label .note {
    text-transform: none;
    font-family:'TradeGothicNextW02-Ital';
    font-size: .95em;
    display: inline-block;
    margin: 0 0 0 3px;
}

.cost-stats .responsive-table td.label {
    color: #000;
    text-transform: uppercase;
    width: 45%;
}

.cost-stats .responsive-table th {
    border-bottom: 1px solid #900;
}

.cost-stats .responsive-table td {
    border-bottom: 1px solid #900;
    font-family: 'Trade Gothic W01 Bold 2';
}

.cost-notes.content {
    border: 2px solid #bbb;
    padding: 12px;
    background: #dadde6;
    margin-top: 0;
    border-top: 0 none;
    font-size: .8em;
}

.cost-stats .intl-label {
    display: block;
    text-align: center;
    float: none;
}

section.cost-comparison {
    padding: 60px 0 70px;
}

section.cost-comparison h3 {
    color: #fff;
    text-align: center;
    border-bottom: 0 none;
    margin: 0 0 10px;
}

.cost-comparison {
    
}

.cost-comparison .comparison-table-wrapper {
    background: #ccc;
    border: 2px solid #424242;
    border-bottom: 0 none;
}

.cost-comparison .responsive-table th {
    font-family: 'Trade Gothic W01 Bold 2';
    font-size: 1em;
    font-weight: normal;
    color: #000;
    background: transparent;
    border: 0 none;
    padding: 10px 5px;
}

.cost-comparison .responsive-table th.label.first {
    padding: 10px 0 10px 10px;
}

.cost-comparison .responsive-table th .note {
    position: absolute;
    top: -99999px;
    left: -99999px;
}

.cost-comparison .responsive-table td {
    font-family: 'Trade Gothic W01 Light';
    font-size: 1em;
    font-weight: normal;
    color: #000;
    background: transparent;
    border: 0 none;
}

.cost-comparison .responsive-table tr.sb-red td {
    font-family: 'Trade Gothic W01 Bold 2';
    color: #900;
}

.cost-comparison .responsive-table tr.bottom-border {
    border-bottom: 2px solid #424242;
}

.cost-comparison .responsive-table td.label {
    padding: 10px 0 10px 10px;
}

.cost-comparison .responsive-table td,
.cost-comparison .responsive-table th.label {
    width: 30%;
}

.cost-comparison .responsive-table td.label,
.cost-comparison .responsive-table th.label.first {
    width: 40%;
}

.cost-comparison .responsive-table tr:nth-child(even) {
    background: #fff;
}

.cost-comparison .view-more {
    width: 100%;
    background: #ccc;
    color: #900;
    font-family: 'Trade Gothic W01 Bold 2';
    text-align: center;
    display: block;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .9em;
    border-bottom: 2px solid #424242;
    position: relative;
}

.cost-comparison .view-more:hover,
.cost-comparison .view-more:hover .view-more-arrow .icon {
    background: #ddd;
    color: #a00;
}

.cost-comparison .view-more-arrow {
    display: block;
    position: absolute;
    left: 50%;
    width: 70px;
    height: 34px;
    bottom: -34px;
}

.cost-comparison .view-more-arrow .icon {
    display: block;
    width: 100%;
    background: #ccc;
    margin-left: -50%;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #424242;
    border-top: 0 none;
    font-size: 2.6em;
    line-height: .5em;
    border-radius: 0 0 80px 80px;
}

section.fin-aid-stats {
    padding: 60px 0 10px;
}

.fin-aid-stats h3 {
    margin: 0;
    border-bottom: 0 none;
    text-align: center;
}

.fin-aid-stats .note {
    font-family: 'Trade Gothic W01 Light';
    color: #f3f3f3;
    font-size: 1.2em;
    display: block;
    width: 100%;
    text-align: center;
}

.fin-aid-stats li {
    display: block;
    color: #f3f3f3;
    text-align: center;
    margin: 20px 0 10px;
    padding: 20px 0;
    font-size: 2em;
    font-family: 'Trade Gothic W01 Light';
    border-bottom: 1px solid #47c2c8;
    width: 260px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fin-aid-stats li:last-child {
    border-bottom: 0 none;
}

.fin-aid-stats .stat {
    font-family: 'Trade Gothic W01 Bold 2';
    color: #47c2c8;
    display: block;
    margin-top: 3px;
}

.fin-aid-stats .nowrap {
    display: block;
}

section.student-loan-rates {
    padding: 60px 0 100px;
}

.student-loan-rates h3 {
    width: 85%;
    margin: 0 7.5%;
    text-align: center;
    padding: 0 0 40px;
    border-bottom: 1px solid #000;
}

.student-loan-rates p {
    display: block;
    margin: 20px 0;
}

.student-loan-rates ul {
    display: block;
    margin: 30px 0 0;
    border-bottom: 1px solid #000;
}

.student-loan-rates ul:last-child {
    border: 0 none;
}

.student-loan-rates li {
    font-family: 'Trade Gothic W01 Light';
    width: 100%;
    text-align: center;
}

.student-loan-rates li.label {
    font-family: 'Trade Gothic W01 Bold 2';
    font-size: 2em;
    color: #900;
}

.student-loan-rates li.label .note {
    font-family: 'Trade Gothic W01 Light';
    font-size: .7em;
}

.student-loan-rates ul.light li.usa {
    background: url('../../img/icons/red-usa.jpg') 50% 50% no-repeat transparent;
}

.student-loan-rates ul.dark li.usa {
    background: url('../../img/icons/dark-red-usa.jpg') 50% 50% no-repeat transparent;
}

.student-loan-rates ul.light li.newyork {
    background: url('../../img/icons/red-new-york.jpg') 50% 50% no-repeat transparent;
}

.student-loan-rates ul.dark li.newyork {
    background: url('../../img/icons/dark-red-new-york.jpg') 50% 50% no-repeat transparent;
}

.student-loan-rates ul.light li.shield {
    background: url('../../img/icons/red-shield.jpg') 50% 50% no-repeat transparent;
}

.student-loan-rates ul.dark li.shield {
    background: url('../../img/icons/dark-red-shield.jpg') 50% 50% no-repeat transparent;
}

.student-loan-rates ul.light li.usa,
.student-loan-rates ul.dark li.usa,
.student-loan-rates ul.light li.newyork,
.student-loan-rates ul.dark li.newyork {
    background-size: 100%;
}

.student-loan-rates ul li.usa,
.student-loan-rates ul li.newyork,
.student-loan-rates ul li.shield {
    height: 280px;
}

.student-loan-rates ul li .stat {
    font-family: 'TradeGothicW01-BoldCn20 675334';
    display: block;
    font-size: 3em;
    color: #fff;
}

.student-loan-rates ul li.usa .stat {
    margin: 110px 0 0;
}

.student-loan-rates ul li.newyork .stat {
    margin: 110px 0 0 30px;
}

.student-loan-rates ul li.shield .stat {
    margin: 80px 0 0;
}

.student-loan-rates ul li .label {
    color: #fff;
    font-size: 1.5em;
    width: 150px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

section.majors-minors {

}

section.majors-minors .major,
section.majors-minors .minor {
    text-align: center;
    font-size: .7em;
    line-height: 1;
    padding: 2px 3px 2px 2px;
}

section.majors-minors .major {
    padding: 2px 3px 2px 2px;
}

section.majors-minors .minor {
    font-size: .7em;
    padding: 2px 3px 3px 3px;
}

.majors-minors .key {

}

.majors-minors .key .key-item {
    display: inline-block;
    margin: 0 15px 0 0;
}


.majors-minors #live-filter-search {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

.three-col-list-wrapper {
    margin: 15px 0 0;
}

ul.three-col-list {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.three-col-list li {
    border-top: 1px solid #ccc;
    display: block;
    position: relative;
    padding: 8px 0;
}

.three-col-list li a {
    display: inline-block;
    width: 85%;
}

.three-col-list li .major,
.three-col-list li .minor {
    position: absolute;
}

.three-col-list li .major {
    right: 20px;
    top: 10px;
}

.three-col-list li .minor {
    right: 2px;
    top: 10px;
}

.three-col-list li ul {
    margin: 4px 0 0 15px;
    padding: 0;
}

.three-col-list li li {
    border: 0 none;
    font-size: .85em;
    padding: 0;
    color: #555
}

.visit-content .tour-btn {
    margin-top: 30px;
    margin-bottom: 20px;
}

section.program-details {

}

.program-details .program-nav {
    margin: 0 0 30px;
    display: block;
}

.program-details .program-nav a {
    cursor: pointer;
    display: inline-block;
    padding: 4px 5px 4px 2px;
    margin: 3px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    display: block;
    text-align: center;

    background: #ddd;
    color: #000;
    border: 1px solid #aaa;
}

.program-details .program-nav a:before {
    display: inline-block;
    margin: 0 8px 0 3px;
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    z-index: 1;
    font-size: .9em;
}

.program-details .program-nav a.active:before {
    content: "\f0d7";
    margin: 0 10px 0 0px;
}

.program-details .program-nav a .fa {
    display: inline-block;
    margin: 0 0 0 4px;
}

.program-details .program-nav a.active,
.program-details .program-nav a:hover {
    background: #000;
    color: #fff;
    border: 1px solid #333;
}

.program-details .description img {
    width: 225px;
    margin: 0 auto 20px;
    display: block;
}
.program-details h3 {
    margin: 0px 0 10px;
    padding: 0 0 10px;
}

.program-details .program-content h2,
.program-details .program-content h3 {
    font-family: 'Trade Gothic W01 Light' !important;
    font-size: 1.3em !important;
    margin: 10px 0 0 !important;
    display: block !important;
    color: #555 !important;
    text-transform: capitalize !important;
}

.program-details .program-content {
    overflow: auto;
}

.campus-interactive-map,
.campus-google-map {
    width: 100%;
    margin: 0;
    height: 400px;
}

.admissions-group-form {
    width: 100%;
    height: 1980px;
}

.admissions-app img {
    max-width: 90%;
    margin: 0 5%;

}

.brochures-grid {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.brochures-grid li {
    display: block;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.brochures-grid li a {
    display: block;
    width: 100%;
    height: 100%;
}

.brochures-grid li a:after {
    content: "";
    display: none;
}

.brochures-grid .img-wrapper {
    width: 90%;
    margin: 0 5%;
    display: block;
}

.brochures-grid img {
    display: block;
    border: 1px solid #000;
    box-shadow: 3px 3px 6px #bbb;
}

.brochures-grid .label {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mobile-form iframe {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 600px;
}

.desktop-content {
    display: none;
}



section.campus-life-header {

}

.rounded-image-buttons .activities {
    background-image: url("../../img/buttons/admissions-campus-life/activities.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .athletics {
    background-image: url("../../img/buttons/admissions-campus-life/sports.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .living {
    background-image: url("../../img/buttons/admissions-campus-life/living.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .eating {
    background-image: url("../../img/buttons/admissions-campus-life/eating.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .commute {
    background-image: url("../../img/buttons/admissions-campus-life/commute.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .arts {
    background-image: url("../../img/buttons/admissions-campus-life/arts.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .safety {
    background-image: url("../../img/buttons/admissions-campus-life/safety.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .beyond {
    background-image: url("../../img/buttons/admissions-campus-life/beyond.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .university-scholars {
    background-image: url("../../img/buttons/admissions-campus-life/university-scholars.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .honors-college {
    background-image: url("../../img/buttons/admissions-campus-life/honors-college.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .wise-scholars {
    background-image: url("../../img/buttons/admissions-campus-life/wise-scholars.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .medicine-scholars {
    background-image: url("../../img/buttons/admissions-campus-life/medicine-scholars.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .dental-scholars {
    background-image: url("../../img/buttons/admissions-campus-life/dental-scholars.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .computer-science-scholars {
    background-image: url("../../img/buttons/admissions-campus-life/computer-science-scholars.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

.rounded-image-buttons .majors-honors {
    background-image: url("../../img/buttons/admissions-campus-life/majors-honors.jpg");
    background-position: 50% 40%;
    background-size: cover;
}

section.cl {
    padding: 40px 0;
}

section.cl h4 {
    font-size: 1.8em;
    font-family: 'Trade Gothic W01 Bold 2';
}

section.cl-activities,
section.cl-university-scholars,
section.cl-computer-science-scholars {
    padding: 0;
}

.cl-activities .black-opac-cover,
.cl-university-scholars .black-opac-cover,
.cl-computer-science-scholars .black-opac-cover {
    background: url("../../img/bkg/transparent-black-65.png") 0 0 repeat transparent;
    background: rgba(0,0,0,.8);
    padding: 40px 0;
    display: block;
}

.cl-activities h4,
.cl-activities h5,
.cl-university-scholars h4,
.cl-computer-science-scholars h4 {
    color: #0fffff;
}

.cl-activities h5 {
    font-size: 1.3em;
    text-transform: none;
}

.cl-activities li {
    margin: 10px 0;
}

.cl-activities .content,
.cl-university-scholars .content,
.cl-computer-science-scholars .content {
    color: #dbdbdb;
}

.cl-activities .content a,
.cl-university-scholars .content a,
.cl-computer-science-scholars .content a {
    color: #0fffff;
}

.cl-activities .content a:hover,
.cl-university-scholars .content a:hover,
.cl-computer-science-scholars .content a:hover {
    color: #fff;
    text-decoration: underline;
}

.cl-computer-science-scholars img {
    display: block;
    border: 1px solid #eee;
    margin: 0 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section.cl-athletics,
section.cl-honors-college {
    padding: 0;
}

.cl-athletics h4,
.cl-athletics h5,
.cl-honors-college h4,
.cl-honors-college h5 {
    color: #900;
}

.cl-athletics .white-opac-cover,
.cl-honors-college .white-opac-cover {
    background: url("../../img/bkg/transparent-white-85.png") 0 0 repeat transparent;
    background: rgba(255,255,255,.85);
    padding: 40px 0;
    display: block;
}

.cl-athletics .col-2,
.cl-honors-college .col-2 {
    width: 100%;
    float: none;
    margin: 0;
}

.cl-athletics .col-2 ul,
.cl-honors-college .col-2 ul {
    margin: 0;
}

.cl-athletics em,
.cl-honors-college em {
    font-size: .9em;
    display: block;
    margin: 10px 0 0;
}

section.cl-living {

}

.cl-living h4,
.cl-living h5,
.cl-wise-scholars h4,
.cl-wise-scholars h5 {
    color: #900;
}

.cl-wise-scholars h4 {
    line-height: 1em;
}

.cl-living li {
    margin: 0 0 14px;
}

section.cl-living img  {
    display: none;
}

section.cl-eating  {
    padding: 0;
}

section.cl-medicine-scholars  {
    padding: 0;
}

.cl-eating .red-opac-cover,
.cl-medicine-scholars .red-opac-cover {
    background: url("../../img/bkg/transparent-red-900-85.png") 0 0 repeat transparent;
    background: rgba(153, 0, 0, .85);
    padding: 40px 0;
    display: block;
    color: #fff;
}

.cl-eating h4,
.cl-eating p,
.cl-eating ul,
.cl-eating a,
.cl-medicine-scholars h4,
.cl-medicine-scholars h5,
.cl-medicine-scholars p,
.cl-medicine-scholars ul,
.cl-medicine-scholars a {
    color: #fff !important;
}

.cl-eating a {
    font-family: 'Trade Gothic W01 Bold 2';
}

.cl-eating a:hover,
.cl-medicine-scholars a:hover {
    text-decoration: underline;
}

.cl-eating img,
.cl-medicine-scholars img {
    display: block;
    border: 1px solid #fff;
    margin: 30px auto 0;
    width: 440px;
    max-width: 100%;
    display: block;
}

section.cl-commute {
    padding: 0;
    border-bottom: 1px solid #900;
}

section.cl-dental-scholars {
    padding: 0;
    border-bottom: 1px solid #fff;
}

.cl-commute h4,
.cl-commute h5,
.cl-dental-scholars h4,
.cl-dental-scholars h5 {
    color: #900;
}

.cl-commute .white-opac-cover,
.cl-dental-scholars .white-opac-cover {
    background: url("../../img/bkg/transparent-white-85.png") 0 0 repeat transparent;
    background: rgba(255,255,255,.85);
    padding: 40px 0;
    display: block;
}

section.cl-arts  {
    padding: 0;
}

.cl-arts h4,
.cl-arts h5,
.cl-arts strong {
    font-family: 'Trade Gothic W01 Bold 2';
    color: #900;
}
.cl-arts strong {
    color: #000;
}

.cl-arts .white-opac-cover {
    background: url("../../img/bkg/transparent-white-85.png") 0 0 repeat transparent;
    background: rgba(255,255,255,.85);
    padding: 40px 0;
    display: block;
}

.cl-arts img {
    border: 1px solid #fff;
    margin: 30px auto 0;
    width: 440px;
    max-width: 100%;
    display: block;
}

section.cl-majors-honors {
    padding: 40px 0 190px;
}

.cl-majors-honors h4 {
    text-align: center;
    color: #900;
}

.cl-majors-honors .sub-line {
    text-align: center;
    display: block;
    border-bottom: 1px solid #111;
    padding: 0 0 24px;
    margin: 0 0 34px;
    font-size: 1.1em;
}

.cl-majors-honors ul a {
    padding: 2px 0 6px;
    display: block;
    text-shadow: 0 0 10px rgba(255,255,255,.4);
    font-family: 'Trade Gothic W01 Bold 2';
    font-weight: normal;
    font-size: .95em;
}

.cl-majors-honors a:hover {
    text-decoration: underline;
}

/* apply button */

.apply-button {
    margin: 30px auto;
    width: 195px;
    background-color: #fff;
    color: #900;
    clear: both;
}

.how-to-apply {
    width: 225px;
}


@media only screen and (min-width: 360px) {
    .student-loan-rates ul.light li.usa,
    .student-loan-rates ul.dark li.usa,
    .student-loan-rates ul.light li.newyork,
    .student-loan-rates ul.dark li.newyork {
        background-size: auto;
    }
}

@media only screen and (min-width: 480px) {
    .site-carousel.inside-header .carousel-wrapper .item,
    .site-carousel.inside-header .carousel-image {
        height: 200px;
    }

    .freshman-stats .item {
        width: auto;
        border-right: 2px dotted #900;
    }

    .freshman-stats .item.first {
        border-left: 2px dotted #900;
    }

    .student-loan-rates li.label {
        font-size: 2.5em;
    }

    .admissions-group-form {
        width: 100%;
        height: 1700px;
    }

    .cost-stats .intl-label {
        display: inline;
        text-align: none;
        float: none;
    }
}

@media only screen and (min-width: 541px) {

    .mobile-form,
    .mobile-form iframe {
        display: none;
    }

    .desktop-content {
        display: block;
    }

    .cl-athletics .col-2.smaller,
    .cl-honors-college .col-2.smaller {
        width: 43%;
        float: left;
    }

    .cl-athletics .col-2.larger,
    .cl-honors-college .col-2.larger {
        width: 57%;
        float: left;
    }

    .cl-athletics .white-opac-cover ul,
    .cl-honors-college .white-opac-cover ul {
        font-size: .9em;
        line-height: 1.5em;
    }

}

@media only screen and (min-width: 560px) {

    .freshman-stats {
        height: 400px;
    }

    .counselor-container .profile-image {
        position: relative;
    }

    .counselor-container .profile-info-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-top: 0 none;
        padding: 8% 20px 0 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 185px;
        background: url("../../img/bkg/transparent-red-900-85.png") 0 0 repeat transparent;
        background: rgba(153, 0, 0, .85);
    }

    .counselor-container .profile-info-wrapper.fix-right {
        left: auto;
        right: 0;
    }

    .counselor-container .profile-info {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 8% 0 9%;
    }

    section.cl {

    }

    section.cl h4 {
        font-size: 2.4em;
    }

}


@media only screen and (min-width: 680px) {
    .brochures-grid li {
        width: 25%;
    }
}

@media only screen and (min-width: 768px) {
    .site-carousel.inside-header .carousel-wrapper .item,
    .site-carousel.inside-header .carousel-image {
        height: 250px;
    }

    .full-width-banner-image .wrapper {
        height: 200px;
    }

    .freshman-stats {
        background-image: url("../../img/students/staller-lawn-1600.jpg");
        background-size: cover;
        height: 600px;
    }

    .freshman-stats h2 {
        font-size: 3em;
    }

    .freshman-stats .item .stat {
        font-size: 2.6em;
    }

    .freshman-stats .item .label {
        font-family: 'CenturyExpandedLTW01-Ro';
        font-size: 1em;
    }

    .freshman-stats .subline {
        color: #900;
        text-shadow: 0 1px 5px #fff;
    }

    .application-details h4 {
        float: left;
        display: inline-block;
    }

    .application-details img {
        float: right;
        display: inline-block;
        width: 30%;
    }

    .application-details table,
    .step-bullets {
        float: left;
        display: inline-block;
        width: 70%;
    }

    .apply-button-right {
        float: right;
        margin-right: 1%;
        margin-top: 20px;
    }

    .counselor-container .profile-info-wrapper {
        padding: 80px 35px 0 35px;
        width: 255px;
    }

    .counselor-container .profile-info {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 8% 0 9%;
    }

    .counselor-container .profile-info-wrapper span {
        font-size: 1.2em;
    }

    .counselor-container .profile-info-wrapper .title,
    .counselor-container .profile-info-wrapper .location  {
        font-size: 1.15em;
    }

    .counselor-container .profile-info-wrapper .territory  {
        text-transform: uppercase;
        font-size: 1.10em;
    }

    .counselor-list li {
        width: 47%;
        float: left;
        margin: 0 1.5% 40px;
    }

    .counselor-list a span {
        display: block;
        font-size: 1.2em;
        margin: 0 0 4px;
    }

    .net-price-wrapper {
        float: left;
        width: 24%;
        margin: 0 7% 0 0;
        background: url('../../img/misc/calculator-tilt-right.png') 30% 30% no-repeat transparent;
        background-size: 88%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .net-price-wrapper:hover {
        background-size: 98%;
    }

    .net-price-container .label {
        font-size: 2em;
        margin: 30px 0;
    }

    .net-price-container .label span {
        display: block;
        font-size: .925em;
    }

    .net-stat-wrapper {
        width: 69%;
        margin: 0 0 0 0%;
        float: left;
    }

    .net-stat-wrapper img,
    .net-stat-wrapper .label {
        display: inline-block;
        float: left;
        margin: 0;
        width: auto;
    }

    .net-stat-wrapper img {
        display: block;
        width: 150px;
        height: 130px;
        margin: 0 auto 10px;
    }

    .net-stat-wrapper .label {
        font-size: 1.6em;
        padding-top: 10px;
    }

    .net-stat-wrapper .label .stat {
        font-size: 1.1em;
    }

    section.cost-of-attendance {
        background: url("../../img/students/graduation-1600.jpg") 0 bottom no-repeat #dadde6;
        background-size: 100%;
        height: 920px;
    }

    .cost-comparison .comparison-table-wrapper {
        font-size: 1.2em;
    }

    .cost-comparison .responsive-table td.label,
    .cost-comparison .responsive-table th.label.first {
        padding: 10px 0 10px 30px;
    }

    .cost-comparison .responsive-table th,
    .cost-comparison .responsive-table th.label.first {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 90px;
    }

    .cost-comparison .responsive-table th .note {
        position: static;
        top: auto;
        left: auto;
    }

    section.fin-aid-stats {
        padding: 60px 0 60px;
    }

    .fin-aid-stats li {
        border-right: 1px solid #47c2c8;
        border-bottom: 0 none;
        margin: 0;
        width: 33.333%;
        float: left;
    }

    .fin-aid-stats li:last-child {
        border-bottom: 0 none;
        border-right: 0 none;
    }

    .program-details .description img {
        float: left;
        margin: 0 30px 15px 0;
    }

    .program-details h3 {
        margin: 20px 0 30px;
        padding: 0 0 30px;
    }

    .campus-interactive-map {
        height: 640px;
    }

    .brochures-grid li .img-wrapper {
        width: 70%;
        margin: 30px 15% 0;
    }

    .rounded-image-buttons .dental-scholars {
        margin-left: 14%;
    }

}

@media only screen and (min-width: 960px) {
    .site-carousel.inside-header .carousel-wrapper .item,
    .site-carousel.inside-header .carousel-image {
        height: 300px;
    }

    .freshman-stats h2 {
        font-size: 3.4em;
        margin-bottom: 40px;
    }

    .freshman-stats .subline {
        color: #fff;
        text-shadow: 0 1px 5px #000;
    }

    .apply-button-right {
        margin-right: 5%;
    }

    .net-stat-wrapper .label {
        font-size: 2em;
        padding-top: 0;
    }

    .net-stat-wrapper .label .stat {
        font-size: 1.1em;
    }

    .cost-stats,
    .cost-notes {
        float: left;
    }

    .cost-stats {
        width: 45%;
        border: 0 none;
        border-right: 2px solid #bbb;
    }

    .cost-notes.content {
        width: 55%;
        border: 0 none;
        padding: 20px 30px 10px;
    }

    .cost-table-wrapper {
        border: 2px solid #bbb;
    }

    .fin-aid-stats .note {
        margin: 5px 0 30px;
        font-size: 1.7em;
    }

    .fin-aid-stats li {
        font-size: 2.4em;
        line-height: 1.2em;
    }

    .fin-aid-stats .stat {
        margin: 6px 0 0;
    }

    .student-loan-rates ul {
        float: left;
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .student-loan-rates ul {
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }

    .student-loan-rates ul {
        border-bottom: 0 none;
    }

    .student-loan-rates ul:last-child {
        border-left: 0 none;
        border-right: 1px solid #000;
    }

    ul.three-col-list {
        width: 31.333%;
        float: left;
        margin: 0 1%;
        display: inline-block;
    }

    .majors-minors .content {
        position: relative;
    }

    .majors-minors #live-filter-search {
        display: inline-block;
        width: 260px;
        margin: 10px 0;
        position: absolute;
        top: 0;
        right: 0;
    }

    .program-details .program-nav a {
        display: inline-block;
        float: left;
        padding: 6px 18px;
        margin: 0 4px 0 0;
    }

    .program-details .program-content {
        margin: 35px 0 0 0;
    }

    .campus-map-container {
        border: 1px solid #bbb;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 89.5%;
        margin: 0 5% 20px;
    }

    .campus-interactive-map,
    .campus-google-map {
        height: 640px;
        width: 99.96%;
        display: block;
    }

    section.cl {

    }

    section.cl h4 {
        font-size: 2.6em;
    }

    .cl-activities {
        border-bottom: 1px solid #fff;
    }

    .cl-activities .black-opac-cover {
        background: transparent;
        padding: 100px 0;
        box-shadow: rgba(0,0,0,1) 410px 0 280px 30px inset;
    }

    .cl-university-scholars .black-opac-cover,
    .cl-computer-science-scholars .black-opac-cover {
        background: transparent;
        padding: 60px 0;
        box-shadow: none;
    }

    .cl-university-scholars .black-box,
    .cl-computer-science-scholars .black-box {
        padding: 20px 35px;
    }

    .cl-athletics {
        background-position: 54% 40%;
    }

    .cl-athletics .white-opac-cover,
    .cl-honors-college .white-opac-cover {
        padding: 20px 0 15px;
        margin: 40px 0;
        display: block;
        width: 50%;
        float: right;
        border: 1px solid #fff;
        background: url("../../img/bkg/transparent-white-65.png") 0 0 repeat transparent;
        background: rgba(255,255,255,.8);
    }

    .cl-honors-college .white-opac-cover {
        border-color: #800;
    }

    .cl-eating .red-opac-cover .wrapper,
    .cl-medicine-scholars .red-opac-cover .wrapper {
        width: 90%;
        margin: 0 5%;
    }

    .cl-eating .red-opac-cover,
    .cl-medicine-scholars .red-opac-cover {
        padding: 40px 10px 40px 15px;
        display: block;
        width: 46%;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .cl-medicine-scholars .red-opac-cover {
        width: 52%;
    }

    .cl-athletics .white-opac-cover .wrapper,
    .cl-honors-college .white-opac-cover .wrapper {
        width: 90%;
        margin: 0 5%;
    }

    section.cl-living {
        padding: 60px 0;
    }

    section.cl-living img  {
        display: block;
    }

    .cl-commute .white-opac-cover,
    .cl-dental-scholars .white-opac-cover {
        padding: 20px 0 15px;
        margin: 40px 0;
        display: block;
        width: 50%;
        float: right;
        border: 1px solid #900;
        background: url("../../img/bkg/transparent-white-90.png") 0 0 repeat transparent;
        background: rgba(255,255,255,.9);
    }

    .cl-dental-scholars .white-opac-cover {
        border: 0 none;
        box-shadow: 7px 7px 10px rgba(0,0,0,.3);
    }

    .cl-commute .white-opac-cover .wrapper,
    .cl-dental-scholars .white-opac-cover .wrapper,
    .cl-arts .white-opac-cover .wrapper {
        width: 90%;
        margin: 0 5%;
    }

    .cl-arts .white-opac-cover {
        padding: 40px 20px 50px;
        display: block;
        width: 46%;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .cl-university-scholars .black-box,
    .cl-computer-science-scholars .black-box {
        background: url("../../img/bkg/transparent-black-80.png") 0 0 repeat transparent;
        background: rgba(0,0,0,.8);
        border: 1px solid #eee;
        width: 55%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .cl-computer-science-scholars .black-box {
        width: 50%;
    }

}

@media only screen and (min-width: 1022px) {
    .freshman-stats {
        height: 800px;
    }
    .freshman-stats .owl-prev,
    .freshman-stats .owl-next {
        top: -99999px;
        left: -99999px;
        color: #fff;
    }

    .apply-button-right {
        margin-right: 5.5%;
    }

    .freshman-stats .subline {
        color: #900;
        text-shadow: 0 1px 5px #fff;
    }

    .counselor-container .profile-info-wrapper {
        padding-top: 155px;
    }

    .counselor-container #map {
        display: block;
    }

    .counselor-container #map {
        position: static;
        top: 0 !important;
        left: 0 !important;
        height: auto !important;
    }

    .counselor-container .button-wrapper {
        float: left;
        margin: 20px 0;
    }

    .coming-to-you-container .button-wrapper {
        width: 33.333%;
    }

    .counselor-container .button-wrapper.map-button {
        margin: 0;
    }

    .coming-to-you-container .button-wrapper.map-button a {
        width: auto;
    }

    .counselor-container .button-wrapper.map-button a {
        margin: 0;
    }

    .counselor-container .button-wrapper.map-button {
        position: absolute;
        top: 100px;
    }

    .counselor-container .all-btn.map-button {
        right: 0;
    }

    .counselor-container .intl-btn.map-button {
        right: 200px;
    }

    .counselor-container .ny-btn.map-button {
        position: absolute;
        left: -99999px;
        top: -99999px;
    }

    .counselor-list li {
        width: 29.333%;
        float: left;
        margin: 0 2% 40px;
    }

    .counselor-list a span {
        display: block;
        font-size: 1.2em;
        margin: 0 0 4px;
    }

    .net-price-wrapper {
        width: 22%;
        margin: 0 9% 0 0;
    }

    .net-stat-wrapper {
        width: 61%;
        margin: 0 0 0 8%;
    }

    .cost-stats {
        width: 60%;
    }

    .cost-notes.content {
        width: 40%;
        font-size: .75em;
        line-height: 1.25em;
        padding: 20px 30px 0;
    }
}

@media only screen and (min-width: 1220px) {
    
}