/* ==========================================================================
   Styles for sticky filter bar as on /summer-session/courses
   ========================================================================== */

.inside-content div.filter-wrapper {
    width: 100%;
    background: #fff;
    margin: 0 0 10px;
    padding: 11px 0 6px;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 1;
}

.inside-content .is-sticky div.filter-wrapper {
    width: 90%;
    margin: 0;
}

span.search-directions {
    display: inline-block;
    float: left;
    font-size: .9em;
    padding: 0 0 0 6px;
}

span.search-directions a,
a.modify-search-after {
    color: #900;
    background: #fff;
    width: auto;
    text-align: center;
    padding: 1px 3px 3px;
    font-size: .9em;
    margin: 4px 0 0 4px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    text-decoration: underline;
}

span.search-directions a:hover {
    color: #fff;
    background: #900;
    border: 1px solid #700;
    text-decoration: none;
}

a.modify-search-after,
a.modify-search-after:hover {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    float: none;
    color: #fff !important;
    background: #900;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-controls {
    display: block;
    width: auto;
    margin: 0;
}

.filter-status {
    margin: 5px 7px 2px 5px;
    display: block;
    float: left;
    width: auto;
    font-size: .8em;
    color: #333;
    border: 0 none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear-filter {
    display: inline-block;
    float: left;
    color: #900;
    background: #fff;
    width: auto;
    margin: 3px 0 0 0;
    padding: 6px 4px 8px;
    border: 0 none;
    text-decoration: underline;
    line-height: 1;
    font-size: .9em;
    border: 1px solid transparent;
    clear: left;
}

.clear-filter:hover {
    color: #fff;
    background: #900;
    border: 1px solid #700;
    text-decoration: none;
}

.sticky-wrapper.is-sticky div.filter-wrapper {
	width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.sticky-wrapper div.filter-wrapper {
	background: rgba(255,255,255,.9);
}

.sticky-wrapper div.filter-wrapper input {
	background: rgba(255,255,255,.95);
}

.sticky-wrapper div.filter-wrapper:hover {
	background: rgba(255,255,255,1);
}

@media only screen and (min-width: 1022px) {
	.inside-content .is-sticky div.filter-wrapper {
		width: 90%;
		left: auto;
	    padding-left: 0;
	    padding-right: 0;
	}
}

@media only screen and (min-width: 1140px) {
	.inside-content .is-sticky div.filter-wrapper {
		width: 1000px;
	}
}