h3#past_cases_header {
	border-bottom: 0 none;
	border-top: 1px solid #7F9DB9;
}

div.content p.blank {
	margin: 0;
	padding: 0;
}

div#all_cases {
	float: left;
	width: 150px;
	border-bottom: 0 none;
	overflow-y: hidden;
}

div#all_cases h3,
div#case_container h3 {
	background-color: #dce3ef;
	border-bottom: 1px solid #7f9db9;
	margin: 0;
	padding: 5px 3px;
}

div#all_cases p,
div#case_container p {
	padding: 5px;
}

div#case_container {
	float: right;
	width: 330px;
	position: relative;
}

div#case_container,
div#all_cases {
	height: 325px;
	border: 1px solid #7f9db9;
	font-size: 11px;
	overflow-x: hidden;
}

div#case_container_bottom {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #7f9db9;
	background: #efefef;
	padding: 5px 2px;
	max-height: 100px;
	overflow-y: auto;
	width: 100%;
}

span.applink {
	display: inline-block;
	padding: 3px;
}

div#past_cases {
	position: relative;
	bottom: 0;
}

table.links,
table.case_info {
	margin: 5px;
}

table.links {
	width: 100%;
}

table.links tr td {
	padding: 1px 4px;
}

table.case_info tr td.head {
	font-weight: bold;
	color: #00a36c;
}

div.scrollable {
	overflow-y: auto;
	overflow-x: hidden;
	/* margin-bottom: height of #case_container_bottom */
}

div.all_cases_scrollable {
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.all_cases_scrollable ul {
	margin: 6px;
	padding: 0 0 0 10px;
	list-style-type: none;
}

div.all_cases_scrollable ul li {
	margin: 0;
	padding: 2px;
	text-indent: -10px;
}

div#all_cases ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div#current_cases {
	height: 277px;
	overflow-y: auto;
}

div#past_cases_content {
	overflow-y: hidden;
	max-height: 279px;
}

h3#past_cases_header,
h3#current_cases_header {
	cursor: pointer;
}