form {
	overflow: hidden;
}

form div.text {
	clear: left;
	float:left;
}

form h3 {
	clear: both;
	margin: 1em auto;
	border-width: 2px 0;
	padding: .5em 0;
	border-style: solid;
	border-color: #7f9db9;
	text-align: left;
	text-transform: uppercase;
}

form div.item {
	clear: both;
	overflow: hidden;
	position: relative;
	min-height: 28px;
	margin: 0;
}

form div.dropdown {
	clear: both;
	overflow: hidden;
	position: relative;
	min-height: 28px;
	margin: 0;
}

form hr {
	clear: both;
	height: 1px;
	border: 0px none;
	background-color: #666}

form p {
	clear: left;
	width: 100%;
}

form div.item p {
	width: 50%;
	float: left;
}

form div.item.table p.icon {
	width: 5%;
	text-align: center;
}

form div.item.table p.label {
	width: auto;
	float: none;
	clear: none;
	margin-right: 5%; /* prevents running into the right float, below */
}

form div.item.table div.input.checkbx {
	width: 5%;
	text-align: center;
	margin-top: -0.75em;
}

div.item div.input {
	position: absolute;
	top: 50%;
	right: 0;
	text-align: right;
	padding: 0px;
	margin-top: -1.2em;
	width: 50%;
}

div.item  .label input {
	background: transparent;
}

div.item p.uploadStatus {
   clear: right;
   float: right;
}

div.item div.txt input,
select {
	text-align: left;
	width: 95%;
	padding: 3px 2px;
	border: 1px solid #7f9db9;
	font: .9em verdana,sans-serif;
	margin-top: 3px;
	color: #333;
}

div.item div.txt.label input {
	border: 1px solid transparent;
	font-size: 1em;
}

div.item div.txt input.hourMin {
	width: 169px;
}

/* behaviour of fieldset in Firefox is arguably buggy, and definitely undesirable.
 * Fieldset is drawn like a block element with a border around it, but you'll notice the border
 * is not a style achievable with CSS.  It's a hard coded style in the browser code.
 */

select {
	padding: 2px 1px;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

fieldset.radioinput {
    clear:left
}

select.full {
	width: 243.5px; /* 95%, but it's computed differently for select than inuput */
}

select.month {
	width: 120.25px;
}

select.day {
	width: 54.75px;
	margin-left: 3px;
}

select.year {
	width: 60.875px;
	margin-left: 3px;
}

div.item.cip p {
	float: none;
	clear: both;
}

div.item.cip div.input {
	width: 100%;
	position: static;
	margin-top: 0;
}

select.cipSelectBox {
	width: 100%;
	font-family: "Verdana", sans-serif;
	background: url(../images/input_bg.png) repeat-x bottom left;
	border: 1px solid #7F9DB9;
	color: #333;
	margin-bottom: 4px;
}

div.item.textarea p {
	float: none;
	width: 100%;
}

div.item.textarea div.input {
	position: static;
	margin-top: 0;
	width: 100%;
}

div.item textarea {
	width: 494px; /* 100% - 6px */
	padding: 2px;
	border: 1px solid #7f9db9;
	margin: 0px;
	font: .9em verdana,sans-serif;
	color: #333}

div.item div.input.file {
	text-align: left;
}

div.input.file input {
	margin-left: 7px;
}

div.radio {
	position: relative;
	clear: both;
	width: 100%;
}

div.shaded {background-color: #efefef}

div.radio p {
	width: 80%;
	float: left;
}

div.radio div {
	width: 10%;
	line-height: 18px;
	float: right;
	text-align: right;
}

div.radio div.maybe {
	display: none;
}


div.radio div.radio {
	float: left;
	text-align: left;
	clear: none;
}


div.radio div.radioGrid1 { width: 100%; }
div.radio div.radioGrid2 { width: 50%; }
div.radio div.radioGrid3 { width: 33%; }
div.radio div.radioGrid5 { width: 20%; }

div.center {
	clear: both;
	width: 88%;
	margin: 1em auto}

div.checks {
	float: left;
	width: 416px;
	padding: 1em 10px;
	border: 2px solid #7f9db9;
	margin: 0.5em 0px}

div.checks div.item {
	clear: left;
	float: left;
	position: relative;
	width: 410px;
	margin: .5em 0px}

div.item.checkbx input {
	float: left;
	margin: 3px 7px}

div.checks div.item div {
	float: right;
	width: 375px}

div.checks div.item p {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

div.button {float: right}

div.button input {
	padding: 1px 6px;
	margin: 3px}

.hidden {display: none}

.visible {display: block}

/*** styles for iAbroad left column form ***/

form#filtersForm h3.notoggle,
form#filtersForm h3.expanded {
	border-bottom: 1px solid #7f9db9;
}

form#filtersForm p.instructions {
	margin: 0.5em 0;
	padding: 0 0.5em;
	width: auto;
	font-style: italic;
}

form#filtersForm ul.filter_list,
ul#advancedFiltersList,
ul#advancedFiltersList ul {
	padding: 0 0.5em 0.5em;
	list-style: none;
}

ul.filter_list li {
	margin: 0.25em 0;
	padding: 0;
}

ul#advancedFiltersList {
	padding: 0 0 0 0.5em;
}

ul#advancedFiltersList h4 {
	margin: 1em 0 0.25em;
	clear: left;
}

form#filtersForm ul.checkboxes li {
	height: 1.5em;
}

form#filtersForm input.checkbox {
	float: left;
	clear: left;
}

form#filtersForm a {
	display: block;
	margin: 0.5em 0 0.25em;
}

div#left_column select {
	padding: 2px;
	border: 1px solid #7f9db9;
	font: .9em verdana,sans-serif;
	color: #333
}

div#left_column ul.filter_list select {
	width: 184px;
}

div#left_column ul#advancedFiltersList select {
	width: 178px;
}

form#filtersForm input#resetButton {
	float: right;
}
