/* Menu formatting */
ul.nav {
	list-style: none;
	padding: 0em 0px;
	border: 1px solid #7f9db9;
	border-top: 0px none;
	margin: 1em 0px}

ul.nav li {margin: 0em 0px}

form#filtersForm h3,
ul.nav h3,
li.normal {
	float: none;
	width: auto;
	margin: 0em 0px;
	border-top: 1px solid #7f9db9;
	padding: .5em 4px .5em 17px;
	color: #333;
	background-color: #dce3ef;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
}

ul.nav h3.collapsed {
	background: #dce3ef url("../images/plus.gif") no-repeat 4px center;
}

ul.nav h3.expanded {
	background: #dce3ef url("../images/minus.gif") no-repeat 4px center;
}

ul.nav h3:hover {cursor: pointer}

ul.nav li.current ul.tree {display: block;}

ul.nav a {
	color: #333;
	text-decoration: none}

ul.nav a:hover {text-decoration: none}

ul.tree {
	list-style: none;
	margin: 0;
	padding: 0px;
	border-top: 1px solid #7f9db9;
}

ul.tree li {
	background: url("../images/branch.gif") no-repeat left center;
	border-left: 1px solid #ddd;
	padding: .5em 4px 0em 10px;
	font-size: 11px;
	margin: 0em 0px 0em 7px}

ul.tree li.current {font-weight: bold}

ul.tree a:hover {text-decoration: underline}

ul.tree li.last {
	background: url("../images/branch_bottom.gif") no-repeat top left;
	border-left: none;
	padding-bottom: 1em;
}
