body {
	width: 6.5in;
	font-size: 10pt;
	margin: auto;
	color: black;
}

div.page,
div.main_container,
div#right_column,
form h3,
div.item,
div.radio,
form div.item p.textarea,
div.item textarea {
	width: 6.5in;
	margin: 0in;
}

div.istartbar,
div.left_shadow,
div.right_shadow,
div.bottom_shadow,
div.bottom_left_shadow,
div.bottom_right_shadow,
div#left_column,
div#left_column,
h2,
div.button,
div#overlay {display: none}

div.main_container,
div.signature a,
div.blockiu a {background: none}

div.signature a img,
div.blockiu a img {display: inline}

div.printheader,
div.footer hr {display: block}

div.printheader div.student_info {
	display: block;
	float: left;
	margin-bottom: .25in;
}

div.printheader div.student_info p {margin: 0in}

div.printheader h1 {
	clear: both;
	display: block;
	margin: .25in 0;
	font: normal 14pt verdana;
}

div.printheader hr {
	clear: left;
	margin: 0in;
	border: none;
	border-top: 2pt solid black}

div.box_left,
div.box_right {width: 2.75in}

div.full_box p {
	margin: 10px;
	width: 5.5in;
}

form h3 {margin: 1em 0in}

form div.item p {width: 3in}

div.item div.input {left: 3.25in}

form div.radio p {width: 4.5in}
div.yes {left: 4.75in}
div.no {left: 5.25in}

div.handout table {font-size: 8pt}
