/* containers */

body {
    background: #fff;
}

.eventlistdiv {
    display: block;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* general */

td,
.loginmessage {
    font-family:'Trade Gothic Next W01' !important;
    font-weight: normal !important;
}

#tblPoweredByADE,
#footer {
    display: none !important;
}

/* input */

input[type="text"],
input[type="password"],
select {
    background: #fff;
    border: 1px solid #aaa;
    padding: 5px 6px;
    color: #333;
    width: 100%;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: none;
    font-family: 'Trade Gothic W01 Light' !important;
}

input[type="text"]:focus {
    border-color: #900;
    color: #900;
}

select {
    height: 32px;
}

input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #999;
   font-weight: normal;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #999;
   font-weight: normal;
}

input:-ms-input-placeholder {  
   color: #999;
   font-weight: normal;
}

/* headers*/

h2.adx_wcag_header .title {
    font-family: 'CenturyExpandedLTW01-Ro' !important;
    font-weight: 400;
    text-transform: none;
    color: #000;
    font-size: 2em;
    display: block;
}

.eventlistdiv #lblCategoryHeading .viewLink {
    display: block;
    font-family:'Trade Gothic Next W01';
    font-size: 15.2px;
    margin: 5px 0 0;
    color: #900;
    cursor: pointer;
}

.eventlistdiv #lblCategoryHeading:hover .viewLink {
    text-decoration: underline;
}

#pnlListviewHeading {
    font-size: 1em;
    font-weight: normal;
    font-family: 'TradeGothicW01-BoldCn20 675334';
    text-transform: uppercase;
    background: #900;
    padding: 10px 15px 8px;
}

#pnlListviewHeading h2,
#pnlListviewHeading h2 span {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: normal !important;
    font-family: 'TradeGothicW01-BoldCn20 675334';
    font-size: 22px;
    color: #fff;
}

#pnlListviewHeading h2 img,
#CalendarPanel h2.adx_wcag_header img {
    display: inline-block;
    border: 1px solid #800;
    border-radius: 10px;
    box-shadow: 0 0 5px #b00;
}


/* labels */

#lblNoHighlight {
    display: none;
}

/* tables */

h3.adx_wcag_header,
h3.adx_wcag_header span,
h3.adx_wcag_header span b,
#lblCategorys,
#lblLocations,
#lblKeywords,
#pnlEventDetails td.title,
.calendarnowdiv label,
#tblLogin .title {
    display: block;
    font-family:'Trade Gothic Next W01' !important;
    font-weight: normal !important;
    font-size: 18px;
    display: block;
    color: #555;
    background: #fff;
    text-transform: none;
}

/*#lblCategorys {
    display: block;
    margin: 20px 0 10px;
    padding: 20px 0 0;
    border-top: 1px solid #bbb;
}*/

#lblLocations,
#lblKeywords,
#lblCategorys,
.calendarnowdiv label {
    display: block;
    margin: 10px 0 5px;
    font-size: 15.2px;
    color: #333;
}

h3.adx_wcag_header {
    margin: 2px 0 10px 2px;
}

#divTableEventsHighlighted tr + tr h3.adx_wcag_header,
#divTableHolidays tr + tr h3.adx_wcag_header,
#divTableEvents tr + tr h3.adx_wcag_header {
    margin-top: 25px;
}

#divTableEventsHighlighted table,
#divTableHolidays table,
#divTableEvents table {
    background: #eee;
    margin: 0 0 20px .5%;
    border: 8px solid #fff;
    box-shadow: 0 0 0 1px #900;
    position: relative;
    margin: 10px 0 20px;
    width: 100% !important;
    background: #fff;
    font-size: 14px;
}

#divTableEventsHighlighted table span,
#divTableEventsHighlighted table a,
#divTableHolidays table span,
#divTableHolidays table a,
#divTableEvents table span,
#divTableEvents table a,
#pnlEventDetails .detailsview,
#pnlEventDetails .detailsview a {
    font-size: 15.2px;
    font-family:'Trade Gothic Next W01' !important;
}

.listheadtext {
    width: 100%;
    padding: 4px 3px;
    text-align: left;
}

#pnlEventDetails .listheadtext,
#CalendarPanel h2.adx_wcag_header {
    display: block;
    font-size: 20px;
    padding: 10px 10px;
    margin: 0 0 15px;
    font-weight: normal;
    font-family: 'TradeGothicW01-BoldCn20 675334';
    text-transform: uppercase;
    background: #900;
    padding: 10px 2.5% 8px;
    width: 95%;
    line-height: 1;
    font-weight: normal !important;
    font-family: 'TradeGothicW01-BoldCn20 675334' !important;
    font-size: 22px;
    color: #fff;
}

.listheadtext b {
    font-weight: normal !important;
}

#divTableEventsHighlighted table .listcolumnheadtext,
#divTableHolidays table .listcolumnheadtext,
#divTableEvents table .listcolumnheadtext {
    display: none;
}

h4.adx_wcag_header {
    padding: 4px;
}

h4.adx_wcag_header span,
#pnlEventDetails .detailsview b,
#pnlEventDetails .detailsview strong,
#tblLoginInfo .bodycopy {
    font-family: 'Trade Gothic W01 Bold 2';
    font-weight: normal !important;
}

#tblLoginInfo .bodycopy {
    text-transform: uppercase;
}

#pnlEventDetails .detailsview em,
#pnlEventDetails .detailsview i {
    font-family:'TradeGothicNextW02-Ital';
    font-weight: normal !important;
    font-style: normal;
}

td.listbodytext,
td.listbodytextalt {
    border-bottom: 1px solid #ddd;
    padding: 6px 0 6px 10px;
}

td.listbodytext *,
td.listbodytextalt *,
td.listbodytext *:hover,
td.listbodytextalt *:hover {
    font-family:'Trade Gothic Next W01';
    font-weight: normal;
}

#divTableEventsHighlighted a[href],
#divTableHolidays a[href],
#divTableEvents a[href],
#pnlEventDetails .detailsview a {
    font-family:'Trade Gothic Next W01';
    color: #900;
}

#divTableEventsHighlighted a[href]:hover,
#divTableHolidays a[href]:hover,
#divTableEvents a[href]:hover {
    font-family:'Trade Gothic Next W01';
    text-decoration: underline;
}

#pnlEventDetails .detailsview a,
#pnlEventDetails .detailsview a span,
#pnlEventDetails .detailsview a u {
    text-decoration: none;
}

#pnlEventDetails .detailsview a:hover,
#pnlEventDetails .detailsview a span:hover,
#pnlEventDetails .detailsview a u:hover {
    text-decoration: underline;
}

#pnlEventDetails .adx-detailsview-left {
    width: 65% !important;
}

#pnlEventDetails .adx-detailsview-right {
    width: 35% !important;
}

#pnlEventDetails .adx-detailsview-right img {
    max-width: 100%;
    height: auto !important;
}

td.dayheaderSmallGrid {
    background: #fff;
}

td.dayheaderSmallGrid a,
td.dayheaderSmallGrid a:hover {
    background: transparent;
    color: #900;
    display: block;
    margin: 10px 0 5px;
    font-size: 14px;
    display: block;
    float: right;
}

td.dayheaderSmallGrid a:hover {
    text-decoration: underline;
}

/* side panel */

#pnlHideSearch {
    margin: 0 12px 0 0;
}

#CalendarPanel {
    display: block;
    font-size: 15.2px;
    margin: 0 0 10px;
    opacity: 1;
}

#CalendarPanel .titleSmallGrid {
    padding: 2px 0 5px;
}

#CalendarPanel a:hover {
    color: #900;
}

#CalendarPanel .otherdaySmallGrid,
#CalendarPanel .calendarcellhiliteSmallGrid,
#CalendarPanel .calendarcellSmallGrid {
    background: #f5f5f5;
    border: 1px solid #fff;
}

#CalendarPanel .calendarcellhiliteSmallGrid {
    background: #ffe1d2;
}

#CalendarPanel .otherdaySmallGrid:hover,
#CalendarPanel .calendarcellhiliteSmallGrid:hover,
#CalendarPanel .calendarcellSmallGrid:hover {
    background: #ffe1d2;
}

#CalendarPanel .calendarcellhiliteSmallGrid a,
#CalendarPanel .otherdaySmallGrid a,
#CalendarPanel .calendarcellSmallGrid a {
    font-size: .9em
}

a#lbtnNewSearch {
    display: block;
    margin: 0 0 0 4px;
}

a#lbtnNewSearch span {
    font-size: 11px !important;
    display: block;
    float: left;
    clear: both;
}

a#lbtnNewSearch span:hover {
    color: #900;
}

#txtStartDateSearch {
    margin: 0 5px 5px;
}

#txtEndDateSearch {
    margin: 5px 5px 0;
}

#Table2 {
    /* font-size: 0; */
    opacity: .6;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}

#Table2:hover {
    opacity: 1;
}

#cellCBlock {
    max-height: 242px;
    overflow: hidden;
    box-shadow: 0 -11px 10px -10px #bbb inset;
    -webkit-transition: max-height .7s;
    -moz-transition: max-height .7s;
    transition: max-height .7s;
}

#Table2:hover #cellCBlock {
    max-height: 3000px;
    height: auto;
    box-shadow: none;
}

#cellCBlock ~ a {
    display: inline-block;
    margin: 12px 0 8px;
}

#cellCBlock ~ a:hover {
    color: #900;
}

#cellCBlock + a {
    border-right: 1px solid #ccc;
    padding-right: 8px;
    margin-right: 4px;
}

#cellCBlock input[type="checkbox"],
#cellCBlock label {
    font-size: 14px;
    display: inline-block;
    float: left;
    cursor: pointer;
}

#cellCBlock label:hover {
    color: #900;
}

#cellCBlock table tr td:first-child {
    font-size: 0;
}

#cellCBlock input[type="checkbox"] {
    margin: 4px 6px 0;
}

#cellCBlock .ccontainer,
#cellCBlock .ccontainer tbody,
#cellCBlock .ccontainer tr,
#cellCBlock .ccontainer td:nth-child(2) {
    display: block;
    width: 100%;
    clear: both;
}

#cellCBlock a.expander {
    display: none;
}

#cellCBlock .sccontainer {
    display: block;
    margin: 20px 0 0 18px;

}

#lbtnSearch {
    margin: 15px 0 30px;
}

#tblLogin input[type="submit"],
#lbtnSearch {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 18px 10px;
    font-family: 'Trade Gothic Next W01', Arial, sans-serif;
    font-weight: normal !important;
    font-size: inherit;
    text-decoration: none !important;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0 0 10px #fff;
    background: #900 !important;
    border: 1px solid #800;
    color: #fff !important;
    position: relative;
    font-weight: normal !important;
}

#tblLogin input[type="submit"]:hover,
#lbtnSearch:hover, {
    background: #a00!important;
    text-decoration: none !important;
}

#tblLogin input[type="submit"]:active,
#lbtnSearch:active {
    background: #900!important;
}

/* advanced search for calendar grid */

.calendarnowdiv #pnlHide {
    display: block;
    width: 100%;
    max-width: 1024px;
    margin: 15px auto 0;
}

.calendarnowdiv #pnlSearch {
    margin: 15px auto 25px;
    border-top: 1px solid #ddd;
    padding: 25px 0 0;
}

.calendarnowdiv #cellDisplayOptions label {
    margin: 0 2px 0 0;
}

.calendarnowdiv #cellDisplayOptions {
    border: 1px solid #ccc;
    background: #fdfdfd;
    padding: 10px 15px !important;
}

.calendarnowdiv #cellDisplayOptions * {
    background: transparent;
}

.calendarnowdiv #cellDisplayOptions select {
    background: #fff;
    margin: 3px 5px 4px 3px;
}

.calendarnowdiv #cellDateSearching {
    
}

.calendarnowdiv #cellDateSearching > table {
    width: 65%;
    margin: 0 0 0 35%;
}

/*
.calendarnowdiv #cellDateSearching table:nth-child(1),
.calendarnowdiv #cellDateSearching table:nth-child(3) {
    border: 1px solid #ccc;
    background: #fdfdfd;
    padding: 10px 15px !important;
}

.calendarnowdiv #cellDateSearching table:nth-child(1) {
    border-bottom: 0 none;
}

.calendarnowdiv #cellDateSearching table:nth-child(3) {
    border-top: 0 none;
}
*/

.calendarnowdiv #cellDateSearching table h3.adx_wcag_header {
    display: block;
    margin-bottom: 10px;
}

.calendarnowdiv #cellDateSearching #lblFrom,
.calendarnowdiv #cellDateSearching #lblTo {
    display: block;
    padding: 8px 0 0;
    margin: 0;
}

.calendarnowdiv #cellDateSearching #txtStartDateSearch,
.calendarnowdiv #cellDateSearching #txtEndDateSearch {
    margin-bottom: 5px;
    margin-top: 5px;
}

.calendarnowdiv #cellAdvancedSearching {
    padding: 32px 0 0 15px;
}

.calendarnowdiv #cellAdvancedSearching #rowSearchByKeyword input {
    width: 240px !important;
}

.calendarnowdiv #cellAdvancedSearching #lbtnSearch {
    margin: 2px 48px 10px 0;
}

/* calendar grid */

#CalendarPanel {
    margin: 0 auto 50px;
    max-width: 1550px;
}

#CalendarPanel h2.adx_wcag_header {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 12px;
    border: 1px solid #900;
    height: 22px;
}

#CalendarPanel #Calendar1 #lbtnADXCalenderPrevious,
#CalendarPanel #Calendar1 #lbtnADXCalenderNext {
    display: block;
    background: #900;
    width: 100%;
    margin: 0 0 2px 0;
    height: 40px;
    border: 1px solid #900;
}

#CalendarPanel #Calendar1 #lbtnADXCalenderPrevious img,
#CalendarPanel #Calendar1 #lbtnADXCalenderNext img {
    padding: 5px;
    background: #fff;
    border-radius: 20px;
}

#CalendarPanel #Calendar1 #lbtnADXCalenderPrevious img {
    display: block;
    float: right;
    margin: 6px 10px 0 0;
}

#CalendarPanel #Calendar1 #lbtnADXCalenderNext img {
    display: block;
    float: left;
    margin: 6px 0 0 10px;
}

#CalendarPanel .dayheader {
    font-size: 15.2px;
    padding: 5px 0;
    border: 1px solid #000;
}

.calendarcell *,
.otherday *,
.calendarcellhilite * {
    font-family:'Trade Gothic Next W01';
    font-weight: normal;
}

.calendarcell strong,
.otherday strong,
.calendarcellhilite strong,
.calendarcell b,
.otherday b,
.calendarcellhilite b {
    font-family: 'Trade Gothic W01 Bold 2';
    font-weight: normal !important;
    display: block;
}

.calendarcell,
.otherday,
.calendarcellhilite,
.calendarcell:hover,
.otherday:hover,
.calendarcellhilite:hover {
    font-family:'Trade Gothic Next W01' !important;
    font-weight: normal !important;
    border-color: #333 !important;
    font-size: 14px;
    padding: 0;
    background: #fafafa
}

.calendarcell a:first-child,
.otherday a:first-child,
.calendarcellhilite a:first-child {
    font-family: 'Trade Gothic W01 Bold 2';
    font-family:'Trade Gothic Next W01' !important;
    font-weight: normal !important;
    display: inline-block;
    background: #DCDCDC;
    width: 27px;
    font-size: 16px;
    text-align: center;
    padding: 2px 1px 3px 0;
    color: #333;
    margin: 0;
    border: 0 none;
}

.calendarcell .holiday-text,
.otherday .holiday-text,
.calendarcellhilite .holiday-text,
.calendarcell a,
.otherday a,
.calendarcellhilite a {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 5px;
    margin: 2px 3%;
    width: 94%;
    border-bottom: 1px solid #ddd;
    font-family:'Trade Gothic Next W01';
}

.calendarcell .holiday-text:last-child,
.otherday .holiday-text:last-child,
.calendarcellhilite .holiday-text:last-child,
.calendarcell a:last-child,
.otherday a:last-child,
.calendarcellhilite a:last-child,
.calendarcell a:last-of-type,
.otherday a:last-of-type,
.calendarcellhilite a:last-of-type {
    border-bottom: 0 none;
    margin-bottom: 10px
}

.calendarcell .holiday-text:hover,
.otherday .holiday-text:hover,
.calendarcellhilite .holiday-text:hover,
.calendarcell:hover .holiday-text,
.otherday:hover .holiday-text,
.calendarcellhilite:hover .holiday-text {
    color: #000;
}

.calendarcell a[href]:hover,
.otherday a[href]:hover,
.calendarcellhilite a[href]:hover {
    font-family:'Trade Gothic Next W01';
    text-decoration: underline;
}

.calendarcell br,
.otherday br,
.calendarcellhilite br {
    display: none;
}

@media screen and (max-width: 1120px) {
    .calendarcell,
    .otherday,
    .calendarcellhilite,
    .calendarcell:hover,
    .otherday:hover,
    .calendarcellhilite:hover {
        font-size: 13px;
    }
}

/* calendar grid filter functionality */

.calendarnowdiv #lblCategoryHeading:after {
    content: "Filter Events";
    display: block;
    font-family:'Trade Gothic Next W01';
    font-size: 15.2px;
    margin: 5px 0 0;
    color: #900;
    cursor: pointer;
}

.calendarnowdiv #lblCategoryHeading:hover:after {
    text-decoration: underline;
}

/* custom login */

#lbtnSubmitEvents {
    border: 0 none;
    background: transparent;
    margin: 0;
    width: auto;
    padding: 4px;
}

.calendarnowdiv #lbtnSubmitEvents,
.eventlistdiv #lbtnSubmitEvents {
    display: none;
}