/* containers */

body {
    background: #fff;
}

.eventlistdiv {
    display: block;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* general */

.eventlistdiv span,
.eventlistdiv label,
.eventlistdiv table *,
.eventlistdiv a,
.eventlistdiv a:hover,
.eventlistdiv * {
    font-family:'Trade Gothic Next W01';
    font-weight: normal !important;
}

#tblPoweredByADE,
#footer {
    display: none !important;
}

/* headers*/

h2.adx_wcag_header .title {
    font-family: 'CenturyExpandedLTW01-Ro' !important;
    font-weight: 400;
    text-transform: none;
    color: #000;
    font-size: 2em;
    display: block;
}

#pnlListviewHeading {
    font-size: 1em;
    font-weight: normal;
    font-family: 'TradeGothicW01-BoldCn20 675334';
    text-transform: uppercase;
    background: #900;
    padding: 10px 15px 8px;
}

#pnlListviewHeading h2,
#pnlListviewHeading h2 span {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: normal !important;
    font-family: 'TradeGothicW01-BoldCn20 675334';
    font-size: 22px;
    color: #fff;
}

#pnlListviewHeading h2 img {
    display: inline-block;
    border: 1px solid #800;
    border-radius: 10px;
    box-shadow: 0 0 5px #b00;
}


/* labels */

#lblNoHighlight {
    display: none;
}

/* tables */

h3.adx_wcag_header,
h3.adx_wcag_header span,
h3.adx_wcag_header span b {
    display: block;
    font-family:'Trade Gothic Next W01';
    font-weight: normal;
    font-size: 18px;
    display: block;
    color: #555;
    background: #fff;
    text-transform: none;
}

h3.adx_wcag_header {
    margin: 2px 0 10px 2px;
}

#divTableEventsHighlighted tr + tr h3.adx_wcag_header,
#divTableHolidays tr + tr h3.adx_wcag_header,
#divTableEvents tr + tr h3.adx_wcag_header {
    margin-top: 25px;
}

#divTableEventsHighlighted table,
#divTableHolidays table,
#divTableEvents table {
    background: #eee;
    margin: 0 0 20px .5%;
    border: 8px solid #fff;
    box-shadow: 0 0 0 1px #900;
    position: relative;
    margin: 10px 0 20px;
    width: 100% !important;
    background: #fff;
    font-size: 14px;
}

#divTableEventsHighlighted table span,
#divTableEventsHighlighted table a,
#divTableHolidays table span,
#divTableHolidays table a,
#divTableEvents table span,
#divTableEvents table a {
    font-size: 15.2px;
}

.listheadtext {
    width: 100%;
    padding: 4px 3px;
    text-align: left;
}

#divTableEventsHighlighted table .listcolumnheadtext,
#divTableHolidays table .listcolumnheadtext,
#divTableEvents table .listcolumnheadtext {
    display: none;
}

h4.adx_wcag_header {
    padding: 4px;
}

h4.adx_wcag_header span {
    font-family: 'Trade Gothic W01 Bold 2';
}

td.listbodytext,
td.listbodytextalt {
    border-bottom: 1px solid #ddd;
    padding: 6px 0 6px 10px;
}

#divTableEventsHighlighted a[href],
#divTableHolidays a[href],
#divTableEvents a[href] {
    color: #900;
}

#divTableEventsHighlighted a[href]:hover,
#divTableHolidays a[href]:hover,
#divTableEvents a[href]:hover {
    text-decoration: underline;
}